<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.dao.H5PluginMapper">
    
    <resultMap type="H5Plugin" id="H5PluginResult">
        <result property="${column.javaField}"    column="${column.columnName}"    />
    </resultMap>

    <sql id="selectH5PluginVo">
        select $column.columnName from
            7700_live.h5_plugin
    </sql>

    <select id="selectH5PluginList" parameterType="H5Plugin" resultMap="H5PluginResult">
        <include refid="selectH5PluginVo"/>
        <where>  
        </where>
    </select>
    
    <select id="selectH5PluginById" parameterType="${pkColumn.javaType}" resultMap="H5PluginResult">
        <include refid="selectH5PluginVo"/>
        where ${pkColumn.columnName} = #{${pkColumn.javaField}}
    </select>
        
    <insert id="insertH5Plugin" parameterType="H5Plugin">
        insert into 7700_live.h5_plugin
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="$column.javaField != null">$column.columnName,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="$column.javaField != null">#{$column.javaField},</if>
         </trim>
    </insert>

    <update id="updateH5Plugin" parameterType="H5Plugin">
        update 7700_live.h5_plugin
        <trim prefix="SET" suffixOverrides=",">
        </trim>
        where ${pkColumn.columnName} = #{${pkColumn.javaField}}
    </update>

    <delete id="deleteH5PluginById" parameterType="${pkColumn.javaType}">
        delete from 7700_live.h5_plugin where ${pkColumn.columnName} = #{${pkColumn.javaField}}
    </delete>

    <delete id="deleteH5PluginByIds" parameterType="String">
        delete from 7700_live.h5_plugin where ${pkColumn.columnName} in
        <foreach item="${pkColumn.javaField}" collection="array" open="(" separator="," close=")">
            #{${pkColumn.javaField}}
        </foreach>
    </delete>
</mapper>