<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.mapper.ActivityCashBackMapper">

    <resultMap type="ActivityCashBack" id="ActivityCashBackResult">
        <result property="id"    column="id"    />
        <result property="depositTotalMin"    column="deposit_total_min"    />
        <result property="depositTotalMax"    column="deposit_total_max"    />
        <result property="rebate"    column="rebate"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectActivityCashBackVo">
        select id, deposit_total_min, deposit_total_max, rebate, status from ${dbMain}.activity_cash_back
    </sql>

    <select id="selectActivityCashBackList" parameterType="ActivityCashBack" resultMap="ActivityCashBackResult">
        <include refid="selectActivityCashBackVo"/>
        <where>
            <if test="depositTotalMin != null "> and deposit_total_min = #{depositTotalMin}</if>
            <if test="depositTotalMax != null "> and deposit_total_max = #{depositTotalMax}</if>
            <if test="rebate != null "> and rebate = #{rebate}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>

    <select id="selectActivityCashBackById" parameterType="Long" resultMap="ActivityCashBackResult">
        <include refid="selectActivityCashBackVo"/>
        where id = #{id}
    </select>

    <select id="selectActivityCashBackBycash" parameterType="java.math.BigDecimal" resultType="java.lang.Integer">
        select rebate from ${dbMain}.activity_cash_back
        where status =1 and  deposit_total_min <![CDATA[ <= ]]> #{cash}
        and deposit_total_max > #{cash}
    </select>
    <select id="selectActivityCashBackLists"
            resultType="com.qiqilm.server.admin.domain.rsp.RspActivityCashBack">
        SELECT t.user_id,t.income,t.mark,t.create_time FROM (
        SELECT * FROM log_money0 WHERE create_time <![CDATA[ >= ]]> #{startTime} AND create_time &lt;= #{endTime} AND TYPE IN ('5')
        UNION ALL
        SELECT * FROM log_money1 WHERE create_time <![CDATA[ >= ]]> #{startTime} AND create_time &lt;= #{endTime} AND TYPE IN ('5')
        UNION ALL
        SELECT * FROM log_money2 WHERE create_time <![CDATA[ >= ]]> #{startTime} AND create_time &lt;= #{endTime} AND TYPE IN ('5')
        UNION ALL
        SELECT * FROM log_money3 WHERE create_time <![CDATA[ >= ]]> #{startTime} AND create_time &lt;= #{endTime} AND TYPE IN ('5')
        UNION ALL
        SELECT * FROM log_money4 WHERE create_time <![CDATA[ >= ]]> #{startTime} AND create_time &lt;= #{endTime} AND TYPE IN ('5')
        UNION ALL
        SELECT * FROM log_money5 WHERE create_time <![CDATA[ >= ]]> #{startTime} AND create_time &lt;= #{endTime} AND TYPE IN ('5')
        UNION ALL
        SELECT * FROM log_money6 WHERE create_time <![CDATA[ >= ]]> #{startTime} AND create_time &lt;= #{endTime} AND TYPE IN ('5')
        UNION ALL
        SELECT * FROM log_money7 WHERE create_time <![CDATA[ >= ]]> #{startTime} AND create_time &lt;= #{endTime} AND TYPE IN ('5')
        UNION ALL
        SELECT * FROM log_money8 WHERE create_time <![CDATA[ >= ]]> #{startTime} AND create_time &lt;= #{endTime} AND TYPE IN ('5')
        UNION ALL
        SELECT * FROM log_money9 WHERE create_time <![CDATA[ >= ]]> #{startTime} AND create_time &lt;= #{endTime} AND TYPE IN ('5') ) t
    </select>

    <select id="selectActivate" resultMap="ActivityCashBackResult">
        <include refid="selectActivityCashBackVo" />
        where status = 1
    </select>

    <insert id="insertActivityCashBack" parameterType="ActivityCashBack" useGeneratedKeys="true" keyProperty="id">
        insert into ${dbMain}.activity_cash_back
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="depositTotalMin != null">deposit_total_min,</if>
            <if test="depositTotalMax != null">deposit_total_max,</if>
            <if test="rebate != null">rebate,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="depositTotalMin != null">#{depositTotalMin},</if>
                    <if test="depositTotalMax != null">#{depositTotalMax},</if>
                    <if test="rebate != null">#{rebate},</if>
                    <if test="status != null">#{status},</if>
             </trim>
    </insert>

    <update id="updateActivityCashBack" parameterType="ActivityCashBack">
        update ${dbMain}.activity_cash_back
        <trim prefix="SET" suffixOverrides=",">
            <if test="depositTotalMin != null">deposit_total_min = #{depositTotalMin},</if>
    
            <if test="depositTotalMax != null">deposit_total_max = #{depositTotalMax},</if>
    
            <if test="rebate != null">rebate = #{rebate},</if>
    
            <if test="status != null">status = #{status},</if>
    
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteActivityCashBackById" parameterType="Long">
        delete from ${dbMain}.activity_cash_back where id = #{id}
    </delete>

    <delete id="deleteActivityCashBackByIds" parameterType="String">
        delete from ${dbMain}.activity_cash_back where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
