<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.mapper.ActivityWithdrawCashBackMapper">
    <resultMap type="ActivityWithdrawCashBack" id="ActivityWithdrawCashBackResult">
        <result property="bankCode"         column="bank_code"/>
        <result property="withdrawTotalMin" column="withdraw_total_min"/>
        <result property="withdrawTotalMax" column="withdraw_total_max"/>
        <result property="rate"             column="rate"/>
        <result property="status"           column="status"/>
    </resultMap>

    <sql id="selectActivityWithdrawCashBackVo">
        select bank_code, withdraw_total_min, withdraw_total_max, rate, status from activity_withdraw_cash_back
    </sql>

    <insert id="add">
        insert into activity_withdraw_cash_back
            (bank_code, withdraw_total_min, withdraw_total_max, rate, status)
        values
            (#{bankCode}, #{withdrawTotalMin}, #{withdrawTotalMax}, #{rate}, #{status})
    </insert>

    <update id="update">
        update activity_withdraw_cash_back
        <set>
            <if test="withdrawTotalMin != null">withdraw_total_min = #{withdrawTotalMin},</if>
            <if test="withdrawTotalMax != null">withdraw_total_max = #{withdrawTotalMax},</if>
            <if test="rate != null">rate = #{rate},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        where bank_code = #{bankCode}
    </update>

    <update id="updateStatus">
        update activity_withdraw_cash_back
        set status = #{status}
        where bank_code = #{bankCode}
    </update>

    <delete id="deleteByBankCodes">
        delete from activity_withdraw_cash_back
        where bank_code in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="selectByBankCode" resultMap="ActivityWithdrawCashBackResult">
        <include refid="selectActivityWithdrawCashBackVo"/>
        where bank_code = #{bankCode}
    </select>

    <select id="list" resultMap="ActivityWithdrawCashBackResult">
        <include refid="selectActivityWithdrawCashBackVo"/>
    </select>

    <select id="getConfigBankList" resultType="com.qiqilm.server.admin.domain.ConfigBank">
        select code, name from config_bank where code like '%pay'
    </select>
</mapper>
