<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.mapper.BankListMapper">

    <resultMap type="BankList" id="BankListResult">
        <result property="id"    column="id"    />
        <result property="bankName"    column="bank_name"    />
        <result property="bankCode"    column="bank_code"    />
        <result property="bankIcon"    column="bank_icon"    />
        <result property="status"    column="status"    />
        <result property="sort"    column="sort"    />
        <result property="url"    column="url"    />
        <result property="colorEnd"    column="color_end"    />
        <result property="colorStart"    column="color_start"    />
    </resultMap>

    <sql id="selectBankListVo">
        select id, bank_name, bank_code, bank_icon, status, sort, url, color_end, color_start from ${dbMain}.bank_list
    </sql>

    <select id="selectBankListList" parameterType="BankList" resultMap="BankListResult">
        <include refid="selectBankListVo"/>
        <where>
            <if test="bankName != null  and bankName != ''"> and bank_name like concat('%', #{bankName}, '%')</if>
            <if test="bankCode != null  and bankCode != ''"> and bank_code = #{bankCode}</if>
            <if test="url != null  and url != ''"> and url = #{url}</if>
            <if test="colorEnd != null  and colorEnd != ''"> and color_end = #{colorEnd}</if>
            <if test="colorStart != null  and colorStart != ''"> and color_start = #{colorStart}</if>
        </where>
    </select>

    <select id="selectBankListById" parameterType="Long" resultMap="BankListResult">
        <include refid="selectBankListVo"/>
        where id = #{id}
    </select>

    <insert id="insertBankList" parameterType="BankList" useGeneratedKeys="true" keyProperty="id">
        insert into ${dbMain}.bank_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bankName != null and bankName != ''">bank_name,</if>
            <if test="bankCode != null and bankCode != ''">bank_code,</if>
            <if test="bankIcon != null and bankIcon != ''">bank_icon,</if>
            <if test="status != null">status,</if>
            <if test="sort != null">sort,</if>
            <if test="url != null and url != ''">url,</if>
            <if test="colorEnd != null">color_end,</if>
            <if test="colorStart != null">color_start,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bankName != null and bankName != ''">#{bankName},</if>
            <if test="bankCode != null and bankCode != ''">#{bankCode},</if>
            <if test="bankIcon != null and bankIcon != ''">#{bankIcon},</if>
            <if test="status != null">#{status},</if>
            <if test="sort != null">#{sort},</if>
            <if test="url != null and url != ''">#{url},</if>
            <if test="colorEnd != null">#{colorEnd},</if>
            <if test="colorStart != null">#{colorStart},</if>
        </trim>
    </insert>

    <update id="updateBankList" parameterType="BankList">
        update ${dbMain}.bank_list
        <trim prefix="SET" suffixOverrides=",">
            <if test="bankName != null and bankName != ''">bank_name = #{bankName},</if>

            <if test="bankCode != null and bankCode != ''">bank_code = #{bankCode},</if>

            <if test="bankIcon != null and bankIcon != ''">bank_icon = #{bankIcon},</if>

            <if test="status != null">status = #{status},</if>

            <if test="sort != null">sort = #{sort},</if>

            <if test="url != null and url != ''">url = #{url},</if>

            <if test="colorEnd != null">color_end = #{colorEnd},</if>

            <if test="colorStart != null">color_start = #{colorStart},</if>

        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBankListById" parameterType="Long">
        delete from ${dbMain}.bank_list where id = #{id}
    </delete>

    <delete id="deleteBankListByIds" parameterType="String">
        delete from ${dbMain}.bank_list where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
