<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.mapper.ConfigMoneydesMapper">

    <resultMap type="ConfigMoneydes" id="ConfigMoneydesResult">
        <result property="mdId"    column="md_id"    />
        <result property="val"    column="val"    />
        <result property="des"    column="des"    />
    </resultMap>

    <sql id="selectConfigMoneydesVo">
        select md_id, val, des from db_cx001.config_moneydes
    </sql>

    <select id="selectConfigMoneydesList" parameterType="ConfigMoneydes" resultMap="ConfigMoneydesResult">
        <include refid="selectConfigMoneydesVo"/>
        <where>
            <if test="val != null  and val != ''"> and val = #{val}</if>
            <if test="des != null  and des != ''"> and des = #{des}</if>
        </where>
    </select>

    <select id="selectConfigMoneydesById" parameterType="Long" resultMap="ConfigMoneydesResult">
        <include refid="selectConfigMoneydesVo"/>
        where md_id = #{mdId}
    </select>

    <insert id="insertConfigMoneydes" parameterType="ConfigMoneydes" useGeneratedKeys="true" keyProperty="mdId">
        insert into db_cx001.config_moneydes
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="val != null">val,</if>
            <if test="des != null">des,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="val != null">#{val},</if>
                    <if test="des != null">#{des},</if>
             </trim>
    </insert>

    <update id="updateConfigMoneydes" parameterType="ConfigMoneydes">
        update db_cx001.config_moneydes
        <trim prefix="SET" suffixOverrides=",">
            <if test="val != null">val = #{val},</if>
    
            <if test="des != null">des = #{des},</if>
    
        </trim>
        where md_id = #{mdId}
    </update>

    <delete id="deleteConfigMoneydesById" parameterType="Long">
        delete from db_cx001.config_moneydes where md_id = #{mdId}
    </delete>

    <delete id="deleteConfigMoneydesByIds" parameterType="String">
        delete from db_cx001.config_moneydes where md_id in
        <foreach item="mdId" collection="array" open="(" separator="," close=")">
            #{mdId}
        </foreach>
    </delete>
</mapper>
