<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.mapper.GameDataLogMapper">

    <resultMap type="GameDataLog" id="GameDataLogResult">
        <result property="id"    column="id"    />
        <result property="gameId"    column="game_id"    />
        <result property="cxAgent"    column="cx_agent"    />
        <result property="account"    column="account"    />
        <result property="serverId"    column="server_id"    />
        <result property="kindId"    column="kind_id"    />
        <result property="tableId"    column="table_id"    />
        <result property="chairId"    column="chair_id"    />
        <result property="cellScore"    column="cell_score"    />
        <result property="allBet"    column="all_bet"    />
        <result property="profit"    column="profit"    />
        <result property="revenue"    column="revenue"    />
        <result property="gameStartTime"    column="game_start_time"    />
        <result property="gameEndTime"    column="game_end_time"    />
        <result property="platformId"    column="platform_id"    />
        <result property="agent"    column="agent"    />
    </resultMap>

    <sql id="selectGameDataLogVo">
        select id, game_id, cx_agent, account, server_id, kind_id, table_id, chair_id, cell_score, all_bet, profit, revenue, game_start_time, game_end_time, platform_id, agent from db_data.game_data_log
    </sql>

    <select id="selectGameDataLogList"  resultMap="GameDataLogResult">
        <include refid="selectGameDataLogVo"/>
        where game_end_time &gt;=  #{start} and game_end_time &lt;=  #{end}
        <if test="account != null "> and account = #{account}</if>
        <if test="platformId != null "> and platform_id = #{platformId}</if>
        and cx_agent = #{cxAgent}
    </select>

    <select id="selectGameDataAgentList"  resultMap="GameDataLogResult">
        select id, game_id, cx_agent, account, server_id, kind_id, table_id, chair_id, cell_score, all_bet, profit, revenue, game_start_time, game_end_time, platform_id,
        agent from db_data.${tableNode}
        where game_end_time &gt;=  #{start} and game_end_time &lt;=  #{end}
        <if test="account != null "> and account = #{account}</if>
        <if test="platformId != null "> and platform_id = #{platformId}</if>
    </select>

    <select id="selectGameDataLogById" parameterType="String" resultMap="GameDataLogResult">
        <include refid="selectGameDataLogVo"/>
        where id = #{id}
    </select>

    <insert id="insertGameDataLog" parameterType="GameDataLog">
        insert into db_data.game_data_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="gameId != null and gameId != ''">game_id,</if>
            <if test="cxAgent != null">cx_agent,</if>
            <if test="account != null">account,</if>
            <if test="serverId != null">server_id,</if>
            <if test="kindId != null">kind_id,</if>
            <if test="tableId != null">table_id,</if>
            <if test="chairId != null">chair_id,</if>
            <if test="cellScore != null">cell_score,</if>
            <if test="allBet != null">all_bet,</if>
            <if test="profit != null">profit,</if>
            <if test="revenue != null">revenue,</if>
            <if test="gameStartTime != null">game_start_time,</if>
            <if test="gameEndTime != null">game_end_time,</if>
            <if test="platformId != null">platform_id,</if>
            <if test="agent != null">agent,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id},</if>
                    <if test="gameId != null and gameId != ''">#{gameId},</if>
                    <if test="cxAgent != null">#{cxAgent},</if>
                    <if test="account != null">#{account},</if>
                    <if test="serverId != null">#{serverId},</if>
                    <if test="kindId != null">#{kindId},</if>
                    <if test="tableId != null">#{tableId},</if>
                    <if test="chairId != null">#{chairId},</if>
                    <if test="cellScore != null">#{cellScore},</if>
                    <if test="allBet != null">#{allBet},</if>
                    <if test="profit != null">#{profit},</if>
                    <if test="revenue != null">#{revenue},</if>
                    <if test="gameStartTime != null">#{gameStartTime},</if>
                    <if test="gameEndTime != null">#{gameEndTime},</if>
                    <if test="platformId != null">#{platformId},</if>
                    <if test="agent != null">#{agent},</if>
             </trim>
    </insert>

    <update id="updateGameDataLog" parameterType="GameDataLog">
        update db_data.game_data_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="gameId != null and gameId != ''">game_id = #{gameId},</if>
    
            <if test="cxAgent != null">cx_agent = #{cxAgent},</if>
    
            <if test="account != null">account = #{account},</if>
    
            <if test="serverId != null">server_id = #{serverId},</if>
    
            <if test="kindId != null">kind_id = #{kindId},</if>
    
            <if test="tableId != null">table_id = #{tableId},</if>
    
            <if test="chairId != null">chair_id = #{chairId},</if>
    
            <if test="cellScore != null">cell_score = #{cellScore},</if>
    
            <if test="allBet != null">all_bet = #{allBet},</if>
    
            <if test="profit != null">profit = #{profit},</if>
    
            <if test="revenue != null">revenue = #{revenue},</if>
    
            <if test="gameStartTime != null">game_start_time = #{gameStartTime},</if>
    
            <if test="gameEndTime != null">game_end_time = #{gameEndTime},</if>
    
            <if test="platformId != null">platform_id = #{platformId},</if>
    
            <if test="agent != null">agent = #{agent},</if>
    
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGameDataLogById" parameterType="String">
        delete from db_data.game_data_log where id = #{id}
    </delete>

    <delete id="deleteGameDataLogByIds" parameterType="String">
        delete from db_data.game_data_log where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
