<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.mapper.GamePlatformMapper">

    <resultMap type="GamePlatform" id="GamePlatformResult">
        <result property="id"    column="id"    />
        <result property="agent"    column="agent"    />
        <result property="name"    column="name"    />
        <result property="apiUrl"    column="api_url"    />
        <result property="recordUrl"    column="record_url"    />
        <result property="des"    column="des"    />
        <result property="md5"    column="md5"    />
        <result property="linecode"    column="linecode"    />
        <result property="rateClean"    column="rate_clean"    />
        <result property="gameTypeid"    column="game_typeID"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="rateBeat"    column="rate_beat"    />
    </resultMap>

    <sql id="selectGamePlatformVo">
        select id, agent, name, api_url, record_url, des, md5, linecode, rate_clean, game_typeID, status, create_by,create_time,update_by,update_time , rate_beat from ${dbMain}.game_platform
    </sql>
    <select id="getGameListInfo" parameterType="GamePlatform" resultMap="GamePlatformResult">
        select id, name
        from ${dbMain}.game_platform
    </select>
    <select id="selectGamePlatformList" parameterType="GamePlatform" resultMap="GamePlatformResult">
        <include refid="selectGamePlatformVo"/>
        <where>
            <if test="agent != null  and agent != ''"> and agent = #{agent}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>

    <update id="changeStattus" parameterType="GamePlatform">
        update ${dbMain}.game_platform
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <select id="selectGamePlatformById" parameterType="Integer" resultMap="GamePlatformResult">
        <include refid="selectGamePlatformVo"/>
        where id = #{id}
    </select>

    <insert id="insertGamePlatform" parameterType="GamePlatform">
        insert into ${dbMain}.game_platform
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="agent != null">agent,</if>
            <if test="name != null">name,</if>
            <if test="apiUrl != null">api_url,</if>
            <if test="recordUrl != null">record_url,</if>
            <if test="des != null">des,</if>
            <if test="md5 != null">md5,</if>
            <if test="linecode != null">linecode,</if>
            <if test="rateClean != null">rate_clean,</if>
            <if test="gameTypeid != null">game_typeID,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="rateBeat != null">rate_beat,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="agent != null">#{agent},</if>
            <if test="name != null">#{name},</if>
            <if test="apiUrl != null">#{apiUrl},</if>
            <if test="recordUrl != null">#{recordUrl},</if>
            <if test="des != null">#{des},</if>
            <if test="md5 != null">#{md5},</if>
            <if test="linecode != null">#{linecode},</if>
            <if test="rateClean != null">#{rateClean},</if>
            <if test="gameTypeid != null">#{gameTypeid},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="rateBeat != null">#{rateBeat},</if>
        </trim>
    </insert>

    <update id="updateGamePlatform" parameterType="GamePlatform">
        update ${dbMain}.game_platform
        <trim prefix="SET" suffixOverrides=",">
            <if test="agent != null">agent = #{agent},</if>
            <if test="name != null">name = #{name},</if>
            <if test="apiUrl != null">api_url = #{apiUrl},</if>
            <if test="recordUrl != null">record_url = #{recordUrl},</if>
            <if test="des != null">des = #{des},</if>
            <if test="md5 != null">md5 = #{md5},</if>
            <if test="linecode != null">linecode = #{linecode},</if>
            <if test="rateClean != null">rate_clean = #{rateClean},</if>
            <if test="gameTypeid != null">game_typeID = #{gameTypeid},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="rateBeat != null">rate_beat = #{rateBeat},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGamePlatformById" parameterType="Long">
        delete from ${dbMain}.game_platform where id = #{id}
    </delete>

    <select id="findAgentList" resultType="com.qiqilm.server.admin.domain.GamePlatform">
        select agent,name
        from game_platform
        <where>
            <if test="req.platformName != null and req.platformName !=''">
                and name = #{req.platformName}
            </if>
        </where>
    </select>

    <delete id="deleteGamePlatformByIds" parameterType="String">
        delete from ${dbMain}.game_platform where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="findSimpleList" resultType="com.qiqilm.server.admin.domain.GamePlatform">
        select id, agent, name, api_url as apiUrl, record_url as recordUrl, des, md5, linecode, rate_clean as rateClean,
        game_typeID as gameTypeid, status, create_by as createBy,create_time as createTime,update_by as updateBy,update_time asupdateTime, rate_beat as rateBeat
        from game_platform
        where status =1
    </select>

    <select id="findSimpleLists" resultType="com.qiqilm.server.admin.domain.rsp.RspGamePlatform">
        select *
        from game_platform
        where status =1
    </select>

</mapper>