<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.mapper.LivePayLogMapper">

    <resultMap type="LivePayLog" id="LivePayLogResult">
        <result property="id"    column="id"    />
        <result property="totalTime"    column="total_time"    />
        <result property="totalTicket"    column="total_ticket"    />
        <result property="totalDiamonds"    column="total_diamonds"    />
        <result property="fromUserId"    column="from_user_id"    />
        <result property="pUserId"    column="p_user_id"    />
        <result property="fromUserName"    column="from_user_name"    />
        <result property="toUserId"    column="to_user_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="createDate"    column="create_date"    />
        <result property="createYm"    column="create_ym"    />
        <result property="createD"    column="create_d"    />
        <result property="createW"    column="create_w"    />
        <result property="liveFee"    column="live_fee"    />
        <result property="livePayTime"    column="live_pay_time"    />
        <result property="livePayDate"    column="live_pay_date"    />
        <result property="videoId"    column="video_id"    />
        <result property="groupId"    column="group_id"    />
        <result property="payTimeEnd"    column="pay_time_end"    />
        <result property="payTimeNext"    column="pay_time_next"    />
        <result property="liveIsMentionTime"    column="live_is_mention_time"    />
        <result property="liveIsMentionPay"    column="live_is_mention_pay"    />
        <result property="livePayType"    column="live_pay_type"    />
        <result property="newRoomId"    column="new_room_id"    />
        <result property="totalScore"    column="total_score"    />
        <result property="uesddiamondsToScore"    column="uesddiamonds_to_score"    />
        <result property="ticketToRate"    column="ticket_to_rate"    />
        <result property="payType"    column="pay_type"    />
        <result property="isHistory"    column="is_history"    />
        <result property="isNote"    column="is_note"    />
    </resultMap>

    <sql id="selectLivePayLogVo">
        select id, total_time, total_ticket, total_diamonds, from_user_id, p_user_id, from_user_name, to_user_id,  FROM_UNIXTIME(create_time) create_time ,  create_date, create_ym, create_d, create_w, live_fee, live_pay_time, live_pay_date, video_id, group_id, pay_time_end, pay_time_next, live_is_mention_time, live_is_mention_pay, live_pay_type, new_room_id, total_score, uesddiamonds_to_score, ticket_to_rate, pay_type, is_history, is_note from cx_live.live_pay_log
    </sql>

    <select id="selectLivePayLogList" parameterType="LivePayLog" resultMap="LivePayLogResult">
        <include refid="selectLivePayLogVo"/>
        <where>
            <if test="totalTime != null "> and total_time = #{totalTime}</if>
            <if test="totalTicket != null "> and total_ticket = #{totalTicket}</if>
            <if test="totalDiamonds != null "> and total_diamonds = #{totalDiamonds}</if>
            <if test="fromUserId != null "> and from_user_id = #{fromUserId}</if>
            <if test="pUserId != null  and pUserId != ''"> and p_user_id = #{pUserId}</if>
            <if test="fromUserName != null  and fromUserName != ''"> and from_user_name like concat('%', #{fromUserName}, '%')</if>
            <if test="toUserId != null "> and to_user_id = #{toUserId}</if>
            <if test="createDate != null "> and create_date = #{createDate}</if>
            <if test="createYm != null  and createYm != ''"> and create_ym = #{createYm}</if>
            <if test="createD != null "> and create_d = #{createD}</if>
            <if test="createW != null "> and create_w = #{createW}</if>
            <if test="liveFee != null "> and live_fee = #{liveFee}</if>
            <if test="livePayTime != null "> and live_pay_time = #{livePayTime}</if>
            <if test="livePayDate != null "> and live_pay_date = #{livePayDate}</if>
            <if test="videoId != null "> and video_id = #{videoId}</if>
            <if test="groupId != null  and groupId != ''"> and group_id = #{groupId}</if>
            <if test="payTimeEnd != null "> and pay_time_end = #{payTimeEnd}</if>
            <if test="payTimeNext != null "> and pay_time_next = #{payTimeNext}</if>
            <if test="liveIsMentionTime != null "> and live_is_mention_time = #{liveIsMentionTime}</if>
            <if test="liveIsMentionPay != null "> and live_is_mention_pay = #{liveIsMentionPay}</if>
            <if test="livePayType != null "> and live_pay_type = #{livePayType}</if>
            <if test="newRoomId != null "> and new_room_id = #{newRoomId}</if>
            <if test="totalScore != null "> and total_score = #{totalScore}</if>
            <if test="uesddiamondsToScore != null "> and uesddiamonds_to_score = #{uesddiamondsToScore}</if>
            <if test="ticketToRate != null "> and ticket_to_rate = #{ticketToRate}</if>
            <if test="payType != null "> and pay_type = #{payType}</if>
            <if test="isHistory != null "> and is_history = #{isHistory}</if>
            <if test="isNote != null "> and is_note = #{isNote}</if>
        </where>
    </select>

    <select id="selectLivePayLogById" parameterType="Long" resultMap="LivePayLogResult">
        <include refid="selectLivePayLogVo"/>
        where id = #{id}
    </select>

    <insert id="insertLivePayLog" parameterType="LivePayLog" useGeneratedKeys="true" keyProperty="id">
        insert into cx_live.live_pay_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="totalTime != null">total_time,</if>
            <if test="totalTicket != null">total_ticket,</if>
            <if test="totalDiamonds != null">total_diamonds,</if>
            <if test="fromUserId != null">from_user_id,</if>
            <if test="pUserId != null">p_user_id,</if>
            <if test="fromUserName != null">from_user_name,</if>
            <if test="toUserId != null">to_user_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createDate != null">create_date,</if>
            <if test="createYm != null">create_ym,</if>
            <if test="createD != null">create_d,</if>
            <if test="createW != null">create_w,</if>
            <if test="liveFee != null">live_fee,</if>
            <if test="livePayTime != null">live_pay_time,</if>
            <if test="livePayDate != null">live_pay_date,</if>
            <if test="videoId != null">video_id,</if>
            <if test="groupId != null and groupId != ''">group_id,</if>
            <if test="payTimeEnd != null">pay_time_end,</if>
            <if test="payTimeNext != null">pay_time_next,</if>
            <if test="liveIsMentionTime != null">live_is_mention_time,</if>
            <if test="liveIsMentionPay != null">live_is_mention_pay,</if>
            <if test="livePayType != null">live_pay_type,</if>
            <if test="newRoomId != null">new_room_id,</if>
            <if test="totalScore != null">total_score,</if>
            <if test="uesddiamondsToScore != null">uesddiamonds_to_score,</if>
            <if test="ticketToRate != null">ticket_to_rate,</if>
            <if test="payType != null">pay_type,</if>
            <if test="isHistory != null">is_history,</if>
            <if test="isNote != null">is_note,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="totalTime != null">#{totalTime},</if>
                    <if test="totalTicket != null">#{totalTicket},</if>
                    <if test="totalDiamonds != null">#{totalDiamonds},</if>
                    <if test="fromUserId != null">#{fromUserId},</if>
                    <if test="pUserId != null">#{pUserId},</if>
                    <if test="fromUserName != null">#{fromUserName},</if>
                    <if test="toUserId != null">#{toUserId},</if>
                <if test="createTime != null">UNIX_TIMESTAMP(#{createTime}),</if>
                    <if test="createDate != null">#{createDate},</if>
                    <if test="createYm != null">#{createYm},</if>
                    <if test="createD != null">#{createD},</if>
                    <if test="createW != null">#{createW},</if>
                    <if test="liveFee != null">#{liveFee},</if>
                    <if test="livePayTime != null">#{livePayTime},</if>
                    <if test="livePayDate != null">#{livePayDate},</if>
                    <if test="videoId != null">#{videoId},</if>
                    <if test="groupId != null and groupId != ''">#{groupId},</if>
                    <if test="payTimeEnd != null">#{payTimeEnd},</if>
                    <if test="payTimeNext != null">#{payTimeNext},</if>
                    <if test="liveIsMentionTime != null">#{liveIsMentionTime},</if>
                    <if test="liveIsMentionPay != null">#{liveIsMentionPay},</if>
                    <if test="livePayType != null">#{livePayType},</if>
                    <if test="newRoomId != null">#{newRoomId},</if>
                    <if test="totalScore != null">#{totalScore},</if>
                    <if test="uesddiamondsToScore != null">#{uesddiamondsToScore},</if>
                    <if test="ticketToRate != null">#{ticketToRate},</if>
                    <if test="payType != null">#{payType},</if>
                    <if test="isHistory != null">#{isHistory},</if>
                    <if test="isNote != null">#{isNote},</if>
             </trim>
    </insert>

    <update id="updateLivePayLog" parameterType="LivePayLog">
        update cx_live.live_pay_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="totalTime != null">total_time = #{totalTime},</if>
    
            <if test="totalTicket != null">total_ticket = #{totalTicket},</if>
    
            <if test="totalDiamonds != null">total_diamonds = #{totalDiamonds},</if>
    
            <if test="fromUserId != null">from_user_id = #{fromUserId},</if>
    
            <if test="pUserId != null">p_user_id = #{pUserId},</if>
    
            <if test="fromUserName != null">from_user_name = #{fromUserName},</if>
    
            <if test="toUserId != null">to_user_id = #{toUserId},</if>
    
            <if test="createTime != null">create_time = UNIX_TIMESTAMP(#{createTime}),</if>
    
            <if test="createDate != null">create_date = #{createDate},</if>
    
            <if test="createYm != null">create_ym = #{createYm},</if>
    
            <if test="createD != null">create_d = #{createD},</if>
    
            <if test="createW != null">create_w = #{createW},</if>
    
            <if test="liveFee != null">live_fee = #{liveFee},</if>
    
            <if test="livePayTime != null">live_pay_time = #{livePayTime},</if>
    
            <if test="livePayDate != null">live_pay_date = #{livePayDate},</if>
    
            <if test="videoId != null">video_id = #{videoId},</if>
    
            <if test="groupId != null and groupId != ''">group_id = #{groupId},</if>
    
            <if test="payTimeEnd != null">pay_time_end = #{payTimeEnd},</if>
    
            <if test="payTimeNext != null">pay_time_next = #{payTimeNext},</if>
    
            <if test="liveIsMentionTime != null">live_is_mention_time = #{liveIsMentionTime},</if>
    
            <if test="liveIsMentionPay != null">live_is_mention_pay = #{liveIsMentionPay},</if>
    
            <if test="livePayType != null">live_pay_type = #{livePayType},</if>
    
            <if test="newRoomId != null">new_room_id = #{newRoomId},</if>
    
            <if test="totalScore != null">total_score = #{totalScore},</if>
    
            <if test="uesddiamondsToScore != null">uesddiamonds_to_score = #{uesddiamondsToScore},</if>
    
            <if test="ticketToRate != null">ticket_to_rate = #{ticketToRate},</if>
    
            <if test="payType != null">pay_type = #{payType},</if>
    
            <if test="isHistory != null">is_history = #{isHistory},</if>
    
            <if test="isNote != null">is_note = #{isNote},</if>
    
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLivePayLogById" parameterType="Long">
        delete from cx_live.live_pay_log where id = #{id}
    </delete>

    <delete id="deleteLivePayLogByIds" parameterType="String">
        delete from cx_live.live_pay_log where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
