<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.mapper.LiveUserMapper">

    <resultMap type="com.qiqilm.server.admin.domain.LiveUser" id="LiveUserResult">
        <result property="id"    column="id"    />
        <result property="nickName"    column="nick_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isAuthentication"    column="is_authentication"    />
        <result property="loginIp"    column="login_ip"    />
        <result property="focusCount"    column="focus_count"    />
        <result property="mobile"    column="mobile"    />
        <result property="authenticationType"    column="authentication_type"    />
        <result property="authenticationName"    column="authentication_name"    />
        <result property="identifyHoldImage"    column="identify_hold_image"    />
        <result property="identifyPositiveImage"    column="identify_positive_image"    />
        <result property="identifyNagativeImage"    column="identify_nagative_image"    />
        <result property="vExplain"    column="v_explain"    />
        <result property="fansCount"    column="fans_count"    />
        <result property="ticket"    column="ticket"    />
        <result property="refundTicket"    column="refund_ticket"    />
        <result property="isBan"    column="is_ban"    />
        <result property="identifyNumber"    column="identify_number"    />
        <result property="familyId"    column="family_id"    />
        <result property="familyName"    column="family_name"    />
        <result property="familyUserId"    column="family_user_id"    />
        <result property="familyNickName"    column="family_nick_name"    />
        <result property="coin"    column="coin"    />
        <result property="aloneTicketRatio"    column="alone_ticket_ratio"    />
        <result property="openPay"    column="open_pay"    />
        <result property="banRemark"    column="ban_remark"    />
        <result property="loginTime"    column="login_time"    />
        <result property="logoutTime"    column="logout_time"    />
    </resultMap>

    <sql id="selectLiveUserVo">
        select u.id,u.nick_name,signature,FROM_UNIXTIME(u.create_time) create_time,FROM_UNIXTIME(u.update_time) update_time,
		is_authentication,login_ip,focus_count,mobile,authentication_type,authentication_name,identify_hold_image,
		identify_positive_image,identify_nagative_image, fans_count, ticket, refund_ticket,is_ban,v_explain,family_id,
		coin,alone_ticket_ratio,open_pay,ban_remark,identify_number,login_time,logout_time,f.name family_name,
        f.user_id family_user_id,f.nick_name family_nick_name
		from ${dbLive}.live_user u left join ${dbLive}.live_family f on (f.id = u.family_id)
    </sql>

    <select id="selectLiveUserList" parameterType="LiveUser" resultMap="LiveUserResult">
        <include refid="selectLiveUserVo"/>
        <where>
            <if test="id != null and id != ''">
                and u.id = #{id}
            </if>
            <if test="nickName != null  and nickName != ''"> and nick_name like concat('%', #{nickName}, '%')</if>
            <if test="isAuthentication != null "> and is_authentication = #{isAuthentication}</if>
            <if test="loginIp != null  and loginIp != ''"> and login_ip = #{loginIp}</if>
            <if test="mobile != null  and mobile != ''"> and mobile = #{mobile}</if>
            <if test="fansCount != null "> and fans_count = #{fansCount}</if>
            <if test="isBan != null "> and is_ban = #{isBan}</if>
            <if test="identifyNumber != null  and identifyNumber != ''"> and identify_number = #{identifyNumber}</if>
            <if test="familyId != null "> and family_id = #{familyId}</if>
            <if test="coin != null "> and coin = #{coin}</if>
            <if test="openPay != null "> and open_pay = #{openPay}</if>
        </where>
    </select>

    <select id="selectLiveUserById" parameterType="Long" resultMap="LiveUserResult">
        <include refid="selectLiveUserVo"/>
        where u.id = #{id}
    </select>

    <insert id="insertLiveUser" parameterType="LiveUser" useGeneratedKeys="true" keyProperty="id">
        insert into ${dbLive}.live_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="nickName != null and nickName != ''">nick_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isAuthentication != null">is_authentication,</if>
            <if test="loginIp != null">login_ip,</if>
            <if test="focusCount != null">focus_count,</if>
            <if test="mobile != null and mobile != ''">mobile,</if>
            <if test="authenticationType != null">authentication_type,</if>
            <if test="authenticationName != null">authentication_name,</if>
            <if test="identifyHoldImage != null">identify_hold_image,</if>
            <if test="identifyPositiveImage != null">identify_positive_image,</if>
            <if test="identifyNagativeImage != null">identify_nagative_image,</if>
            <if test="investorSendInfo != null">investor_send_info,</if>
            <if test="vExplain != null">v_explain,</if>
            <if test="fansCount != null">fans_count,</if>
            <if test="ticket != null">ticket,</if>
            <if test="refundTicket != null">refund_ticket,</if>
            <if test="isBan != null">is_ban,</if>
            <if test="identifyNumber != null">identify_number,</if>
            <if test="familyId != null">family_id,</if>
            <if test="coin != null">coin,</if>
            <if test="aloneTicketRatio != null and aloneTicketRatio != ''">alone_ticket_ratio,</if>
            <if test="openPay != null">open_pay,</if>
            <if test="banRemark != null">ban_remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="nickName != null and nickName != ''">#{nickName},</if>
			<if test="createTime != null">UNIX_TIMESTAMP(#{createTime}),</if>
			<if test="updateTime != null">UNIX_TIMESTAMP(#{updateTime}),</if>
			<if test="isAuthentication != null">#{isAuthentication},</if>
			<if test="loginIp != null">#{loginIp},</if>
			<if test="focusCount != null">#{focusCount},</if>
            <if test="vExplain != null">#{vExplain},</if>
			<if test="mobile != null and mobile != ''">#{mobile},</if>
			<if test="authenticationType != null">#{authenticationType},</if>
			<if test="authenticationName != null">#{authenticationName},</if>
			<if test="identifyHoldImage != null">#{identifyHoldImage},</if>
			<if test="identifyPositiveImage != null">#{identifyPositiveImage},</if>
			<if test="identifyNagativeImage != null">#{identifyNagativeImage},</if>
			<if test="investorSendInfo != null">#{investorSendInfo},</if>
			<if test="fansCount != null">#{fansCount},</if>
			<if test="ticket != null">#{ticket},</if>
			<if test="refundTicket != null">#{refundTicket},</if>
			<if test="isBan != null">#{isBan},</if>
			<if test="identifyNumber != null">#{identifyNumber},</if>
			<if test="familyId != null">#{familyId},</if>
			<if test="coin != null">#{coin},</if>
			<if test="aloneTicketRatio != null and aloneTicketRatio != ''">#{aloneTicketRatio},</if>
			<if test="openPay != null">#{openPay},</if>
			<if test="banRemark != null">#{banRemark},</if>
         </trim>
    </insert>

    <update id="updateLiveUser" parameterType="LiveUser">
        update ${dbLive}.live_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="nickName != null and nickName != ''">nick_name = #{nickName},</if>
            <if test="createTime != null">create_time = UNIX_TIMESTAMP(#{createTime}),</if>
            <if test="updateTime != null">update_time = UNIX_TIMESTAMP(#{updateTime}),</if>
            <if test="isAuthentication != null">is_authentication = #{isAuthentication},</if>
            <if test="loginIp != null">login_ip = #{loginIp},</if>
            <if test="focusCount != null">focus_count = #{focusCount},</if>
            <if test="mobile != null and mobile != ''">mobile = #{mobile},</if>
            <if test="authenticationType != null">authentication_type = #{authenticationType},</if>
            <if test="authenticationName != null">authentication_name = #{authenticationName},</if>
            <if test="identifyHoldImage != null">identify_hold_image = #{identifyHoldImage},</if>
            <if test="identifyPositiveImage != null">identify_positive_image = #{identifyPositiveImage},</if>
            <if test="identifyNagativeImage != null">identify_nagative_image = #{identifyNagativeImage},</if>
            <if test="investorSendInfo != null">investor_send_info = #{investorSendInfo},</if>
            <if test="vExplain != null">v_explain = #{vExplain},</if>
            <if test="fansCount != null">fans_count = #{fansCount},</if>
            <if test="ticket != null">ticket = #{ticket},</if>
            <if test="refundTicket != null">refund_ticket = #{refundTicket},</if>
            <if test="isBan != null">is_ban = #{isBan},</if>
            <if test="identifyNumber != null">identify_number = #{identifyNumber},</if>
            <if test="familyId != null">family_id = #{familyId},</if>
            <if test="coin != null">coin = #{coin},</if>
            <if test="aloneTicketRatio != null and aloneTicketRatio != ''">alone_ticket_ratio = #{aloneTicketRatio},</if>
            <if test="openPay != null">open_pay = #{openPay},</if>
            <if test="banRemark != null">ban_remark = #{banRemark},</if>
        </trim>
        where id = #{id}
    </update>

    <select id="selectAnchorAward" resultType="com.qiqilm.server.admin.domain.rsp.RspLotteryBet">
        select host_id as anchor, prize, cost, create_date as updateTime, cost_qianliu prizeSixThousand,
        host_nickname as nickName from ${dbLive}.live_host_paijiang
        <where>
            <if test="id != null  and id != ''"> and host_id = #{id}</if>
            <if test="nickName != null  and nickName != ''"> and host_nickname like concat('%', #{nickName}, '%')</if>
            <if test="updateTime != null  and updateTime != ''"> and create_date = #{updateTime}</if>
        </where>
    </select>
</mapper>
