<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.mapper.LiveVideoMapper">
    <resultMap type="LiveVideo" id="LiveVideoResult">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="title" column="title"/>
        <result property="liveIn" column="live_in"/>
        <result property="watchNumber" column="watch_number"/>
        <result property="cateId" column="cate_id"/>
        <result property="beginTime" column="begin_time"/>
        <result property="endTime" column="end_time"/>
        <result property="monitorTime" column="monitor_time"/>
        <result property="sort" column="sort"/>
        <result property="sortInit" column="sort_init"/>
        <result property="isRecommend" column="is_recommend"/>
        <result property="stick" column="stick"/>
        <result property="liveImage" column="live_image"/>
        <result property="liveFee" column="live_fee"/>
        <result property="hostName" column="host_name"/>
        <result property="lotteryName" column="lottery_name"/>
        <result property="voteNumber" column="vote_Number"/>
        <result property="isLivePay" column="is_live_pay"/>
        <result property="concatVideo" column="is_concatvideo"/>
        <result property="lineName" column="lineName"/>
        <result property="lineStatus" column="lineStatus"/>
        <result property="createType" column="create_type"/>
        <result property="openPay" column="open_pay"/>
        <result property="groupId" column="group_id"/>
        <result property="playUrl" column="play_url"/>
        <result property="classifiedId" column="classified_id"/>
        <result property="lotteryId"    column="lottery_id"  />
        <result property="nPlayFlv"     column="n_play_flv"  />
        <result property="createTime"   column="create_time" />
        <result property="playFlv"      column="play_flv"    />
        <result property="playRtmp"     column="play_rtmp"   />
        <result property="playMp4"      column="play_mp4"    />
        <result property="playHls"      column="play_hls"    />
    </resultMap>

    <sql id="selectLiveVideoVo">
		SELECT
		v.id,
		v.user_id,
		v.group_id,
        v.live_in,
		title,
		watch_number,
		cate_id,
		begin_time,
		end_time,
		monitor_time,
		room_type,
		pai_id,
		sort,
		is_recommend,
		stick,
		live_fee,
		host_name,
		lottery_name,
		vote_Number,
		is_live_pay,
        is_concatvideo,
		s.name lineName,
		s.status lineStatus,
		live_image,
		play_url
		FROM
		${dbLive}.live_video v
		left join ${dbLive}.server_live s on(v.pai_id=s.id)
	</sql>

    <select id="selectLiveVideoList" parameterType="LiveVideo" resultMap="LiveVideoResult">
        <include refid="selectLiveVideoVo"/>
        where live_in = 1
        <if test="hostName != null  and hostName != ''">
            and (
            host_name like CONCAT('%', #{hostName,jdbcType=VARCHAR}, '%')
            or
            title = CONCAT('%', #{hostName,jdbcType=VARCHAR}, '%')
            )
        </if>
        <if test="paiId != null and paiId != ''">
            and pai_id = #{paiId}
        </if>
        <if test="id != null and id != ''">
            and v.id = #{id}
        </if>
        <if test="types != null and types.length != 0">
            and cate_id in
            <foreach item="id" collection="types" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        order by sort_init
    </select>

    <select id="selectLiveVideoById" parameterType="Long" resultMap="LiveVideoResult">
        <include refid="selectLiveVideoVo"/>
        where v.id = #{id}
    </select>

    <update id="updateLiveVideo" parameterType="LiveVideo">
        update ${dbMainLive}.live_video
        <trim prefix="SET" suffixOverrides=",">
            <if test="lv.title != null and lv.title != ''">
                title = #{lv.title},
            </if>
            <if test="lv.userId != null">
                user_id = #{lv.userId},
            </if>
            <if test="lv.liveIn != null">
                live_in = #{lv.liveIn},
            </if>
            <if test="lv.watchNumber != null">
                watch_number = #{lv.watchNumber},
            </if>
            <if test="lv.virtualWatchNumber != null">
                virtual_watch_number = #{lv.virtualWatchNumber},
            </if>
            <if test="lv.voteNumber != null">
                vote_number = #{lv.voteNumber},
            </if>
            <if test="lv.cateId != null">
                cate_id = #{lv.cateId},
            </if>
            <if test="lv.createTime != null">
                create_time = UNIX_TIMESTAMP(#{lv.createTime}),
            </if>
            <if test="lv.beginTime != null">
                begin_time = #{lv.beginTime},
            </if>
            <if test="lv.endTime != null">
                end_time = #{lv.endTime},
            </if>
            <if test="lv.endDate != null">
                end_date = #{lv.endDate},
            </if>
            <if test="lv.groupId != null">
                group_id = #{lv.groupId},
            </if>
            <if test="lv.maxWatchNumber != null">
                max_watch_number = #{lv.maxWatchNumber},
            </if>
            <if test="lv.monitorTime != null">
                monitor_time = #{lv.monitorTime},
            </if>
            <if test="lv.robotNum != null">
                robot_num = #{lv.robotNum},
            </if>
            <if test="lv.isAborted != null">
                is_aborted = #{lv.isAborted},
            </if>
            <if test="lv.onlineStatus != null">
                online_status = #{lv.onlineStatus},
            </if>
            <if test="lv.sort != null">
                sort = #{lv.sort},
            </if>
            <if test="lv.paiId != null">
                pai_id = #{lv.paiId},
            </if>
            <if test="lv.maxRobotNum != null">
                max_robot_num = #{lv.maxRobotNum},
            </if>
            <if test="lv.fansCount != null">
                fans_count = #{lv.fansCount},
            </if>
            <if test="lv.pushRtmp != null">
                push_rtmp = #{lv.pushRtmp},
            </if>
            <if test="lv.playFlv != null">
                play_flv = #{lv.playFlv},
            </if>
            <if test="lv.playRtmp != null">
                play_rtmp = #{lv.playRtmp},
            </if>
            <if test="lv.playMp4 != null">
                play_mp4 = #{lv.playMp4},
            </if>
            <if test="lv.playHls != null">
                play_hls = #{lv.playHls},
            </if>
            <if test="lv.headImage != null and lv.headImage != ''">
                head_image = #{lv.headImage},
            </if>
            <if test="lv.playUrl != null and lv.playUrl != ''">
                play_url = #{lv.playUrl},
            </if>
            <if test="lv.isRecommend != null">
                is_recommend = #{lv.isRecommend},
            </if>
            <if test="lv.liveImage != null and lv.liveImage != ''">
                live_image = #{lv.liveImage},
            </if>
            <if test="lv.virtualNumber != null">
                virtual_number = #{lv.virtualNumber},
            </if>
            <if test="lv.livePayTime != null">
                live_pay_time = #{lv.livePayTime},
            </if>
            <if test="lv.isLivePay != null">
                is_live_pay = #{lv.isLivePay},
            </if>
            <if test="lv.liveFee != null">
                live_fee = #{lv.liveFee},
            </if>
            <if test="lv.liveIsMention != null">
                live_is_mention = #{lv.liveIsMention},
            </if>
            <if test="lv.livePayType != null">
                live_pay_type = #{lv.livePayType},
            </if>
            <if test="lv.livePayCount != null">
                live_pay_count = #{lv.livePayCount},
            </if>
            <if test="lv.lenTime != null">
                len_time = #{lv.lenTime},
            </if>
            <if test="lv.classifiedId != null">
                classified_id = #{lv.classifiedId},
            </if>
            <if test="lv.lotteryId != null">
                lottery_id = #{lv.lotteryId},
            </if>
            <if test="lv.newPlayFlv != null">
                new_play_flv = #{lv.newPlayFlv},
            </if>
            <if test="lv.nPlayFlv != null">
                n_play_flv = #{lv.nPlayFlv},
            </if>
            <if test="lv.hostName != null">
                host_name = #{lv.hostName},
            </if>
            <if test="lv.lotteryName != null">
                lottery_name = #{lv.lotteryName},
            </if>
            <if test="lv.stick != null">
                stick = #{lv.stick},
            </if>
            <if test="lv.sortInit != null">
                sort_init = #{lv.sortInit},
            </if>
            <if test="lv.concatVideo != null">
                is_concatvideo = #{lv.concatVideo},
            </if>
        </trim>
        where id = #{lv.id}
    </update>

    <update id="updateLiveVideo2" parameterType="LiveVideo">
        update ${dbLive}.live_video
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="liveIn != null">
                live_in = #{liveIn},
            </if>
            <if test="watchNumber != null">
                watch_number = #{watchNumber},
            </if>
            <if test="virtualWatchNumber != null">
                virtual_watch_number = #{virtualWatchNumber},
            </if>
            <if test="voteNumber != null">
                vote_number = #{voteNumber},
            </if>
            <if test="cateId != null">
                cate_id = #{cateId},
            </if>
            <if test="createTime != null">
                create_time = UNIX_TIMESTAMP(#{createTime}),
            </if>
            <if test="beginTime != null">
                begin_time = #{beginTime},
            </if>
            end_time = #{endTime},
            end_date = #{endDate},
            <if test="groupId != null">
                group_id = #{groupId},
            </if>
            <if test="maxWatchNumber != null">
                max_watch_number = #{maxWatchNumber},
            </if>
            <if test="monitorTime != null">
                monitor_time = #{monitorTime},
            </if>
            <if test="robotNum != null">
                robot_num = #{robotNum},
            </if>
            <if test="isAborted != null">
                is_aborted = #{isAborted},
            </if>
            <if test="onlineStatus != null">
                online_status = #{onlineStatus},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
            <if test="paiId != null">
                pai_id = #{paiId},
            </if>
            <if test="maxRobotNum != null">
                max_robot_num = #{maxRobotNum},
            </if>
            <if test="fansCount != null">
                fans_count = #{fansCount},
            </if>
            <if test="pushRtmp != null">
                push_rtmp = #{pushRtmp},
            </if>
            <if test="playFlv != null">
                play_flv = #{playFlv},
            </if>
            <if test="playRtmp != null">
                play_rtmp = #{playRtmp},
            </if>
            <if test="playMp4 != null">
                play_mp4 = #{playMp4},
            </if>
            <if test="playHls != null">
                play_hls = #{playHls},
            </if>
            <if test="headImage != null and headImage != ''">
                head_image = #{headImage},
            </if>
            <if test="playUrl != null and playUrl != ''">
                play_url = #{playUrl},
            </if>
            <if test="isRecommend != null">
                is_recommend = #{isRecommend},
            </if>
            <if test="liveImage != null and liveImage != ''">
                live_image = #{liveImage},
            </if>
            <if test="virtualNumber != null">
                virtual_number = #{virtualNumber},
            </if>
            <if test="livePayTime != null">
                live_pay_time = #{livePayTime},
            </if>
            <if test="isLivePay != null">
                is_live_pay = #{isLivePay},
            </if>
            <if test="liveFee != null">
                live_fee = #{liveFee},
            </if>
            <if test="liveIsMention != null">
                live_is_mention = #{liveIsMention},
            </if>
            <if test="livePayType != null">
                live_pay_type = #{livePayType},
            </if>
            <if test="livePayCount != null">
                live_pay_count = #{livePayCount},
            </if>
            <if test="lenTime != null">
                len_time = #{lenTime},
            </if>
            <if test="classifiedId != null">
                classified_id = #{classifiedId},
            </if>
            <if test="lotteryId != null">
                lottery_id = #{lotteryId},
            </if>
            <if test="newPlayFlv != null">
                new_play_flv = #{newPlayFlv},
            </if>
            <if test="nPlayFlv != null">
                n_play_flv = #{nPlayFlv},
            </if>
            <if test="hostName != null">
                host_name = #{hostName},
            </if>
            <if test="lotteryName != null">
                lottery_name = #{lotteryName},
            </if>
            <if test="stick != null">
                stick = #{stick},
            </if>
            <if test="sortInit != null">
                sort_init = #{sortInit},
            </if>
            <if test="concatVideo != null">
                is_concatvideo = #{concatVideo},
            </if>
        </trim>
        where id = #{id}
    </update>

    <select id="selectLiveVideoSortById" resultMap="LiveVideoResult">
		select id, sort, is_recommend, stick, live_in FROM ${dbMainLive}.live_video where id = #{id}
	</select>

    <select id="selectLiveInVideoSort" resultMap="LiveVideoResult">
		select id, sort, is_recommend, stick FROM ${dbLive}.live_video where live_in = 1 order by sort,is_recommend desc,stick
	</select>

    <select id="countLiveInSort" resultType="long">
		select count(0) from ${dbLive}.live_video where live_in = 1 and sort = #{sort}
	</select>
    <select id="selectOnlineLiveGroups" resultMap="LiveVideoResult">
        select id,group_id FROM ${dbLive}.live_video where live_in = 1
    </select>

    <select id="selectLiveInPlayDetect" resultMap="LiveVideoResult">
		select id, title, live_in, group_id, play_url from ${dbLive}.live_video where live_in = 1
	</select>

    <select id="countLineCount" resultType="Integer">
		select count(1) from ${dbLive}.live_video where live_in = 1 and pai_id = #{paiId}
	</select>
    <insert id="insertLiveVideo" parameterType="LiveVideo">
        insert into ${dbMainLive}.live_video
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="lv.id != null">id,</if>
            <if test="lv.title != null and lv.title != ''">title,</if>
            <if test="lv.userId != null">user_id,</if>
            <if test="lv.liveIn != null">live_in,</if>
            <if test="lv.watchNumber != null">watch_number,</if>
            <if test="lv.virtualWatchNumber != null">virtual_watch_number,</if>
            <if test="lv.voteNumber != null">vote_number,</if>
            <if test="lv.cateId != null">cate_id,</if>
            <if test="lv.createTime != null">create_time,</if>
            <if test="lv.beginTime != null">begin_time,</if>
            <if test="lv.endTime != null">end_time,</if>
            <if test="lv.endDate != null">end_date,</if>
            <if test="lv.groupId != null and lv.groupId != ''">group_id,</if>
            <if test="lv.maxWatchNumber != null">max_watch_number,</if>
            <if test="lv.monitorTime != null">monitor_time,</if>
            <if test="lv.robotNum != null">robot_num,</if>
            <if test="lv.isAborted != null">is_aborted,</if>
            <if test="lv.onlineStatus != null">online_status,</if>
            <if test="lv.sort != null">sort,</if>
            <if test="lv.paiId != null">pai_id,</if>
            <if test="lv.createType != null">create_type,</if>
            <if test="lv.maxRobotNum != null">max_robot_num,</if>
            <if test="lv.fansCount != null">fans_count,</if>
            <if test="lv.sortInit != null">sort_init,</if>
            <if test="lv.pushRtmp != null and lv.pushRtmp != ''">push_rtmp,</if>
            <if test="lv.playFlv != null and lv.playFlv != ''">play_flv,</if>
            <if test="lv.playRtmp != null and lv.playRtmp != ''">play_rtmp,</if>
            <if test="lv.playMp4 != null">play_mp4,</if>
            <if test="lv.playHls != null and lv.playHls != ''">play_hls,</if>
            <if test="lv.headImage != null and lv.headImage != ''">head_image,</if>
            <if test="lv.playUrl != null and lv.playUrl != ''">play_url,</if>
            <if test="lv.isRecommend != null">is_recommend,</if>
            <if test="lv.liveImage != null and lv.liveImage != ''">live_image,</if>
            <if test="lv.virtualNumber != null">virtual_number,</if>
            <if test="lv.livePayTime != null">live_pay_time,</if>
            <if test="lv.isLivePay != null">is_live_pay,</if>
            <if test="lv.liveFee != null">live_fee,</if>
            <if test="lv.liveIsMention != null">live_is_mention,</if>
            <if test="lv.livePayType != null">live_pay_type,</if>
            <if test="lv.livePayCount != null">live_pay_count,</if>
            <if test="lv.lenTime != null">len_time,</if>
            <if test="lv.stick != null">stick,</if>
            <if test="lv.classifiedId != null">classified_id,</if>
            <if test="lv.lotteryId != null">lottery_id,</if>
            <if test="lv.newPlayFlv != null">new_play_flv,</if>
            <if test="lv.nPlayFlv != null">n_play_flv,</if>
            <if test="lv.hostName != null">host_name,</if>
            <if test="lv.lotteryName != null">lottery_name,</if>
            <if test="lv.concatVideo != null">is_concatvideo,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="lv.id != null">#{lv.id},</if>
            <if test="lv.title != null and lv.title != ''">#{lv.title},</if>
            <if test="lv.userId != null">#{lv.userId},</if>
            <if test="lv.liveIn != null">#{lv.liveIn},</if>
            <if test="lv.watchNumber != null">#{lv.watchNumber},</if>
            <if test="lv.virtualWatchNumber != null">#{lv.virtualWatchNumber},</if>
            <if test="lv.voteNumber != null">#{lv.voteNumber},</if>
            <if test="lv.cateId != null">#{lv.cateId},</if>
            <if test="lv.createTime != null">#{lv.createTime},</if>
            <if test="lv.beginTime != null">#{lv.beginTime},</if>
            <if test="lv.endTime != null">#{lv.endTime},</if>
            <if test="lv.endDate != null">#{lv.endDate},</if>
            <if test="lv.groupId != null and lv.groupId != ''">#{lv.groupId},</if>
            <if test="lv.maxWatchNumber != null">#{lv.maxWatchNumber},</if>
            <if test="lv.monitorTime != null">#{lv.monitorTime},</if>
            <if test="lv.robotNum != null">#{lv.robotNum},</if>
            <if test="lv.isAborted != null">#{lv.isAborted},</if>
            <if test="lv.onlineStatus != null">#{lv.onlineStatus},</if>
            <if test="lv.sort != null">#{lv.sort},</if>
            <if test="lv.paiId != null">#{lv.paiId},</if>
            <if test="lv.createType != null">#{lv.createType},</if>
            <if test="lv.maxRobotNum != null">#{lv.maxRobotNum},</if>
            <if test="lv.fansCount != null">#{lv.fansCount},</if>
            <if test="lv.sortInit != null">#{lv.sortInit},</if>
            <if test="lv.pushRtmp != null and lv.pushRtmp != ''">#{lv.pushRtmp},</if>
            <if test="lv.playFlv != null and lv.playFlv != ''">#{lv.playFlv},</if>
            <if test="lv.playRtmp != null and lv.playRtmp != ''">#{lv.playRtmp},</if>
            <if test="lv.playMp4 != null">#{lv.playMp4},</if>
            <if test="lv.playHls != null and lv.playHls != ''">#{lv.playHls},</if>
            <if test="lv.headImage != null and lv.headImage != ''">#{lv.headImage},</if>
            <if test="lv.playUrl != null and lv.playUrl != ''">#{lv.playUrl},</if>
            <if test="lv.isRecommend != null">#{lv.isRecommend},</if>
            <if test="lv.liveImage != null and lv.liveImage != ''">#{lv.liveImage},</if>
            <if test="lv.virtualNumber != null">#{lv.virtualNumber},</if>
            <if test="lv.livePayTime != null">#{lv.livePayTime},</if>
            <if test="lv.isLivePay != null">#{lv.isLivePay},</if>
            <if test="lv.liveFee != null">#{lv.liveFee},</if>
            <if test="lv.liveIsMention != null">#{lv.liveIsMention},</if>
            <if test="lv.livePayType != null">#{lv.livePayType},</if>
            <if test="lv.livePayCount != null">#{lv.livePayCount},</if>
            <if test="lv.lenTime != null">#{lv.lenTime},</if>
            <if test="lv.stick != null">#{lv.stick},</if>
            <if test="lv.classifiedId != null">#{lv.classifiedId},</if>
            <if test="lv.lotteryId != null">#{lv.lotteryId},</if>
            <if test="lv.newPlayFlv != null">#{lv.newPlayFlv},</if>
            <if test="lv.nPlayFlv != null">#{lv.nPlayFlv},</if>
            <if test="lv.hostName != null">#{lv.hostName},</if>
            <if test="lv.lotteryName != null">#{lv.lotteryName},</if>
            <if test="lv.concatVideo != null">#{lv.concatVideo},</if>
        </trim>
    </insert>
    <select id="selectLiveVideoList2" parameterType="LiveVideo" resultMap="LiveVideoResult">
        <include refid="selectLiveVideoVo"/>
        <where>
            <if test="userId!= null">
                and v.user_id = #{userId}
            </if>
        </where>
    </select>

    <select id="selectExpiredVideo" resultType="java.lang.Long">
        select id from ${dbLive}.live_video
        where live_in = 0
        and (end_time is null or end_time <![CDATA[ <= ]]> DATE_SUB(NOW(), INTERVAL 5 HOUR))
        order by end_time desc
	</select>

    <select id="liveInStatus" resultMap="LiveVideoResult">
        select live_in from ${dbLive}.live_video where user_id = #{userId}
    </select>

    <select id="selectLiveVideoInIds" resultMap="LiveVideoResult">
        select id, host_name FROM ${dbLive}.live_video where id in
        <foreach collection="array" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </select>

    <select id="selectMainLiveInVideoList" resultMap="LiveVideoResult">
        SELECT * FROM ${dbMainLive}.live_video where live_in = 1 and id > 0;
    </select>

    <select id="countLiveVideo" resultType="java.lang.Integer">
        select count(1) from ${dbLive}.live_video where id = #{id}
    </select>

    <update id="updateLiveVideoSort">
        update ${dbLive}.live_video
        <trim prefix="SET" suffixOverrides=",">
            <if test="sort != null">
                sort = #{sort},
            </if>
            <if test="isRecommend != null">
                is_recommend = #{isRecommend},
            </if>
            <if test="stick != null">
                stick = #{stick},
            </if>
            <if test="sortInit != null">
                sort_init = #{sortInit},
            </if>
        </trim>
        where id = #{id}
    </update>
</mapper>
