<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.mapper.LiveHostWageNoteMapper">

    <resultMap type="LiveHostWageNote" id="LiveHostWageNoteResult">
        <result property="id" column="id"/>
        <result property="familyId" column="family_id"/>
        <result property="hostId" column="host_id"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="liveTimeSec" column="live_time_sec"/>
        <result property="ticket" column="ticket"/>
        <result property="beforeTotalTicket" column="before_total_ticket"/>
        <result property="createTimes" column="create_time"/>
        <result property="remark" column="remark"/>
        <result property="cpCost" column="cp_cost"/>
        <result property="cpPrize" column="cp_prize"/>
    </resultMap>

    <sql id="selectLiveHostWageNoteVo">
        select o.id, o.family_id, o.host_id, o.start_time, o.end_time, o.live_time_sec, o.ticket, o.before_total_ticket,
        FROM_UNIXTIME(o.create_time) create_time ,  o.remark, o.cp_cost, o.cp_prize, u.nick_name nickName
        from ${dbLive}.live_host_wage_note o
        left join ${dbLive}.live_user u on o.host_id=u.id
    </sql>

    <select id="selectLiveHostWageNoteList" parameterType="LiveHostWageNote" resultMap="LiveHostWageNoteResult">
        <include refid="selectLiveHostWageNoteVo"/>
        <where>
            <if test="hostId != null ">and o.host_id = #{hostId}</if>
            <if test="startTime != null and startTime != ''">and o.start_time >= #{startTime}</if>
            <if test="endTime != null and endTime != ''">and o.start_time &lt;= #{endTime}</if>
        </where>
    </select>

    <select id="selectLiveHostWageNoteById" parameterType="Long" resultMap="LiveHostWageNoteResult">
        <include refid="selectLiveHostWageNoteVo"/>
        where id = #{id}
    </select>

    <insert id="insertLiveHostWageNote" parameterType="LiveHostWageNote" useGeneratedKeys="true" keyProperty="id">
        insert into ${dbLive}.live_host_wage_note
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="familyId != null">family_id,</if>
            <if test="hostId != null">host_id,</if>
            <if test="startTime != null and startTime != ''">start_time,</if>
            <if test="endTime != null and endTime != ''">end_time,</if>
            <if test="liveTimeSec != null">live_time_sec,</if>
            <if test="ticket != null">ticket,</if>
            <if test="beforeTotalTicket != null">before_total_ticket,</if>
            <if test="createTimes != null and createTimes != ''">create_time,</if>
            <if test="cpCost != null">cp_cost,</if>
            <if test="cpPrize != null">cp_prize,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="familyId != null">#{familyId},</if>
            <if test="hostId != null">#{hostId},</if>
            <if test="startTime != null and startTime != ''">#{startTime},</if>
            <if test="endTime != null and endTime != ''">#{endTime},</if>
            <if test="liveTimeSec != null">#{liveTimeSec},</if>
            <if test="ticket != null">#{ticket},</if>
            <if test="beforeTotalTicket != null">#{beforeTotalTicket},</if>
            <if test="createTimes != null and createTimes != ''">#{createTimes},</if>
            <if test="cpCost != null">#{cpCost},</if>
            <if test="cpPrize != null">#{cpPrize},</if>
        </trim>
    </insert>

    <update id="updateLiveHostWageNote" parameterType="LiveHostWageNote">
        update ${dbLive}.live_host_wage_note
        <trim prefix="SET" suffixOverrides=",">
            <if test="familyId != null">family_id = #{familyId},</if>

            <if test="hostId != null">host_id = #{hostId},</if>

            <if test="startTime != null and startTime != ''">start_time = #{startTime},</if>

            <if test="endTime != null and endTime != ''">end_time = #{endTime},</if>

            <if test="liveTimeSec != null">live_time_sec = #{liveTimeSec},</if>

            <if test="ticket != null">ticket = #{ticket},</if>

            <if test="beforeTotalTicket != null">before_total_ticket = #{beforeTotalTicket},</if>

            <if test="createTimes != null and createTimes != ''">create_time = #{createTimes},</if>

            <if test="remark != null">remark = #{remark},</if>

            <if test="cpCost != null">cp_cost = #{cpCost},</if>

            <if test="cpPrize != null">cp_prize = #{cpPrize},</if>

        </trim>
        where id = #{id}
    </update>

    <select id="beforeNote" resultMap="LiveHostWageNoteResult">
        select * from ${dbLive}.live_host_wage_note  l where l.host_id=#{userId}  ORDER BY create_time desc LIMIT 1
    </select>

	<select id="familyPage" resultType="RspLiveHostWageNoteFamily">
        select
        o.family_id familyId,
        f.name familyName,
        f.user_id familyUserId,
        f.nick_name familyNickName,
        SUM(o.live_time_sec) as alltime,
        sum(o.ticket) as allticket,
        sum(o.cp_cost) as allCpCost,
        sum(o.cp_prize) as allPrize,
        SUBSTR(o.create_time,1,10) as shijian,
        #{countTime} timedata
        from ${dbLive}.live_host_wage_note o
        left join ${dbLive}.live_family f on o.family_id=f.id
        <where>
            <if test="dto.familyId!=null">and o.family_id = #{dto.familyId}</if>
            <if test="dto.familyName!=null and dto.familyName!=''">and f.name like concat('%',#{dto.familyName},'%')</if>
            <if test="dto.familyNickName!=null and dto.familyNickName!=''">and f.nick_name like concat('%',#{dto.familyNickName},'%')</if>
            <if test="dto.startTime!=null">and o.create_time >= #{dto.startTime}</if>
            <if test="dto.endTime!=null">and o.create_time &lt;= #{dto.endTime}</if>
        </where>
        group by o.family_id order by o.family_id asc
    </select>

	<select id="selectFamilyName" resultType="java.util.Map">
        select id,nick_name,name from ${dbLive}.live_family
    </select>

	<select id="hostPage" resultType="RspLiveHostWageNoteList">
        select
        o.family_id familyId,
        f.name familyName,
        f.user_id familyUserId,
        f.nick_name familyNickName,
        o.host_id hostId,
        u.nick_name nickName,
        SUM(o.live_time_sec) as alltime,
        sum(o.ticket) as allticket,
        sum(o.cp_cost) as allCpCost,
        sum(o.cp_prize) as allPrize,
        SUBSTR(o.create_time,1,10) as shijian,
        #{countTime} timedata
        from ${dbLive}.live_host_wage_note o
        left join ${dbLive}.live_family f on o.family_id=f.id
        left join ${dbLive}.live_user u on o.host_id=u.id
        <where>
            <if test="dto.familyId!=null">and o.family_id = #{dto.familyId}</if>
            <if test="dto.hostId!=null">and o.host_id = #{dto.hostId}</if>
            <if test="dto.nickName!=null and dto.nickName!=''">and u.nick_name like concat('%',#{dto.nickName},'%')</if>
            <if test="dto.startTime!=null">and o.create_time >= #{dto.startTime}</if>
            <if test="dto.endTime!=null">and o.create_time &lt;= #{dto.endTime}</if>
        </where>
        group by o.host_id order by o.create_time desc
    </select>
</mapper>
