<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.mapper.LogGameOrderMapper">
	<resultMap type="LogGameOrder" id="LogGameOrderResult">
		<result property="id" column="id"/>
		<result property="type" column="type"/>
		<result property="memberId" column="member_id"/>
		<result property="userName" column="user_name"/>
		<result property="platformId" column="platform_id"/>
		<result property="status" column="status"/>
		<result property="money" column="money"/>
		<result property="bTime" column="b_time"/>
		<result property="eTime" column="e_time"/>
		<result property="retryCount" column="retry_count"/>
	</resultMap>

	<sql id="selectLogGameOrderVo">
		select id, type, member_id, user_name, platform_id, status, money, b_time, e_time,retry_count from ${dbMain}.log_game_order
	</sql>

	<select id="selectLogGameOrderList" parameterType="LogGameOrder" resultMap="LogGameOrderResult">
		<include refid="selectLogGameOrderVo"/>
		<where>
			<if test="searchValue != null  and searchValue != ''">
				and (member_id = #{searchValue} or user_name like concat(#{searchValue}, '%'))
			</if>
			<if test="type != null">
				and type = #{type}
			</if>
			<if test="platformId != null">
				and platform_id = #{platformId}
			</if>
			<if test="stateList != null">
				and status IN
				<foreach item="state" collection="stateList" open="(" separator="," close=")">
					#{state}
				</foreach>
			</if>
			<if test="startTime != null and startTime != ''">
				and b_time <![CDATA[ >= ]]> #{startTime}
			</if>
			<if test="endTime != null and endTime != ''">
				and b_time <![CDATA[ <= ]]> #{endTime}
			</if>
		</where>
	</select>

	<select id="selectLogGameScoreList" parameterType="LogGameOrder" resultMap="LogGameOrderResult">
		SELECT lgo.id,lgo.type,lgo.member_id,lgo.platform_id,(CASE WHEN lgo.money >0 THEN lgo.money WHEN mgt.transfer_amount >0 THEN mgt.transfer_amount ELSE 0 END) money
		FROM log_game_order lgo LEFT JOIN member_game_transfer mgt ON lgo.id = mgt.transfer_id
		WHERE (lgo.type IN (1) AND lgo.status IN(10) AND lgo.retry_count > 3 AND (SELECT transfer_id FROM member_game_transfer WHERE transfer_id = lgo.id) IS NULL )
		OR (lgo.type IN (2) AND lgo.status IN(5,6,8,9,10) AND lgo.id = (SELECT transfer_id FROM member_game_transfer WHERE transfer_id = lgo.id AND transfer_state = 'Succeeded'))
		<if test="searchValue != null  and searchValue != ''">
			and (member_id = #{searchValue} or user_name like concat(#{searchValue}, '%'))
		</if>
		<if test="type != null">
			and mgt.type = #{type}
		</if>
		<if test="platformId != null">
			and mgt.platform_id = #{platformId}
		</if>
		<if test="startTime != null and startTime != ''">
			and mgt.b_time >= #{startTime}
		</if>
		<if test="endTime != null and endTime != ''">
			and mgt.b_time &lt;= #{endTime}
		</if>
	</select>



	<select id="selectLogGameOrderById" parameterType="String" resultMap="LogGameOrderResult">
		<include refid="selectLogGameOrderVo"/>
		where id = #{id}
	</select>

	<insert id="insertLogGameOrder" parameterType="LogGameOrder">
		insert into ${dbMain}.log_game_order
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="memberId != null">
				member_id,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="platformId != null">
				platform_id,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="money != null">
				money,
			</if>
			<if test="bTime != null">
				b_time,
			</if>
			<if test="eTime != null">
				e_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="type != null">
				#{type},
			</if>
			<if test="memberId != null">
				#{memberId},
			</if>
			<if test="userName != null">
				#{userName},
			</if>
			<if test="platformId != null">
				#{platformId},
			</if>
			<if test="status != null">
				#{status},
			</if>
			<if test="money != null">
				#{money},
			</if>
			<if test="bTime != null">
				#{bTime},
			</if>
			<if test="eTime != null">
				#{eTime},
			</if>
		</trim>
	</insert>

	<update id="updateLogGameOrder" parameterType="LogGameOrder">
		update ${dbMain}.log_game_order
		<trim prefix="SET" suffixOverrides=",">
			<if test="type != null">
				type = #{type},
			</if>
			<if test="memberId != null">
				member_id = #{memberId},
			</if>
			<if test="userName != null">
				user_name = #{userName},
			</if>
			<if test="platformId != null">
				platform_id = #{platformId},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
			<if test="money != null">
				money = #{money},
			</if>
			<if test="bTime != null">
				b_time = #{bTime},
			</if>
			<if test="eTime != null">
				e_time = #{eTime},
			</if>
		</trim>
		where id = #{id}
	</update>

	<delete id="deleteLogGameOrderById" parameterType="String">
		delete
		from ${dbMain}.log_game_order
		where id = #{id}
	</delete>

	<delete id="deleteLogGameOrderByIds" parameterType="String">
		delete
		from ${dbMain}.log_game_order where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
</mapper>
