<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.mapper.LogMoneyMapper">
	<resultMap type="LogMoney" id="LogMoneyResult">
		<result property="id" column="id"/>
		<result property="userId" column="user_id"/>
		<result property="userName" column="user_name"/>
		<result property="type" column="type"/>
		<result property="des" column="des"/>
		<result property="income" column="income"/>
		<result property="pay" column="pay"/>
		<result property="total" column="total"/>
		<result property="createTime" column="create_time"/>
		<result property="totalBefore" column="total_before"/>
		<result property="mark" column="mark"/>
		<result property="markorder" column="markorder"/>
		<result property="agent" column="agent"  />
	</resultMap>

	<sql id="selectLogMoneyVo">
		select id,
			   user_id,
			   user_name,
			   type,
			   des,
			   income,
			   pay,
			   total,
			   create_time,
			   total_before,
			   mark,
			   markorder
		from ${dbMain}.log_money${dbNodes}
	</sql>

	<select id="selectLogMoneySingleList" parameterType="LogMoney" resultMap="LogMoneyResult">
		select * from ${dbMain}.log_money${tableLast} a
		<where>
			<if test="searchValue != null  and searchValue != ''">
				and user_id = #{searchValue}
			</if>
			<include refid="whereSelect" />
		</where>
	</select>

	<select id="selectLogMoneyFirstList" parameterType="LogMoney" resultMap="LogMoneyResult">
		select * from ${dbMain}.log_money a
		<where>
			<include refid="whereSelect" />
		</where>
	</select>

	<select id="selectLogMoneyList" parameterType="LogMoney" resultMap="LogMoneyResult">
		select * from (
			SELECT * FROM log_money0
			<where><include refid="whereSelect" /></where>
			UNION ALL
			SELECT * FROM log_money1
			<where><include refid="whereSelect" /></where>
			UNION ALL
			SELECT * FROM log_money2
			<where><include refid="whereSelect" /></where>
			UNION ALL
			SELECT * FROM log_money3
			<where><include refid="whereSelect" /></where>
			UNION ALL
			SELECT * FROM log_money4
			<where><include refid="whereSelect" /></where>
			UNION ALL
			SELECT * FROM log_money5
			<where><include refid="whereSelect" /></where>
			UNION ALL
			SELECT * FROM log_money6
			<where><include refid="whereSelect" /></where>
			UNION ALL
			SELECT * FROM log_money7
			<where><include refid="whereSelect" /></where>
			UNION ALL
			SELECT * FROM log_money8
			<where><include refid="whereSelect" /></where>
			UNION ALL
			SELECT * FROM log_money9
			<where><include refid="whereSelect" /></where>
		) a
	</select>

	<sql id="whereSelect">
		<if test="types != null and types.length != 0">
			and type in
			<foreach item="id" collection="types" open="(" separator="," close=")">
				#{id}
			</foreach>
		</if>
		<if test="startTime != null">
			and create_time <![CDATA[ >= ]]>  #{startTime} and create_time <![CDATA[ <= ]]> #{endTime}
		</if>
		<if test="mark != null  and mark != ''">
			and mark = #{mark}
		</if>

	</sql>

	<insert id="insertLogMoney" parameterType="LogMoney">
		insert into log_money${dbNodes} (
		id,user_id,pay,income,user_name,type,des, total, create_time, total_before,markorder,mark) values
		(
        #{req.id},#{req.userId},#{req.pay},#{req.income},#{req.userName},#{req.type},#{req.des},#{req.total},#{req.createTime},#{req.totalBefore},#{req.markorder},#{req.mark}
        )
	</insert>
	<insert id="insertLogMoneyPop">
		insert into log_money${dbNodes} (
		id,user_id,pay,income,user_name,type,des, total, create_time, total_before,markorder,mark) values
		(
        #{req.id},#{req.userId},#{req.pay},#{req.income},#{req.userName},#{req.type},#{req.des},#{req.total},#{req.createTime},#{req.totalBefore},#{req.markorder},#{req.mark}
        )
	</insert>


	<select id="findExist" resultType="java.lang.Integer">
		SELECT type FROM log_money${dbNodes}
		WHERE id = #{keyId}
	</select>

	<select id="findMark" resultMap="LogMoneyResult">
		<include refid="selectLogMoneyVo"/>
		where 1 = 1
		<if test="userId != null">
			and user_id = #{userId}
		</if>
		<if test="mark != null">
			and markorder = #{mark}
		</if>
		<if test="money != null and money > 0">
			and income = #{money}
		</if>
		<if test="pay != null">
			and pay = #{pay}
		</if>
	</select>

	<select id="findMarkStartTime" resultMap="LogMoneyResult">
		<include refid="selectLogMoneyVo"/>
		where 1 = 1
		<if test="userId != null">
			and user_id = #{userId}
		</if>
		<if test="mark != null">
			and markorder = #{mark}
		</if>
		<if test="money != null and money > 0">
			and income = #{money}
		</if>
		<if test="pay != null">
			and pay = #{pay}
		</if>
		<if test="startTime != null">
			and create_time  >= #{startTime}
		</if>
	</select>
    <sql id="whereCount">
        <if test="userId != null  and userId != ''">
            and user_id = #{userId}
        </if>
        <if test="userName != null  and userName != ''">
            and user_name = #{userName}
        </if>
        <if test="types != null and types.length != 0">
            and type in

            <foreach item="id" collection="types" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        <if test="startTime != null">
			and create_time <![CDATA[ >= ]]>  #{startTime} and create_time <![CDATA[ <= ]]> #{endTime}
        </if>
        <if test="mark != null  and mark != ''">
            and mark like concat('%', #{mark}, '%')
        </if>
    </sql>

	<select id="listCount" parameterType="LogMoney" resultType="java.util.Map">
		select
		    ifnull(sum(income),0) as totalIncome,
			ifnull(sum(pay),0) as totalPay
		from ${dbMain}.log_money${tableLast}
		<where>
			<if test="searchValue != null  and searchValue != ''">
				and user_id = #{searchValue}
			</if>
			<include refid="whereSelect" />
		</where>
	</select>

	<select id="listCountAll" parameterType="LogMoney" resultType="java.util.Map">
		select
		ifnull(sum(a.income), 0) as totalIncome,
		ifnull(sum(a.pay), 0) as totalPay
		from (
		SELECT income,pay FROM ${dbMain}.log_money0
		<where><include refid="whereSelect" /></where>
		UNION ALL
		SELECT income,pay FROM ${dbMain}.log_money1
		<where><include refid="whereSelect" /></where>
		UNION ALL
		SELECT income,pay FROM ${dbMain}.log_money2
		<where><include refid="whereSelect" /></where>
		UNION ALL
		SELECT income,pay FROM ${dbMain}.log_money3
		<where><include refid="whereSelect" /></where>
		UNION ALL
		SELECT income,pay FROM ${dbMain}.log_money4
		<where><include refid="whereSelect" /></where>
		UNION ALL
		SELECT income,pay FROM ${dbMain}.log_money5
		<where><include refid="whereSelect" /></where>
		UNION ALL
		SELECT income,pay FROM ${dbMain}.log_money6
		<where><include refid="whereSelect" /></where>
		UNION ALL
		SELECT income,pay FROM ${dbMain}.log_money7
		<where><include refid="whereSelect" /></where>
		UNION ALL
		SELECT income,pay FROM ${dbMain}.log_money8
		<where><include refid="whereSelect" /></where>
		UNION ALL
		SELECT income,pay FROM ${dbMain}.log_money9
		<where><include refid="whereSelect" /></where>
		) a
	</select>

	<update id="updateByIdSelective">
		update log_money${dbNodes}
		<set>
			<if test="req.userId != null">
				user_id = #{req.userId},
			</if>
			<if test="req.userName != null">
				user_name = #{req.userName},
			</if>
			<if test="req.type != null">
				type = #{req.type},
			</if>
			<if test="req.des != null">
				des = #{req.des},
			</if>
			<if test="req.income != null">
				income = #{req.income},
			</if>
			<if test="req.income != null">
				pay = #{req.income},
			</if>
			<if test="req.total != null">
				total = #{req.total},
			</if>
			<if test="req.agent != null">
				agent = #{req.agent},
			</if>
			<if test="req.createTime != null">
				create_time = #{req.createTime},
			</if>
			<if test="req.totalBefore != null">
				total_before = #{req.totalBefore},
			</if>
			<if test="req.mark != null">
				mark = #{req.mark},
			</if>
			<if test="req.markorder != null">
				markorder = #{req.markorder},
			</if>
		</set>
		where id = #{req.id}
	</update>

	<select id="findExistActivityCashBack" resultType="int">
		select count(0) from log_money${dbNodes} where type = 5 and user_id = #{userId} and mark = '充值返现活动'
		and date_format(create_time,'%y%m%d') =  DATE_ADD(CURDATE(), INTERVAL -0 DAY)
    </select>
</mapper>
