<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.mapper.LotteryBet0Mapper">
	<resultMap type="LotteryBet0" id="LotteryBet0Result">
		<result property="id" column="id"/>
		<result property="lotteryId" column="lottery_id"/>
		<result property="puserId" column="puser_id"/>
		<result property="issue" column="issue"/>
		<result property="status" column="status"/>
		<result property="methodId" column="method_id"/>
		<result property="betSelect" column="bet_select"/>
		<result property="betIds" column="bet_ids"/>
		<result property="chip" column="chip"/>
		<result property="prize" column="prize"/>
		<result property="cost" column="cost"/>
		<result property="lotteryName" column="lottery_name"/>
		<result property="anchor" column="anchor"/>
		<result property="code" column="code"/>
		<result property="betTime" column="bet_time"/>
		<result property="updateTime" column="update_time"/>
	</resultMap>

	<select id="selectLotteryBet0List" parameterType="LotteryBet0" resultMap="LotteryBet0Result">
        SELECT a.* FROM (
        SELECT * FROM ${dbLottery}.lottery_bet0 <where>
        <include refid="whereSelect"/>
    </where>
        union
        SELECT * FROM ${dbLottery}.lottery_bet1 <where>
        <include refid="whereSelect"/>
    </where>
        union
        SELECT * FROM ${dbLottery}.lottery_bet2 <where>
        <include refid="whereSelect"/>
    </where>
        union
        SELECT * FROM ${dbLottery}.lottery_bet3 <where>
        <include refid="whereSelect"/>
    </where>
        union
        SELECT * FROM ${dbLottery}.lottery_bet4 <where>
        <include refid="whereSelect"/>
    </where>
        union
        SELECT * FROM ${dbLottery}.lottery_bet5 <where>
        <include refid="whereSelect"/>
    </where>
        union
        SELECT * FROM ${dbLottery}.lottery_bet6 <where>
        <include refid="whereSelect"/>
    </where>
        union
        SELECT * FROM ${dbLottery}.lottery_bet7 <where>
        <include refid="whereSelect"/>
    </where>
        union
        SELECT * FROM ${dbLottery}.lottery_bet8 <where>
        <include refid="whereSelect"/>
    </where>
        union
        SELECT * FROM ${dbLottery}.lottery_bet9 <where>
        <include refid="whereSelect"/>
    </where>
        ) a
	</select>
    <select id="selectLotteryBetViewlList" parameterType="LotteryBet0" resultMap="LotteryBet0Result">
    SELECT a.* FROM ${dbLottery}.lottery_bet_view a <where><include refid="whereSelect"/></where>
    </select>
	<select id="selectLotteryBet0SingleList" parameterType="LotteryBet0" resultMap="LotteryBet0Result">
		select <include refid="Base_Column_List"/> from ${dbLottery}.lottery_bet${tableLast} a
		<where>
			<if test="puserId != null  and puserId != ''">
				and puser_id = #{puserId}
			</if>
			<include refid="whereSelect"/>
		</where>
	</select>

	<select id="selectLotteryBet0AbnormalList" parameterType="LotteryBet0" resultMap="LotteryBet0Result">
		select <include refid="Base_Column_List"/> from ${dbLottery}.lottery_bet${tableLast} a
		where a.puser_id = #{puserId} and a.issue in (
			select issue from ${dbLottery}.lottery_bet${tableLast} where
				puser_id = #{puserId}
				and prize > 0
				and (cost - (prize - cost)) / cost > 1
				and (cost - (prize - cost)) / cost &lt; 1.04
				and bet_select IN ( <![CDATA[ '小&大', '大&小', '双&单', '单&双', '质&合', '合&质' ]]> )
		) <include refid="whereSelect"/>
	</select>

	<select id="selectLotteryBetTenTableList" parameterType="LotteryBet0" resultMap="LotteryBet0Result">
		    select <include refid="Base_Column_List"/> from (
			select <include refid="Base_Column_List"/> from ${dbLottery}.lottery_bet0
			<where><include refid="whereSelect"/></where> UNION ALL
			select <include refid="Base_Column_List"/> from ${dbLottery}.lottery_bet1
			<where><include refid="whereSelect"/></where> UNION ALL
			select <include refid="Base_Column_List"/> from ${dbLottery}.lottery_bet2
			<where><include refid="whereSelect"/></where> UNION ALL
			select <include refid="Base_Column_List"/> from ${dbLottery}.lottery_bet3
			<where><include refid="whereSelect"/></where> UNION ALL
			select <include refid="Base_Column_List"/> from ${dbLottery}.lottery_bet4
			<where><include refid="whereSelect"/></where> UNION ALL
			select <include refid="Base_Column_List"/> from ${dbLottery}.lottery_bet5
			<where><include refid="whereSelect"/></where> UNION ALL
			select <include refid="Base_Column_List"/> from ${dbLottery}.lottery_bet6
			<where><include refid="whereSelect"/></where> UNION ALL
			select <include refid="Base_Column_List"/> from ${dbLottery}.lottery_bet7
			<where><include refid="whereSelect"/></where> UNION ALL
			select <include refid="Base_Column_List"/> from ${dbLottery}.lottery_bet8
			<where><include refid="whereSelect"/></where> UNION ALL
			select <include refid="Base_Column_List"/> from ${dbLottery}.lottery_bet9
			<where><include refid="whereSelect"/></where>) a
	</select>

	<sql id="Base_Column_List">
		id,lottery_id,puser_id,issue,status,method_id,bet_select,bet_ids,chip,prize,cost,lottery_name,
		anchor,code,bet_time,FROM_UNIXTIME(update_time) update_time
	</sql>

	<sql id="whereSelect">
        <if test="issue != null  and issue != ''">
            and issue = #{issue}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
		<if test="priceMin != null and priceMax != null  and priceMin != ''  and priceMax != ''">
			and cost <![CDATA[ >= ]]> #{priceMin}
			and cost <![CDATA[ <= ]]> #{priceMax}
		</if>
        <if test="lotteryName != null  and lotteryName != ''">
            and lottery_name like concat('%', #{lotteryName}, '%')
        </if>
		<if test="lotteryId != null ">
			and lottery_id =  #{lotteryId}
		</if>
        <if test="startTime != null">
            and bet_time <![CDATA[ >= ]]> #{startTime} and bet_time <![CDATA[ <= ]]> #{endTime}
        </if>
	</sql>

	<select id="getCountLotteryBet0List" parameterType="LotteryBet0" resultMap="LotteryBet0Result">
		select Sum(cost) totalCost,Sum(prize) totalPrize from (select cost,prize from (
		select cost,prize,puser_id from ${dbLottery}.lottery_bet0
		<where><include refid="whereSelect"/></where> UNION ALL
		select cost,prize,puser_id from ${dbLottery}.lottery_bet1
		<where><include refid="whereSelect"/></where> UNION ALL
		select cost,prize,puser_id from ${dbLottery}.lottery_bet2
		<where><include refid="whereSelect"/></where> UNION ALL
		select cost,prize,puser_id from ${dbLottery}.lottery_bet3
		<where><include refid="whereSelect"/></where> UNION ALL
		select cost,prize,puser_id from ${dbLottery}.lottery_bet4
		<where><include refid="whereSelect"/></where> UNION ALL
		select cost,prize,puser_id from ${dbLottery}.lottery_bet5
		<where><include refid="whereSelect"/></where> UNION ALL
		select cost,prize,puser_id from ${dbLottery}.lottery_bet6
		<where><include refid="whereSelect"/></where> UNION ALL
		select cost,prize,puser_id from ${dbLottery}.lottery_bet7
		<where><include refid="whereSelect"/></where> UNION ALL
		select cost,prize,puser_id from ${dbLottery}.lottery_bet8
		<where><include refid="whereSelect"/></where> UNION ALL
		select cost,prize,puser_id from ${dbLottery}.lottery_bet9
		<where><include refid="whereSelect"/></where>
		) b inner join ${dbMain}.member_info m on b.puser_id = m.id where m.status in (1,4) ) a
	</select>

	<select id="getCountLotteryBet0SingleList" parameterType="LotteryBet0" resultMap="LotteryBet0Result">
		select Sum(cost) totalCost,Sum(prize) totalPrize
		from ${dbLottery}.lottery_bet${tableLast} a
		<where>
			<if test="puserId != null  and puserId != ''">
				and puser_id = #{puserId}
			</if>
			<include refid="whereSelect"/>
		</where>
	</select>

	<select id="getCountLotteryBet0AbnormalList" parameterType="LotteryBet0" resultMap="LotteryBet0Result">
		select Sum(cost) totalCost,Sum(prize) totalPrize from ${dbLottery}.lottery_bet${tableLast} a
		where a.puser_id = #{puserId} and a.issue in (
		select issue from ${dbLottery}.lottery_bet${tableLast} where
		puser_id = #{puserId}
		and prize > 0
		and (cost - (prize - cost)) / cost > 1
		and (cost - (prize - cost)) / cost &lt; 1.04
		and bet_select IN ( <![CDATA[ '小&大', '大&小', '双&单', '单&双', '质&合', '合&质' ]]> )
		) <include refid="whereSelect"/>
	</select>

</mapper>
