<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.mapper.LotteryHistoryMapper">

    <resultMap type="LotteryHistory" id="LotteryHistoryResult">
        <result property="id"    column="id"    />
        <result property="issue"    column="issue"    />
        <result property="lotteryId"    column="lottery_id"    />
        <result property="code"    column="code"    />
        <result property="ktime"    column="ktime"    />
        <result property="status"    column="status"    />
        <result property="name"    column="name"    />
        <result property="killRate"    column="kill_rate"    />
        <result property="totalBet"    column="total_bet"    />
        <result property="totalPrize"    column="total_prize"    />
        <result property="ctl"    column="ctl"    />
        <result property="analyse"    column="analyse"    />
    </resultMap>

    <sql id="selectLotteryHistoryVo">
        select id, issue, lottery_id, code, ktime, status, name, kill_rate, total_bet, total_prize, ctl, analyse from ${dbLottery}.lottery_history
    </sql>

    <select id="selectLotteryHistoryList" parameterType="LotteryHistory" resultMap="LotteryHistoryResult">
        <include refid="selectLotteryHistoryVo"/>
        <where>
            <if test="issue != null  and issue != ''"> and issue = #{issue}</if>
            <if test="lotteryId != null "> and lottery_id = #{lotteryId}</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="ktime != null "> and ktime = #{ktime}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="killRate != null "> and kill_rate = #{killRate}</if>
            <if test="totalBet != null "> and total_bet = #{totalBet}</if>
            <if test="totalPrize != null "> and total_prize = #{totalPrize}</if>
            <if test="ctl != null "> and ctl = #{ctl}</if>
            <if test="analyse != null  and analyse != ''"> and analyse = #{analyse}</if>
        </where>
    </select>
</mapper>
