<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.mapper.LotteryGameMapper">

    <resultMap type="LotteryGame" id="LotteryGameResult">
        <result property="id"    column="id"    />
        <result property="methodId"    column="method_id"    />
        <result property="type"    column="type"    />
        <result property="info"    column="info"    />
        <result property="odds"    column="odds"    />
        <result property="victoryRule"    column="victory_rule"    />
        <result property="ind"    column="ind"    />
    </resultMap>

    <sql id="selectLotteryGameVo">
        select id, method_id, type, info, odds, victory_rule, ind from 7700_lottery.lottery_game
    </sql>

    <select id="selectLotteryGameList" parameterType="LotteryGame" resultMap="LotteryGameResult">
        <include refid="selectLotteryGameVo"/>
        <where>
            <if test="methodId != null  and methodId != ''"> and method_id = #{methodId}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="info != null  and info != ''"> and info = #{info}</if>
            <if test="odds != null "> and odds = #{odds}</if>
            <if test="victoryRule != null  and victoryRule != ''"> and victory_rule = #{victoryRule}</if>
            <if test="ind != null "> and ind = #{ind}</if>
        </where>
    </select>

    <select id="selectLotteryGameById" parameterType="String" resultMap="LotteryGameResult">
        <include refid="selectLotteryGameVo"/>
        where id = #{id}
    </select>


    <update id="updateLotteryGame" parameterType="LotteryGame">
        update 7700_lottery.lottery_game
        <trim prefix="SET" suffixOverrides=",">
            <if test="methodId != null">method_id = #{methodId},</if>
    
            <if test="type != null">type = #{type},</if>
    
            <if test="info != null">info = #{info},</if>
    
            <if test="odds != null">odds = #{odds},</if>
    
            <if test="victoryRule != null">victory_rule = #{victoryRule},</if>
    
            <if test="ind != null">ind = #{ind},</if>
    
        </trim>
        where id = #{id}
    </update>
</mapper>
