<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.mapper.LotteryBetMapper">

    <resultMap type="LotteryBet" id="LotteryBetResult">
        <result property="id"    column="id"    />
        <result property="lotteryId"    column="lottery_id"    />
        <result property="issue"    column="issue"    />
        <result property="chip"    column="chip"    />
        <result property="betTime"    column="bet_time"    />
        <result property="prize"    column="prize"    />
        <result property="cost"    column="cost"    />
        <result property="puserId"    column="puser_id"    />
        <result property="anchor"    column="anchor"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectLotteryBetVo">
        select id,puser_id , lottery_id, issue, chip, prize, cost, anchor, bet_time,update_time from ${dbLottery}.lottery_bet${dbNodes}
    </sql>

    <select id="selectLotteryBetList" parameterType="LotteryBet" resultMap="LotteryBetResult">
        select id,puser_id , lottery_id, issue, chip, prize, cost, anchor, bet_time,update_time from ${dbLottery}.lottery_bet0
        where bet_time &gt;=  #{start} and bet_time  &lt;=  #{end} and status &gt; 0
        UNION ALL
        select id,puser_id , lottery_id, issue, chip, prize, cost, anchor, bet_time,update_time from ${dbLottery}.lottery_bet1
        where bet_time &gt;=  #{start} and bet_time  &lt;=  #{end} and status &gt; 0
        UNION ALL
        select id,puser_id , lottery_id, issue, chip, prize, cost, anchor, bet_time,update_time from ${dbLottery}.lottery_bet2
        where bet_time &gt;=  #{start} and bet_time  &lt;=  #{end} and status &gt; 0
        UNION ALL
        select id,puser_id , lottery_id, issue, chip, prize, cost, anchor, bet_time,update_time from ${dbLottery}.lottery_bet3
        where bet_time &gt;=  #{start} and bet_time  &lt;=  #{end} and status &gt; 0
        UNION ALL
        select id,puser_id , lottery_id, issue, chip, prize, cost, anchor, bet_time,update_time from ${dbLottery}.lottery_bet4
        where bet_time &gt;=  #{start} and bet_time  &lt;=  #{end} and status &gt; 0
        UNION ALL
        select id,puser_id , lottery_id, issue, chip, prize, cost, anchor, bet_time,update_time from ${dbLottery}.lottery_bet5
        where bet_time &gt;=  #{start} and bet_time  &lt;=  #{end} and status &gt; 0
        UNION ALL
        select id,puser_id , lottery_id, issue, chip, prize, cost, anchor, bet_time,update_time from ${dbLottery}.lottery_bet6
        where bet_time &gt;=  #{start} and bet_time  &lt;=  #{end} and status &gt; 0
        UNION ALL
        select id,puser_id , lottery_id, issue, chip, prize, cost, anchor, bet_time,update_time from ${dbLottery}.lottery_bet7
        where bet_time &gt;=  #{start} and bet_time  &lt;=  #{end} and status &gt; 0
        UNION ALL
        select id,puser_id , lottery_id, issue, chip, prize, cost, anchor, bet_time,update_time from ${dbLottery}.lottery_bet8
        where bet_time &gt;=  #{start} and bet_time  &lt;=  #{end} and status &gt; 0
        UNION ALL
        select id,puser_id , lottery_id, issue, chip, prize, cost, anchor, bet_time,update_time from ${dbLottery}.lottery_bet9
        where bet_time &gt;=  #{start} and bet_time  &lt;=  #{end} and status &gt; 0
    </select>
    <select id="selectLotteryBetById" parameterType="String" resultMap="LotteryBetResult">
        <include refid="selectLotteryBetVo"/>
        where id = #{id}
    </select>

    <delete id="deleteLotteryBetById" parameterType="String">
        delete from ${dbLottery}.lottery_bet where id = #{id}
    </delete>

    <delete id="deleteLotteryBetByIds" parameterType="String">
        delete from ${dbLottery}.lottery_bet where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="sumBatCostPrize" resultType="java.util.HashMap">
        select sum(cost) as cost, anchor from ${dbLottery}.lottery_bet where anchor = #{anchor} and update_time >=#{beginTime} and
         update_time <![CDATA[ <= ]]> #{endTime} GROUP BY anchor
    </select>
</mapper>
