<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.mapper.LotteryInfoMapper">

    <resultMap type="LotteryInfo" id="LotteryInfoResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="type"    column="type"    />
        <result property="status"    column="status"    />
        <result property="icon"    column="icon"    />
        <result property="official"    column="official"    />
        <result property="killRate"    column="kill_rate"    />
        <result property="minCost"    column="min_cost"    />
        <result property="order"    column="order"    />
        <result property="cycle"    column="cycle"    />
    </resultMap>

    <sql id="selectLotteryInfoVo">
        select id, name,type,status, icon, official, kill_rate, min_cost,`order`, cycle from ${dbLottery}.lottery_info
    </sql>

    <select id="selectLotteryInfoList" parameterType="LotteryInfo" resultMap="LotteryInfoResult">
        <include refid="selectLotteryInfoVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="icon != null  and icon != ''"> and icon = #{icon}</if>
            <if test="official != null "> and official = #{official}</if>
            <if test="killRate != null "> and kill_rate = #{killRate}</if>
            <if test="minCost != null "> and min_cost = #{minCost}</if>
            <if test="order != null "> and order = #{order}</if>
            <if test="cycle != null "> and cycle = #{cycle}</if>
        </where>
        order by `order` asc
    </select>

    <select id="selectLotteryInfoListById" parameterType="String" resultMap="LotteryInfoResult">
        <include refid="selectLotteryInfoVo"/>
        where id = #{id}
    </select>

    <update id="updateLotteryInfo" parameterType="LotteryInfo">
        update ${dbLottery}.lottery_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="icon != null">icon = #{icon},</if>
            <if test="order != null">`order` = #{order},</if>
        </trim>
        where id = #{id}
    </update>

<!--    writing update status live -->
    <update id="updateLiveLotterySetStatus" parameterType="LotteryInfo">
        update ${dbLottery}.lottery_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null ">status = #{status}</if>
        </trim>
        where id = #{id}
    </update>


</mapper>
