<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.mapper.LotteryHistoryMapper">

    <resultMap type="LotteryHistory" id="LotteryHistoryResult">
        <result property="id"    column="id"    />
        <result property="issue"    column="issue"    />
        <result property="lotteryId"    column="lottery_id"    />
        <result property="code"    column="code"    />
        <result property="ktime"    column="ktime"    />
        <result property="status"    column="status"    />
        <result property="name"    column="name"    />
        <result property="killRate"    column="kill_rate"    />
        <result property="totalBet"    column="total_bet"    />
        <result property="totalPrize"    column="total_prize"    />
        <result property="ctl"    column="ctl"    />
        <result property="analyse"    column="analyse"    />
    </resultMap>

    <sql id="selectLotteryHistoryVo">
        select id, issue, lottery_id, code, ktime, status, name, kill_rate, total_bet, total_prize, ctl, analyse from ${dbLottery}.lottery_history
    </sql>

    <select id="selectLotteryHistoryList" parameterType="LotteryHistory" resultMap="LotteryHistoryResult">
        <include refid="selectLotteryHistoryVo"/>
        <where>
            <if test="issue != null  and issue != ''"> and issue = #{issue}</if>
            <if test="lotteryId != null "> and lottery_id = #{lotteryId}</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(ktime,'%y%m%d') <![CDATA[ >= ]]> date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(ktime,'%y%m%d') <![CDATA[ <= ]]> date_format(#{params.endTime},'%y%m%d')
            </if>
            <if test="status != null "> and status = #{status}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="killRate != null "> and kill_rate = #{killRate}</if>
            <if test="totalBet != null "> and total_bet = #{totalBet}</if>
            <if test="totalPrize != null "> and total_prize = #{totalPrize}</if>
            <if test="ctl != null "> and ctl = #{ctl}</if>
            <if test="analyse != null  and analyse != ''"> and analyse = #{analyse}</if>
        </where>
    </select>

    <select id="selectLotteryHistoryNameList" parameterType="LotteryHistory" resultMap="LotteryHistoryResult">
        select name,id  from ${dbLottery}.lottery_info where status = 1
    </select>

    <select id="selectKtimeById" resultType="java.lang.String">
        select ktime from ${dbLottery}.lottery_history where id = #{id}
    </select>

    <update id="changeStatus">
        update ${dbLottery}.lottery_history set status = 1 where id = #{id}
    </update>

    <select id="selectBetweenByTimeList"  resultMap="LotteryHistoryResult">
        SELECT issue FROM ${dbLottery}.lottery_history WHERE ktime BETWEEN #{startTime} AND #{endTime} AND lottery_id = #{lotteryId}
    </select>

    <insert id="batchLotteryHistoryList">
        INSERT INTO ${dbLottery}.lottery_history(id, issue, lottery_id,code,ktime,status,`name`,kill_rate,total_bet,total_prize,ctl,analyse)
        VALUES
        <foreach collection ="list" item="history" separator =",">
            (#{history.id},#{history.issue},#{history.lotteryId},NULL,#{history.ktime},#{history.status},#{history.name}, 0.00, 0, 0.00, 0, NULL)
        </foreach >
    </insert>
</mapper>
