<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.mapper.MemberOnlineMapper">

    <resultMap type="MemberOnline" id="MemberOnlineResult">
        <result property="id"    column="id"    />
        <result property="onlineTime"    column="online_time"    />
    </resultMap>

    <sql id="selectMemberOnlineVo">
        select id, online_time from ${dbMain}.member_online
    </sql>

    <select id="selectMemberOnlineList" parameterType="MemberOnline" resultMap="MemberOnlineResult">
        select FROM_UNIXTIME(o.online_time) online,o.id,m.user_name userName,m.vip,m.nick_name nickName,m.login_ip loginIp from
        ${dbMain}.member_online o left join ${dbMain}.member_info m on m.id = o.id
        where o.online_time >= #{onlineTime}
            <if test="searchValue != null and searchValue != ''"> and (m.user_name = #{searchValue} or o.id = #{searchValue})</if>
            <if test="nickName != null and nickName != ''"> and m.nick_name = #{nickName}</if>
        order by o.online_time desc
    </select>

    <select id="selectMemberOnlineListCountTotal" parameterType="MemberOnline" resultMap="MemberOnlineResult">
        select count(0) total from ${dbMain}.member_online
        where online_time >= #{onlineTime}
    </select>

    <select id="sumCount" resultType="com.qiqilm.server.admin.domain.rsp.RspMemberOnline">
        select count(online_time) count from ${dbMain}.member_online
        where 1=1
        <if test="req.now_time != null and req.now_time != ''">
            and online_time <![CDATA[ >= ]]> #{req.now_time}
        </if>
    </select>

    <update id="cutTableOnline" parameterType="String">
        create table if not EXISTS ${tableNode} like member_online
    </update>
</mapper>
