<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.mapper.MemberPayJourMapper">
	<resultMap type="MemberPayJour" id="MemberPayJourResult">
		<result property="id" column="id"/>
		<result property="memberId" column="member_id"/>
		<result property="platformId" column="platform_id"/>
		<result property="channelId" column="channel_id"/>
		<result property="orderNo" column="order_no"/>
		<result property="tradeSn" column="trade_sn"/>
		<result property="money" column="money"/>
		<result property="subMoney" column="sub_money"/>
		<result property="paymentCode" column="payment_code"/>
		<result property="payTime" column="pay_time"/>
		<result property="status" column="status"/>
		<result property="isPatchOrder" column="is_patch_order"/>
		<result property="remark" column="remark"/>
		<result property="platformRate" column="platform_rate"/>
		<result property="currentSuccessRate" column="current_success_rate"/>
		<result property="manWork" column="man_work"/>
		<result property="userName" column="user_name"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
		<result property="first" column="first"/>

		<result property="payRate" column="pay_rate"/>
		<result property="platformName" column="platform_name"/>
		<result property="channelName" column="channel_name"/>
	</resultMap>

	<sql id="selectMemberPayJourVo">
		select id,
			   member_id,
			   platform_id,
			   channel_id,
			   order_no,
			   trade_sn,
			   money,
			   sub_money,
			   pay_time,
			   status,
			   is_patch_order,
			   remark,
			   platform_rate,
			   current_success_rate,
			   man_work,
			   user_name,
			   create_time,
			   update_time,
			   first
		from member_pay_jour
	</sql>

	<select id="selectMemberPayJourList" parameterType="MemberPayJour" resultMap="MemberPayJourResult">
		select j.*, p.name platform_name, c.name channel_name, IFNULL(c.pay_rate, j.platform_rate) pay_rate from (
		<include refid="selectMemberPayJourVo"/>
		<where>
			<include refid="listWhere"/>
			<if test="downLoadDate[0] != null "> and update_time <![CDATA[ >= ]]> '${downLoadDate[0]}'</if>
			<if test="downLoadDate[1] != null "> and update_time <![CDATA[ <= ]]> '${downLoadDate[1]}'</if>
			<if test="priceMin != null and priceMax != null  and priceMin != ''  and priceMax != ''">
				and money <![CDATA[ >= ]]> #{priceMin}
				and money <![CDATA[ <= ]]> #{priceMax}
			</if>
		</where>
		) j
		left join pay_platform_new p on j.platform_id = p.id
		left join pay_channel_new c on j.channel_id = c.id
		order by update_time desc
	</select>

	<select id="selectMemberPayJourById" parameterType="String" resultMap="MemberPayJourResult">
		select j.*, p.name platform_name, c.name channel_name, IFNULL(c.pay_rate, j.platform_rate) pay_rate from (
		<include refid="selectMemberPayJourVo"/>
		where id = #{id}
		) j
		left join pay_platform_new p on j.platform_id = p.id
		left join pay_channel_new c on j.channel_id = c.id
	</select>

	<insert id="insertMemberPayJour" parameterType="MemberPayJour">
		insert into member_pay_jour
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="memberId != null">
				member_id,
			</if>
			<if test="platformId != null">
				platform_id,
			</if>
			<if test="channelId != null">
				channel_id,
			</if>
			<if test="orderNo != null">
				order_no,
			</if>
			<if test="tradeSn != null">
				trade_sn,
			</if>
			<if test="money != null">
				money,
			</if>
			<if test="subMoney != null">
				sub_money,
			</if>
			<if test="paymentCode != null">
				payment_code,
			</if>
			<if test="payTime != null">
				pay_time,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="isPatchOrder != null">
				is_patch_order,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="platformRate != null">
				platform_rate,
			</if>
			<if test="currentSuccessRate != null">
				current_success_rate,
			</if>
			<if test="manWork != null">
				man_work,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="first != null">
				first,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="memberId != null">
				#{memberId},
			</if>
			<if test="platformId != null">
				#{platformId},
			</if>
			<if test="channelId != null">
				#{channelId},
			</if>
			<if test="orderNo != null">
				#{orderNo},
			</if>
			<if test="tradeSn != null">
				#{tradeSn},
			</if>
			<if test="money != null">
				#{money},
			</if>
			<if test="subMoney != null">
				#{subMoney},
			</if>
			<if test="paymentCode != null">
				#{paymentCode},
			</if>
			<if test="payTime != null">
				#{payTime},
			</if>
			<if test="status != null">
				#{status},
			</if>
			<if test="isPatchOrder != null">
				#{isPatchOrder},
			</if>
			<if test="remark != null">
				#{remark},
			</if>
			<if test="platformRate != null">
				#{platformRate},
			</if>
			<if test="currentSuccessRate != null">
				#{currentSuccessRate},
			</if>
			<if test="manWork != null">
				#{manWork},
			</if>
			<if test="userName != null">
				#{userName},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
			<if test="updateTime != null">
				#{updateTime},
			</if>
			<if test="first != null">
				#{first},
			</if>
		</trim>
	</insert>

	<update id="updateMemberPayJour" parameterType="MemberPayJour">
		update member_pay_jour
		<trim prefix="SET" suffixOverrides=",">
			<if test="memberId != null">
				member_id = #{memberId},
			</if>
			<if test="platformId != null">
				platform_id = #{platformId},
			</if>
			<if test="channelId != null">
				channel_id = #{channelId},
			</if>
			<if test="orderNo != null">
				order_no = #{orderNo},
			</if>
			<if test="tradeSn != null">
				trade_sn = #{tradeSn},
			</if>
			<if test="money != null">
				money = #{money},
			</if>
			<if test="subMoney != null">
				sub_money = #{subMoney},
			</if>
			<if test="paymentCode != null">
				payment_code = #{paymentCode},
			</if>
			<if test="payTime != null">
				pay_time = #{payTime},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
			<if test="isPatchOrder != null">
				is_patch_order = #{isPatchOrder},
			</if>
			<if test="remark != null">
				remark = #{remark},
			</if>
			<if test="platformRate != null">
				platform_rate = #{platformRate},
			</if>
			<if test="currentSuccessRate != null">
				current_success_rate = #{currentSuccessRate},
			</if>
			<if test="manWork != null">
				man_work = #{manWork},
			</if>
			<if test="userName != null">
				user_name = #{userName},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime},
			</if>
			<if test="first != null">
				first = #{first},
			</if>
		</trim>
		where id = #{id}
	</update>

	<sql id="listWhere">
		<if test="status != null and status != '' and status lt 2">
			and status = #{status}
		</if>
		<if test="status != null and status != '' and status == 2">
			and status = '1' and is_patch_order = 1
		</if>
		<if test="platformId != null and platformId != ''">
			and platform_id = #{platformId}
		</if>
		<if test="searchOrderNo != null and searchOrderNo != ''">
			and (trade_sn = #{searchOrderNo} or order_no = #{searchOrderNo})
		</if>
		<if test="searchValue != null and searchValue != ''">
			and member_id in (SELECT id from member_info where (user_name = #{searchValue} or id = #{searchValue}))
		</if>
		<if test="selectStartDate != null and selectStartDate != ''">
			and update_time <![CDATA[ >= ]]> #{selectStartDate} and update_time <![CDATA[ <= ]]> #{selectEndDate}
		</if>
		<if test="channelName != null and channelName != ''">
			and channel_id in (SELECT id from pay_channel_new where name like concat(#{channelName}, '%'))
		</if>
	</sql>

	<sql id="transactionsTotal">
		select count(*) total,sum(sub_money) totalMoney
		from member_pay_jour
		where 1=1
		<include refid="listWhere"/>
	</sql>

	<sql id="replenishmentTotal">
		select sum(sub_money) replenishmentTotalMoney
		from member_pay_jour
		where 1=1
		<include refid="listWhere"/>
		and is_patch_order = 1
	</sql>

	<sql id="successCountRate">
		select count(*) successCount
		from member_pay_jour
		where 1=1
		<include refid="listWhere"/>
		and status = 1
	</sql>

	<select id="listCount" resultType="java.util.Map">
		select *, c.successCount / a.total failRate from (<include refid="transactionsTotal"/>)a
			left join (<include refid="replenishmentTotal"/>)b on 1 = 1
			left join (<include refid="successCountRate"/>)c on 1 = 1
	</select>

	<select id="findByOrderNo" resultMap="MemberPayJourResult">
		<include refid="selectMemberPayJourVo"/>
		where order_no = #{orderNo}
	</select>
    <select id="selectMemberPayJourLists" resultType="com.qiqilm.server.admin.domain.rsp.RspPayJour">
		SELECT  p.name AS platformName,IFNULL(c.pay_rate,t.platform_rate) as channelPayRate,c.name AS channelName, t.platform_id as platformId ,t.channel_id as channelId,SUM( money ) AS money,SUM( sub_money ) AS subMoney ,t.update_time as updateTime FROM member_pay_jour t
		LEFT JOIN pay_channel_new c ON t.channel_id = c.id
		LEFT JOIN pay_platform_new p ON t.platform_id = p.id
        where t.status='1'
		<if test="platformId != null and platformId != ''">
			and t.platform_id = #{platformId}
		</if>
		<if test="updateTime != null and updateTime != ''">
			and t.update_time <![CDATA[ >= ]]> #{selectStartDate} and t.update_time <![CDATA[ <= ]]> #{selectEndDate}
		</if>
		<if test="channelName != null and channelName != ''">
			and t.channel_id in (SELECT id from pay_channel_new where name like concat(#{channelName}, '%'))
		</if>
		GROUP BY
		t.channel_id,t.platform_id
	</select>
	<select id="listCounts" resultType="java.util.Map">
		SELECT SUM( t.sub_money ) AS subMoney ,SUM(t.sub_money * IFNULL(c.pay_rate,t.platform_rate) ) AS handlingfeeTotal ,t.platform_id,t.channel_id,t.update_time,COUNT(*) AS totalcount
		FROM member_pay_jour t LEFT JOIN pay_channel_new c ON t.channel_id = c.id
		WHERE t.STATUS='1'
		<if test="platformId != null and platformId != ''">
			and t.platform_id = #{platformId}
		</if>
		<if test="updateTime != null and updateTime != ''">
			and t.update_time <![CDATA[ >= ]]> #{selectStartDate} and t.update_time <![CDATA[ <= ]]> #{selectEndDate}
		</if>
		<if test="channelName != null and channelName != ''">
			and t.channel_id in (SELECT id from pay_channel_new where name like concat(#{channelName}, '%'))
		</if>
	</select>

	<select id="selectMemberPayJourRspList" resultType="com.qiqilm.server.admin.domain.rsp.MemberPayJourRsp">
		SELECT
		a.*,
		p.`name` platformName
		FROM
		(
		SELECT
		j.id,
		j.member_id memberId,
		j.platform_id platformId,
		j.channel_id channelId,
		j.money,
		j.`status`,
		c.`name` channelName,
		j.pay_time orderTime
		FROM
		member_pay_jour j
		LEFT JOIN pay_channel_new c ON c.id = j.channel_id
		WHERE
		c.`status` = 1
		ORDER BY
		j.pay_time DESC
		LIMIT ${count}
		) a
		LEFT JOIN pay_platform_new p ON p.id = a.platformId
	</select>

	<select id="successTodayCount" resultType="java.lang.Integer">
		select count(0)
		from member_pay_jour
		where member_id = #{memberId}
		  and status = 1
		  and platform_id = #{platformId}
		  and pay_time
		<![CDATA[ >= ]]> DATE_SUB(CURDATE(), INTERVAL 0 DAY)
	</select>
</mapper>
