<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.mapper.MemberBcodeMapper">
	<resultMap type="com.qiqilm.server.admin.domain.MemberBcode" id="MemberBcodeResult">
		<result property="id" column="id"/>
		<result property="userId" column="user_id"/>
		<result property="des" column="des"/>
		<result property="income" column="income"/>
		<result property="createTime" column="create_time"/>
		<result property="status" column="status"/>
		<result property="cur" column="cur"/>
	</resultMap>

	<sql id="selectMemberBcodeVo">
		select id, user_id, des, income, create_time, status, cur
		from member_bcode
	</sql>

	<select id="selectWillBcodeList" parameterType="com.qiqilm.server.admin.domain.MemberBcode" resultMap="MemberBcodeResult">
		<include refid="selectMemberBcodeVo"/>
		<where>
			<if test="userId != null">
				and user_id = #{userId}
			</if>

			<if test="status != null">
				and status = #{status}
			</if>
		</where>
		order by create_time asc
	</select>

	<select id="selectMemberBcodeList" parameterType="com.qiqilm.server.admin.domain.MemberBcode" resultMap="MemberBcodeResult">
		<include refid="selectMemberBcodeVo"/>
		<where>
			<if test="userId != null  and userId != ''">
				and user_id = #{userId}
			</if>
			<if test="des != null  and des != ''">
				and des = #{des}
			</if>
			<if test="income != null">
				and income = #{income}
			</if>
			<if test="status != null">
				and status = #{status}
			</if>
			<if test="cur != null">
				and cur = #{cur}
			</if>
			<if test="startTime != null and startTime != ''">
				and create_time >= #{startTime}
			</if>
			<if test="endTime != null and endTime != ''">
				and create_time &lt;= #{endTime}
			</if>
		</where>
	</select>

	<select id="selectMemberBcodeById" parameterType="String" resultMap="MemberBcodeResult">
		<include refid="selectMemberBcodeVo"/>
		where id = #{id}
	</select>

	<insert id="insertMemberBcode" parameterType="com.qiqilm.server.admin.domain.MemberBcode">
		insert into member_bcode
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="des != null">
				des,
			</if>
			<if test="income != null">
				income,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="cur != null">
				cur,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="userId != null">
				#{userId},
			</if>
			<if test="des != null">
				#{des},
			</if>
			<if test="income != null">
				#{income},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
			<if test="status != null">
				#{status},
			</if>
			<if test="cur != null">
				#{cur},
			</if>
		</trim>
	</insert>

	<update id="updateMemberBcode" parameterType="com.qiqilm.server.admin.domain.MemberBcode">
		update member_bcode
		<trim prefix="SET" suffixOverrides=",">
			<if test="userId != null">
				user_id = #{userId},
			</if>
			<if test="des != null">
				des = #{des},
			</if>
			<if test="income != null">
				income = #{income},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
			<if test="cur != null">
				cur = #{cur},
			</if>
		</trim>
		where id = #{id}
	</update>

	<delete id="deleteMemberBcodeById" parameterType="String">
		delete
		from member_bcode
		where id = #{id}
	</delete>

	<delete id="deleteMemberBcodeByIds" parameterType="String">
		delete
		from member_bcode where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<select id="getTotalData" resultType="com.qiqilm.server.admin.domain.MemberBcode">
		SELECT cast(SUM(income) AS decimal(10,2)) total,
		cast(SUM(cur) AS decimal(10,2)) countCur
		from member_bcode
			<where>
				<if test="userId != null  and userId != ''">
					and user_id = #{userId}
				</if>
				<if test="startTime != null and startTime != ''">
					and create_time >= #{startTime}
				</if>
				<if test="endTime != null and endTime != ''">
					and create_time &lt;= #{endTime}
				</if>
            </where>
	</select>


	<select id="countMemberBcodeStatus" parameterType="java.lang.String" resultType="Integer">
		select COUNT(1)  from member_bcode where user_id = #{memberId} and status = 0;
	</select>


	<update id="repairMemberInfo">
		update  member_info set code_account = level_integral where id = #{memberId};
	</update>
    <update id="updateVip">
        update  member_info set vip = #{vip},nick_name = #{nickName} where id = #{memberId};
    </update>
</mapper>
