<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.mapper.MemberMoneyMapper">

    <resultMap type="MemberMoney" id="MemberMoneyResult">
        <result property="memberId"    column="member_id"    />
        <result property="money"    column="money"    />
        <result property="beat"    column="beat"    />
    </resultMap>

    <sql id="selectMemberMoneyVo">
        select member_id, money, beat from member_money
    </sql>

    <select id="selectMemberMoneyList" parameterType="MemberMoney" resultMap="MemberMoneyResult">
        <include refid="selectMemberMoneyVo"/>
        <where>
            <if test="memberId != null and memberId != ''"> and member_id = #{memberId}</if>
            <if test="money != null "> and money = #{money}</if>
            <if test="beat != null "> and beat = #{beat}</if>
        </where>
    </select>

    <select id="selectMemberMoneyById" parameterType="String" resultMap="MemberMoneyResult">
        <include refid="selectMemberMoneyVo"/>
        where member_id = #{memberId}
    </select>

    <insert id="insertMemberMoney" parameterType="MemberMoney">
        insert into member_money
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="memberId != null">member_id,</if>
            <if test="money != null">money,</if>
            <if test="beat != null">beat,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="memberId != null">#{memberId},</if>
                <if test="money != null">#{money},</if>
                <if test="beat != null">#{beat},</if>
             </trim>
    </insert>

    <insert id="insertBatch">
        insert into member_money (member_id, money, beat)
        <foreach collection="list" item="item" open="values" separator=",">
            (#{item.memberId}, #{item.money}, #{item.beat})
        </foreach>
    </insert>

    <update id="updateMemberMoney" parameterType="MemberMoney">
        update member_money
        <trim prefix="SET" suffixOverrides=",">
            <if test="money != null">money = #{money},</if>
            <if test="beat != null">beat = #{beat},</if>
        </trim>
        where member_id = #{memberId}
    </update>

    <delete id="deleteMemberMoneyById" parameterType="String">
        delete from member_money where member_id = #{memberId}
    </delete>

    <delete id="deleteMemberMoneyByIds" parameterType="String">
        delete from member_money where member_id in
        <foreach item="memberId" collection="array" open="(" separator="," close=")">
            #{memberId}
        </foreach>
    </delete>

    <delete id="clear">
        TRUNCATE TABLE member_money
    </delete>


    <select id="countMoney" resultType="java.math.BigDecimal">
        select sum(money) from member_money;
    </select>

</mapper>
