<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.mapper.MemberWithdrawLogMapper">
    <resultMap type="MemberWithdrawLog" id="MemberWithdrawLogResult">
        <result property="id" column="id" />
        <result property="memberId" column="member_id" />
        <result property="withdrawMoney" column="withdraw_money" />
        <result property="bankName" column="bank_name" />
        <result property="bankAccount" column="bank_account" />
        <result property="bankCode" column="bank_code" />
        <result property="bankAddress" column="bank_address" />
        <result property="bankUserName" column="bank_user_name" />
        <result property="status" column="status" />
        <result property="type" column="type" />
        <result property="createTime" column="create_time" />
        <result property="opName" column="op_name" />
        <result property="updateTime" column="update_time" />
        <result property="orderNo" column="order_no" />
        <result property="remark" column="remark" />
        <result property="account" column="account" />
        <result property="first" column="first" />
        <result property="rechargeWithdrawRate" column="recharge_withdraw_rate" />
        <result property="bankCharge" column="bank_charge" />
        <result property="realBankAddress" column="real_bank_address" />
        <result property="rechargeUserName" column="recharge_user_name" />
        <result property="rechargeCodeRatio" column="recharge_code_ratio" />
    </resultMap>

    <sql id="selectMemberWithdrawLogVo">
        select id,
               member_id,
               withdraw_money,
               bank_name,
               bank_account,
               bank_code,
               bank_address,
               bank_user_name,
               status,
               type,
               create_time,
               op_name,
               update_time,
               order_no,
               remark,
               account,
               first,
               recharge_withdraw_rate,
               bank_charge,
               real_bank_address,
               recharge_user_name,
               recharge_code_ratio
        from `${dbMain}`.member_withdraw_log
    </sql>

    <sql id="selectMemberWithdrawLogShunWeiVo">
        select withdraw_money withdrawMoney,
               bank_name      bankName,
               bank_account   bankAccount,
               bank_user_name bankUserName,
               order_no       orderNo
        from `${dbMain}`.member_withdraw_log
    </sql>
    <sql id="selectMember">
        <if test="status != null and status == -1">
            member_id not in (select member_id
            from `${dbMain}`.member_withdraw_log
            WHERE `status` in (3, 6)
            GROUP BY member_id
            HAVING count(1) > 1)
        </if>
        <if test="status != null and status != '' and status != -1">
            and `status` = #{status}
        </if>
        <if test="status==0">
            and status = #{status}
        </if>
        <if test="priceMin != null and priceMax != null  and priceMin != ''  and priceMax != ''">
            and withdraw_money <![CDATA[ >= ]]> #{priceMin}
            and withdraw_money <![CDATA[ <= ]]> #{priceMax}
        </if>
        <if test="opName != null and opName != ''">
            and op_name = #{opName}
        </if>
        <if test="startTime != null and startTime != ''">
            and create_time between #{startTime} and #{endTime}
        </if>
        <if test="remark != null and remark != ''">
            and remark like concat('%', #{remark}, '%')
        </if>
    </sql>
    <select id="selectMemberWithdrawLogList" parameterType="MemberWithdrawLog" resultMap="MemberWithdrawLogResult">
        <include refid="selectMemberWithdrawLogVo" />
        <where>
            <include refid="selectMember"></include>
            <if test="searchValue != null and searchValue != ''">
                and order_no = #{searchValue}
            </if>
            <if test="downLoadDate[0] != null ">and create_time <![CDATA[ >= ]]> '${downLoadDate[0]}'</if>
            <if test="downLoadDate[1] != null ">and create_time <![CDATA[ <= ]]> '${downLoadDate[1]}'</if>
        </where>
        <if test="searchValue != null and searchValue != ''">
            UNION
            <include refid="selectMemberWithdrawLogVo" />
            <where>
                <include refid="selectMember"></include>
                <if test="searchValue != null and searchValue != ''">
                    and member_id = #{searchValue}
                </if>
            </where>
            UNION
            <include refid="selectMemberWithdrawLogVo" />
            <where>
                <include refid="selectMember"></include>
                <if test="searchValue != null and searchValue != ''">
                    and account = #{searchValue}
                </if>
            </where>
            UNION
            <include refid="selectMemberWithdrawLogVo" />
            <where>
                <include refid="selectMember"></include>
                <if test="searchValue != null and searchValue != ''">
                    and bank_user_name = #{searchValue}
                </if>
            </where>
        </if>
    </select>

    <select id="selectMemberWithdrawLogById" parameterType="String" resultMap="MemberWithdrawLogResult">
        <include refid="selectMemberWithdrawLogVo" />
        where id = #{id}
    </select>

    <insert id="insertMemberWithdrawLog" parameterType="MemberWithdrawLog">
        insert into ${dbMain}.member_withdraw_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="memberId != null">
                member_id,
            </if>
            <if test="withdrawMoney != null">
                withdraw_money,
            </if>
            <if test="bankCode != null">
                bank_code,
            </if>
            <if test="bankName != null">
                bank_name,
            </if>
            <if test="bankAccount != null">
                bank_account,
            </if>
            <if test="bankAddress != null">
                bank_address,
            </if>
            <if test="bankUserName != null">
                bank_user_name,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="opName != null">
                op_name,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="orderNo != null">
                order_no,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="account != null">
                account,
            </if>
            <if test="first != null">
                first,
            </if>
            <if test="rechargeWithdrawRate != null">
                recharge_withdraw_rate,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="memberId != null">
                #{memberId},
            </if>
            <if test="withdrawMoney != null">
                #{withdrawMoney},
            </if>
            <if test="bankCode != null">
                #{bankCode},
            </if>
            <if test="bankName != null">
                #{bankName},
            </if>
            <if test="bankAccount != null">
                #{bankAccount},
            </if>
            <if test="bankAddress != null">
                #{bankAddress},
            </if>
            <if test="bankUserName != null">
                #{bankUserName},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="opName != null">
                #{opName},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
            <if test="orderNo != null">
                #{orderNo},
            </if>
            <if test="remark != null">
                #{remark},
            </if>
            <if test="account != null">
                #{account},
            </if>
            <if test="first != null">
                #{first},
            </if>
            <if test="rechargeWithdrawRate != null">
                #{rechargeWithdrawRate},
            </if>
        </trim>
    </insert>

    <update id="updateMemberWithdrawLog" parameterType="MemberWithdrawLog">
        update ${dbMain}.member_withdraw_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="memberId != null">
                member_id = #{memberId},
            </if>
            <if test="withdrawMoney != null">
                withdraw_money = #{withdrawMoney},
            </if>
            <if test="bankCode != null">
                bank_code = #{bankCode},
            </if>
            <if test="bankName != null">
                bank_name = #{bankName},
            </if>
            <if test="bankAccount != null">
                bank_account = #{bankAccount},
            </if>
            <if test="bankAddress != null">
                bank_address = #{bankAddress},
            </if>
            <if test="bankUserName != null">
                bank_user_name = #{bankUserName},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="opName != null">
                op_name = #{opName},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="orderNo != null">
                order_no = #{orderNo},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="account != null">
                account = #{account},
            </if>
            <if test="first != null">
                first = #{first},
            </if>
            <if test="rechargeWithdrawRate != null">
                recharge_withdraw_rate = #{rechargeWithdrawRate},
            </if>
        </trim>
        where id = #{id}
    </update>

    <select id="selectByOrderNo" resultMap="MemberWithdrawLogResult">
        <include refid="selectMemberWithdrawLogVo" />
        where order_no = #{orderNo}
    </select>

    <sql id="whereTotal">
        <if test="status != null and status == -1">
            member_id not in (select member_id
            from `${dbMain}`.member_withdraw_log
            WHERE `status` in (3, 6)
            GROUP BY member_id
            HAVING count(1) > 1)
        </if>
        <if test="status != null and status != '' and status != -1">
            and `status` = #{status}
        </if>
        <if test="searchValue != null and searchValue != ''">
            and (order_no = #{searchValue} or member_id = #{searchValue} or account = #{searchValue}
            or bank_user_name = #{searchValue})
        </if>
        <if test="priceMin != null and priceMax != null  and priceMin != ''  and priceMax != ''">
            and withdraw_money <![CDATA[ >= ]]> #{priceMin}
            and withdraw_money <![CDATA[ <= ]]> #{priceMax}
        </if>
        <if test="startTime != null and startTime != ''">
            and create_time <![CDATA[ >= ]]> #{startTime}
            and create_time <![CDATA[ <= ]]> #{endTime}
        </if>
        <if test="remark != null and remark != ''">
            and remark like concat('%', #{remark}, '%')
        </if>
    </sql>
    <sql id="getTotalSql">
        select count(*) numberTotal from `${dbMain}`.member_withdraw_log
        <where>
            <include refid="whereTotal"></include>
        </where>
    </sql>
    <sql id="getSuccessTotalSql">
        select count(*) total ,sum(withdraw_money) successTotal from `${dbMain}`.member_withdraw_log
        <where>
            <include refid="whereTotal"></include>
            and (status = 3 or status = 6)
        </where>
    </sql>
    <select id="getTotal" parameterType="MemberWithdrawLog" resultType="java.util.Map">
        select b.total,b.successTotal,b.total/a.numberTotal successRate from (<include refid="getTotalSql"></include>)a
        left join (<include refid="getSuccessTotalSql"></include>)b on 1=1
    </select>

    <select id="getWithdrawLogList" parameterType="java.lang.String" resultMap="MemberWithdrawLogResult">
        <include refid="selectMemberWithdrawLogVo" />
        where `status`=0
        and create_time <![CDATA[ <= ]]> #{date} and create_time <![CDATA[ >= ]]> #{beginTime}
    </select>

    <select id="selectByIds" resultMap="MemberWithdrawLogResult">
        <include refid="selectMemberWithdrawLogVo" />
        where `status` != 2 and (op_name IS NULL or op_name = '') and id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectLocksByIds" resultMap="MemberWithdrawLogResult">
        <include refid="selectMemberWithdrawLogVo" />
        where `status` = 0 and id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectMemberWithdrawLogShunWeiList"
            resultType="com.qiqilm.server.admin.domain.MemberWithdrawLogShunWei">
        <include refid="selectMemberWithdrawLogShunWeiVo" />
        where `status` <![CDATA[ <= ]]> 1 and id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectRegisterByMemberIds" resultType="com.qiqilm.server.admin.domain.MemberWithdrawLog">
        select member_id, count(member_id) count
        FROM member_withdraw_log
        where status in ('3', '6')
          and member_id in (${memberIds})
        GROUP BY member_id
    </select>

    <select id="selectPayAgentOrder" resultMap="MemberWithdrawLogResult">
        <include refid="selectMemberWithdrawLogVo" />
        where `status` = 1 and op_name = #{userName} and withdraw_money > 0 and withdraw_money <![CDATA[ <= ]]> 5000
        and order_no in
        <foreach item="orderNo" collection="withdrawOrderNos" open="(" separator="," close=")">
            #{orderNo}
        </foreach>
    </select>

    <select id="selectMemberIdStatus" resultMap="MemberWithdrawLogResult">
        select id member_id,status memberStatus from `${dbMain}`.member_info
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="countOpNameOrder" resultMap="MemberWithdrawLogResult">
        SELECT
        count(id) as times,
        sum(withdraw_money) AS money,
        op_name,status
        FROM `${dbMain}`.member_withdraw_log
        <where>
            <if test="opName != null and opName != ''">and op_name = #{opName}</if>
            <if test="searchTime[0] != null and searchTime[0] != ''">and update_time <![CDATA[ >= ]]>
                '${searchTime[0]}'
            </if>
            <if test="searchTime[1] != null and searchTime[1] != ''">and update_time <![CDATA[ <= ]]>
                '${searchTime[1]}'
            </if>
        </where>
        GROUP BY
        STATUS,
        op_name
    </select>
    <select id="countAll" resultType="java.lang.Integer">
        select count(*) numberTotal
        from `${dbMain}`.member_withdraw_log
        where create_time between timestamp(current_date) and now();
    </select>

    <select id="groupByBankCodeSumMoneyYesterday"
            resultType="com.qiqilm.server.admin.domain.vo.MemberSumWithdraw">
        select member_id memberId,bank_code bankCode, sum(withdraw_money) money from member_withdraw_log where
        create_time >= DATE_ADD(CURDATE(), INTERVAL - 1 DAY)
        AND create_time <![CDATA[ <= ]]> DATE_ADD(CURDATE(), INTERVAL 0 DAY) and `status` in (3, 6) and bank_code in
        <foreach item="bankCode" collection="array" open="(" separator="," close=")">
            #{bankCode}
        </foreach>
        GROUP BY member_id,bank_code
    </select>
</mapper>
