<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.mapper.MemberInfoMapper">
    <resultMap type="MemberInfo" id="MemberInfoResult">
        <result property="id" column="id"/>
        <result property="memberCode" column="member_code"/>
        <result property="cxAgent" column="cx_agent"/>
        <result property="userName" column="user_name"/>
        <result property="realName" column="real_name"/>
        <result property="status" column="status"/>
        <result property="vip" column="vip"/>
        <result property="totalAccount" column="total_account"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="isOnline" column="is_online"/>
        <result property="sex" column="sex"/>
        <result property="regTime" column="reg_time"/>
        <result property="registIp" column="regist_ip"/>
        <result property="loginIp" column="login_ip"/>
        <result property="loginAddress" column="login_address"/>
        <result property="loginDev" column="login_dev"/>
        <result property="nickName" column="nick_name"/>
        <result property="birthDay" column="birth_day"/>
        <result property="qq" column="qq"/>
        <result property="wechat" column="wechat"/>
        <result property="headImg" column="head_img"/>
        <result property="onlineTime" column="online_time"/>
        <result property="linkUrl" column="link_url"/>
        <result property="loginTime" column="login_time"/>
        <result property="boxAccount" column="box_account"/>
        <result property="boxPass" column="box_pass"/>
        <result property="cleanTime" column="clean_time"/>
        <result property="levelIntegral" column="level_integral"/>
        <result property="inviterCode" column="inviter_code"/>
        <result property="inviteMoney" column="invite_money"/>
        <result property="codeAccount" column="code_account"/>
        <result property="pid" column="PID"/>
        <result property="codeTotal" column="code_total"/>
        <result property="channelcode" column="channelCode"/>
        <result property="speak" column="speak"/>
        <result property="loginNum" column="login_num"/>
        <result property="version" column="version"/>
        <result property="withdrawalPass" column="withdrawal_pass"/>
        <result property="deviceId" column="device_id"/>
    </resultMap>

    <sql id="selectMemberInfoVo">
        select id,
               member_code,
               cx_agent,
               user_name,
               real_name,
               status,
               vip,
               total_account,
               phone,
               email,
               password,
               is_online,
               sex,
               reg_time,
               regist_ip,
               login_ip,
               login_address,
               login_dev,
               nick_name,
               birth_day,
               qq,
               wechat,
               head_img,
               online_time,
               link_url,
               login_time,
               box_account,
               box_pass,
               clean_time,
               level_integral,
               inviter_code,
               invite_money,
               code_account,
               PID,
               code_total,
               channelCode,
               speak,
               login_num,
               version,
               withdrawal_pass,
               device_id
        from member_info
    </sql>

    <select id="selectMemberInfoList" parameterType="MemberInfo" resultMap="MemberInfoResult">
        <include refid="selectMemberInfoVo"/>
        <where>
            <if test="bankAccount != null  and bankAccount != ''">
                and id in (select member_id
                           from member_card
                           where bank_account = #{bankAccount} or real_name = #{bankAccount})
            </if>
            <!--<if test="searchValue != null  and searchValue != ''">
                and (id = #{searchValue} or phone = #{searchValue} or user_name = #{searchValue})
            </if>-->
            <if test="status != null">
                and id in (select id from member_info where status = #{status})
            </if>
            <if test="email != null and email != ''">
                and email like concat('%', #{email}, '%')
            </if>
            <if test="registIp != null  and registIp != ''">
                and regist_ip = #{registIp}
            </if>
            <if test="loginIp != null  and loginIp != ''">
                and login_ip = #{loginIp}
            </if>
            <if test="realName != null  and realName != ''">
                and id in (select member_id from member_card where real_name = #{realName})
            </if>
            <if test="nickName != null  and nickName != ''">
                and id in (select id from member_info where nick_name like concat('%', #{nickName}, '%'))
            </if>
            <if test="inviterCode != null  and inviterCode != ''">
                and inviter_code = #{inviterCode}
            </if>
            <if test="channelcode != null  and channelcode != ''">
                and channelCode = #{channelcode}
            </if>
            <if test="params.beginTime != null and params.beginTime != ''">
                <!-- 开始时间检索 -->
                AND reg_time <![CDATA[ >= ]]> STR_TO_DATE(#{params.beginTime}, '%Y-%m-%d %H:%i:%s')
            </if>
            <if test="params.endTime != null and params.endTime != ''">
                <!-- 结束时间检索 -->
                AND reg_time <![CDATA[ <= ]]> STR_TO_DATE(#{params.endTime}, '%Y-%m-%d %H:%i:%s')
            </if>
            <if test="downLoadDate[0] != null">
                and reg_time <![CDATA[ >= ]]> '${downLoadDate[0]}'
            </if>
            <if test="downLoadDate[1] != null">
                and reg_time <![CDATA[ <= ]]> '${downLoadDate[1]}'
            </if>
            <if test="version != null  and version != ''">
                and version = #{version}
            </if>
            <if test="loginDev != null  and loginDev != ''">
                and login_dev = #{loginDev}
            </if>
            <if test="vipMin != null and vipMin != ''">
                and vip <![CDATA[ >= ]]> #{vipMin}
            </if>
            <if test="vipMax != null and vipMax != ''">
                and vip <![CDATA[ <= ]]> #{vipMax}
            </if>

            <if test="searchValues != null and searchValues.size() != 0">
                and (id in
                <foreach item="value" collection="searchValues" open="(" separator="," close=")">
                    #{value}
                </foreach>
                or phone in
                <foreach item="value" collection="searchValues" open="(" separator="," close=")">
                    #{value}
                </foreach>
                 or user_name in
                <foreach item="value" collection="searchValues" open="(" separator="," close=")">
                    #{value}
                </foreach>
                )
            </if>

            <if test="vipMin != null and vipMax != null  and vipMin != ''  and vipMax != ''">
                and vip <![CDATA[ >= ]]> #{vipMin}
                and vip <![CDATA[ <= ]]> #{vipMax}
            </if>
            <if test="levelIntegral != null">
                <choose>
                    <when test="levelIntegral == 0">
                        and level_integral <![CDATA[ <= ]]> 0
                    </when>
                    <otherwise>
                        and level_integral > 0
                    </otherwise>
                </choose>
            </if>

            <if test="integral != null and integral != ''">
                and code_total/level_integral <![CDATA[ > ]]> #{integral}
            </if>


        </where>
        order by reg_time desc
    </select>

    <select id="selectMemberInfoById" parameterType="String" resultMap="MemberInfoResult">
        <include refid="selectMemberInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertMemberInfo" parameterType="MemberInfo">
        insert into member_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="memberCode != null and memberCode != ''">
                member_code,
            </if>
            <if test="cxAgent != null and cxAgent != ''">
                cx_agent,
            </if>
            <if test="userName != null and userName != ''">
                user_name,
            </if>
            <if test="realName != null">
                real_name,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="vip != null">
                vip,
            </if>
            <if test="totalAccount != null">
                total_account,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="isOnline != null">
                is_online,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="regTime != null">
                reg_time,
            </if>
            <if test="registIp != null">
                regist_ip,
            </if>
            <if test="loginIp != null">
                login_ip,
            </if>
            <if test="loginAddress != null">
                login_address,
            </if>
            <if test="loginDev != null">
                login_dev,
            </if>
            <if test="nickName != null">
                nick_name,
            </if>
            <if test="birthDay != null">
                birth_day,
            </if>
            <if test="qq != null">
                qq,
            </if>
            <if test="wechat != null">
                wechat,
            </if>
            <if test="headImg != null">
                head_img,
            </if>
            <if test="onlineTime != null">
                online_time,
            </if>
            <if test="linkUrl != null">
                link_url,
            </if>
            <if test="loginTime != null">
                login_time,
            </if>
            <if test="boxAccount != null">
                box_account,
            </if>
            <if test="boxPass != null">
                box_pass,
            </if>
            <if test="cleanTime != null">
                clean_time,
            </if>
            <if test="levelIntegral != null">
                level_integral,
            </if>
            <if test="inviterCode != null">
                inviter_code,
            </if>
            <if test="inviteMoney != null">
                invite_money,
            </if>
            <if test="codeAccount != null">
                code_account,
            </if>
            <if test="pid != null">
                PID,
            </if>
            <if test="codeTotal != null">
                code_total,
            </if>
            <if test="channelcode != null">
                channelCode,
            </if>
            <if test="speak != null">
                speak,
            </if>
            <if test="loginNum != null">
                login_num,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="withdrawalPass != null">
                withdrawal_pass,
            </if>
            <if test="deviceId != null">
                device_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="memberCode != null and memberCode != ''">
                #{memberCode},
            </if>
            <if test="cxAgent != null and cxAgent != ''">
                #{cxAgent},
            </if>
            <if test="userName != null and userName != ''">
                #{userName},
            </if>
            <if test="realName != null">
                #{realName},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="vip != null">
                #{vip},
            </if>
            <if test="totalAccount != null">
                #{totalAccount},
            </if>
            <if test="phone != null">
                #{phone},
            </if>
            <if test="email != null">
                #{email},
            </if>
            <if test="password != null">
                #{password},
            </if>
            <if test="isOnline != null">
                #{isOnline},
            </if>
            <if test="sex != null">
                #{sex},
            </if>
            <if test="regTime != null">
                #{regTime},
            </if>
            <if test="registIp != null">
                #{registIp},
            </if>
            <if test="loginIp != null">
                #{loginIp},
            </if>
            <if test="loginAddress != null">
                #{loginAddress},
            </if>
            <if test="loginDev != null">
                #{loginDev},
            </if>
            <if test="nickName != null">
                #{nickName},
            </if>
            <if test="birthDay != null">
                #{birthDay},
            </if>
            <if test="qq != null">
                #{qq},
            </if>
            <if test="wechat != null">
                #{wechat},
            </if>
            <if test="headImg != null">
                #{headImg},
            </if>
            <if test="onlineTime != null">
                #{onlineTime},
            </if>
            <if test="linkUrl != null">
                #{linkUrl},
            </if>
            <if test="loginTime != null">
                #{loginTime},
            </if>
            <if test="boxAccount != null">
                #{boxAccount},
            </if>
            <if test="boxPass != null">
                #{boxPass},
            </if>
            <if test="cleanTime != null">
                #{cleanTime},
            </if>
            <if test="levelIntegral != null">
                #{levelIntegral},
            </if>
            <if test="inviterCode != null">
                #{inviterCode},
            </if>
            <if test="inviteMoney != null">
                #{inviteMoney},
            </if>
            <if test="codeAccount != null">
                #{codeAccount},
            </if>
            <if test="pid != null">
                #{pid},
            </if>
            <if test="codeTotal != null">
                #{codeTotal},
            </if>
            <if test="channelcode != null">
                #{channelcode},
            </if>
            <if test="speak != null">
                #{speak},
            </if>
            <if test="loginNum != null">
                #{loginNum},
            </if>
            <if test="version != null">
                #{version},
            </if>
            <if test="withdrawalPass != null">
                #{withdrawalPass},
            </if>
            <if test="deviceId != null">
                #{deviceId},
            </if>
        </trim>
    </insert>

    <update id="updateMemberInfo" parameterType="MemberInfo">
        update member_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="memberCode != null and memberCode != ''">
                member_code = #{memberCode},
            </if>
            <if test="cxAgent != null and cxAgent != ''">
                cx_agent = #{cxAgent},
            </if>
            <if test="userName != null and userName != ''">
                user_name = #{userName},
            </if>
            <if test="realName != null">
                real_name = #{realName},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="vip != null">
                vip = #{vip},
            </if>
            <if test="totalAccount != null">
                total_account = #{totalAccount},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="isOnline != null">
                is_online = #{isOnline},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="regTime != null">
                reg_time = #{regTime},
            </if>
            <if test="registIp != null">
                regist_ip = #{registIp},
            </if>
            <if test="loginIp != null">
                login_ip = #{loginIp},
            </if>
            <if test="loginAddress != null">
                login_address = #{loginAddress},
            </if>
            <if test="loginDev != null">
                login_dev = #{loginDev},
            </if>
            <if test="nickName != null">
                nick_name = #{nickName},
            </if>
            <if test="birthDay != null">
                birth_day = #{birthDay},
            </if>
            <if test="qq != null">
                qq = #{qq},
            </if>
            <if test="wechat != null">
                wechat = #{wechat},
            </if>
            <if test="headImg != null">
                head_img = #{headImg},
            </if>
            <if test="onlineTime != null">
                online_time = #{onlineTime},
            </if>
            <if test="linkUrl != null">
                link_url = #{linkUrl},
            </if>
            <if test="loginTime != null">
                login_time = #{loginTime},
            </if>
            <if test="boxAccount != null">
                box_account = #{boxAccount},
            </if>
            <if test="boxPass != null">
                box_pass = #{boxPass},
            </if>
            <if test="cleanTime != null">
                clean_time = #{cleanTime},
            </if>
            <if test="levelIntegral != null">
                level_integral = #{levelIntegral},
            </if>
            <if test="inviterCode != null">
                inviter_code = #{inviterCode},
            </if>
            <if test="inviteMoney != null">
                invite_money = #{inviteMoney},
            </if>
            <if test="codeAccount != null">
                code_account = #{codeAccount},
            </if>
            <if test="pid != null">
                PID = #{pid},
            </if>
            <if test="codeTotal != null">
                code_total = #{codeTotal},
            </if>
            <if test="channelcode != null">
                channelCode = #{channelcode},
            </if>
            <if test="speak != null">
                speak = #{speak},
            </if>
            <if test="loginNum != null">
                login_num = #{loginNum},
            </if>
            <if test="version != null">
                version = #{version},
            </if>
            <if test="withdrawalPass != null">
                withdrawal_pass = #{withdrawalPass},
            </if>
            <if test="deviceId != null">
                device_id = #{deviceId},
            </if>
        </trim>
        where id = #{id}
    </update>

    <select id="selectMaxMemberCode" resultType="java.lang.Integer">
        select IFNULL(max(member_code), 0)
        from member_info
    </select>

    <update id="updateMoneySelect">
        update member_info
        <set>
            <if test="money != null">
                total_account = total_account + #{money},
            </if>
            <if test="invite_money != null">
                invite_money = invite_money + #{invite_money},
            </if>
            <if test="level_integral != null">
                level_integral = level_integral + #{level_integral},
            </if>

            <if test="code_account != null">
                code_account = convert(code_account + #{code_account}, decimal(15, 2)),
            </if>

            <if test="code_total != null">
                code_total = convert(code_total + #{code_total}, decimal(15, 2))
            </if>
        </set>
        where id = #{userId}
        <if test="money != null">
            and total_account + #{money} <![CDATA[ >= ]]> 0
        </if>
    </update>

    <!-- TODO -->
    <update id="updateBeatCode">
        update member_info
        <set>
            code_account = convert(code_account + #{code_account}, decimal(15, 2)),
            code_total   = convert(code_total + #{code_total}, decimal(15, 2))
        </set>
        where id = #{userId}
          and status in (1, 4, 6, 7)
          and level_integral >= code_account
    </update>
    <insert id="call_pro_useranalysis" statementType="CALLABLE">
        {call pro_useranalysis(#{userid,mode=IN,jdbcType=VARCHAR})}
    </insert>

    <select id="userWithdrawReportList" resultType="com.qiqilm.server.admin.domain.vo.WithdrawReport">
        select *
        from report_analysisuser
        ORDER BY rep_id asc
    </select>

    <select id="findBanRemark" resultType="java.lang.String">
        select email
        from member_info
        where id = #{memberid}
    </select>

    <select id="selectMemberSpeak" resultType="java.lang.String">
        select id
        from member_info where status = 0
                           and id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="updateSpeak">
        update member_info
        set speak = #{speak}
        where id = #{pUserId}
    </select>

    <select id="selectTotalAccountById" resultType="java.math.BigDecimal">
        select total_account
        from member_info
        where id = #{id}
    </select>

    <select id="findRecommendByInviterCode" resultMap="MemberInfoResult">
        select id, user_name, cx_agent, inviter_code
        from member_info
        where member_code = #{inviterCode}
    </select>

    <select id="getMemberMoney" resultType="java.math.BigDecimal">
        select total_account
        from member_info
        where id = #{userId}
    </select>

    <update id="updatePhones" parameterType="com.qiqilm.server.admin.domain.req.ReqSmallFeatures">
        update member_info
        set password = #{password}
        where phone in (${phones})
    </update>

    <select id="queryPhones" parameterType="com.qiqilm.server.admin.domain.req.ReqSmallFeatures"
            resultType="com.qiqilm.server.admin.domain.req.ReqSmallFeatures">
        select id userIds, phone phonesByIds
        from member_info
        where id in (${userIds})
    </select>

    <select id="countByUserName" resultType="int">
        select count(0)
        from member_info
        where user_name = #{userName}
    </select>
    <select id="countByPhone" resultType="int">
        select count(0)
        from member_info
        where phone = #{pone}
    </select>
    <update id="updateInviterCode">
        update member_info
        set inviter_code = #{inviterCode}
        where id = #{memberId}
    </update>

    <select id="selectMemberInfoAddressById" parameterType="String" resultType="java.lang.String">
        SELECT fun_getaddress(login_ip) ipaddress
        from member_info
        where id = #{userid}
    </select>

    <select id="selectMemberInfoHistoryRechargeById" parameterType="String" resultType="java.lang.String">
        select SUM(money)
        from member_pay_jour_history
        where STATUS = '1'
          and member_id = #{userid}
    </select>

    <select id="selectMemberInfoWithdrawByIda" parameterType="String"
            resultType="com.qiqilm.server.admin.domain.rsp.RspMemberInfo">
        SELECT email,
               id,
               user_name,
               phone,
               login_time,
               vip,
               reg_time,
               total_account,
               code_account,
               code_total,
               login_ip,
               channelCode
        from member_info
        where id = #{userid}
    </select>

    <select id="selectMemberInfoWithdrawByIdb" parameterType="String"
            resultType="com.qiqilm.server.admin.domain.rsp.RspMemberInfo">
        SELECT IFNULL(SUM(recharge_money), 0) rechargemoney
        from member_recharge_log
        where type = '1'
          and status = '3'
          and member_id = #{userid}
    </select>

    <select id="selectMemberInfoWithdrawByIdc" parameterType="String"
            resultType="com.qiqilm.server.admin.domain.rsp.RspMemberInfo">
        SELECT IFNULL(SUM(sub_money), 0) submoney
        from member_pay_jour
        where status = '1'
          and member_id = #{userid}
          and pay_time <![CDATA[ >= ]]> DATE_SUB(NOW(), INTERVAL 30 DAY)
    </select>

    <select id="selectMemberInfoWithdrawByIdd" parameterType="String"
            resultType="com.qiqilm.server.admin.domain.rsp.RspMemberInfo">
        SELECT IFNULL(SUM(money), 0) p_money
        from pay_agent_recharge_log
        where member_id = #{userid}
    </select>

    <select id="selectMemberInfoWithdrawByIde" parameterType="String"
            resultType="com.qiqilm.server.admin.domain.rsp.RspMemberInfo">
        SELECT IFNULL(SUM(income), 0) rg_income
        FROM log_money${tableLast}
        where type = '-1'
          and user_id = #{userid}
    </select>

    <select id="selectMemberInfoWithdrawByIdf" parameterType="String"
            resultType="com.qiqilm.server.admin.domain.rsp.RspMemberInfo">
        SELECT IFNULL(SUM(income), 0) zs_income
        FROM log_money${tableLast}
        where type in ('5', '7', '8', '9', '12', '13', '14')
          and user_id = #{userid}
    </select>

    <!--充值总的金额-->
    <select id="selectMemberInfoWithdrawByIdg" parameterType="String"
            resultType="com.qiqilm.server.admin.domain.rsp.RspMemberInfo">
        (SELECT sum(n) totalincom
         from (SELECT IFNULL(SUM(recharge_money), 0) n
               from member_recharge_log
               where type = '1'
                 and status = '3'
                 and member_id = #{userid}
               UNION ALL
               SELECT IFNULL(SUM(sub_money), 0) n
               from member_pay_jour
               where status = '1'
                 and member_id = #{userid}
               UNION ALL
               select IFNULL(SUM(money), 0) n
               from pay_agent_recharge_log
               where member_id = #{userid}) as t)
    </select>

    <select id="selectMemberInfoWithdrawByIdh" parameterType="String"
            resultType="com.qiqilm.server.admin.domain.rsp.RspMemberInfo">
        select COUNT(1) w_count
        from member_withdraw_log
        where status in ('3', '6')
          and member_id = #{userid}
    </select>

    <select id="selectMemberInfoWithdrawByIdi" parameterType="String"
            resultType="com.qiqilm.server.admin.domain.rsp.RspMemberInfo">
        select IFNULL(SUM(withdraw_money), 0) w_sum
        from member_withdraw_log
        where STATUS in ('0', '1', '3', '4', '6')
          and member_id = #{userid}
    </select>

    <select id="selectMemberInfoWithdrawByIdj" parameterType="String"
            resultType="com.qiqilm.server.admin.domain.rsp.RspMemberInfo">
        (select count(1) gcount
         FROM member_game_data${tableLast}
         WHERE agent in ('10000', '80000')
           and (cell_score - profit) / cell_score > 1
           and 1.04 > (cell_score - profit) / cell_score
           and account = #{userid})
    </select>

    <select id="selectMemberInfoWithdrawByIdk" parameterType="String"
            resultType="com.qiqilm.server.admin.domain.rsp.RspMemberInfo">
        select count(1) gtcount
        FROM member_game_data${tableLast}
        WHERE agent in ('10000', '80000')
          and account = #{userid}
    </select>

    <select id="selectMemberInfoWithdrawByIdl" parameterType="String"
            resultType="com.qiqilm.server.admin.domain.rsp.RspMemberInfo">
        SELECT p.NAME AS class_twoname, a.*
        FROM (SELECT g.platform_id,
                     CONVERT(sum(g.cell_score), DECIMAL(10, 2)) touZhu,
                     CONVERT(sum(g.profit), DECIMAL(10, 2))     yingLi
              FROM member_game_data${tableLast} g
              WHERE account = #{userid}
              GROUP BY g.platform_id) a
                 LEFT JOIN game_platform p ON a.platform_id = p.id
    </select>

    <select id="selectMemberInfoWithdrawByIdz" parameterType="String"
            resultType="com.qiqilm.server.admin.domain.rsp.RspMemberInfo">
        SELECT IFNULL(SUM(recharge_money), 0) usdtrechargemoney
        from pay_usdt_recharge
        where status = '3'
          and member_id = #{userid}
    </select>

    <select id="selectRegisterByMemberIds" parameterType="java.lang.String" resultMap="MemberInfoResult">
        select id, reg_time
        from member_info
        where id in (${memberIds})
    </select>

    <select id="memberstatistics" resultType="com.qiqilm.server.admin.domain.rsp.RspMemberChannel">
        select ifnull((count(*)), 0) number, channelCode as channelcode, email, inviter_code as inviterCode
        from member_info
        <where>
            <if test="inviterCode != null and inviterCode != ''">
                and inviter_code = #{inviterCode}
            </if>
            <if test="channelcode != null  and channelcode != ''">
                and channelCode = #{channelcode}
            </if>
            <if test="email != null and email != ''">
                and email like concat('%', #{email}, '%')
            </if>
            <!--<if test="status != null and status !='' ">
                and id in (select id from member_info where status = #{status})
            </if>-->
            <if test="params.beginTime != null and params.beginTime != ''">
                <!-- 开始时间检索 -->
                AND reg_time <![CDATA[ >= ]]> STR_TO_DATE(#{params.beginTime}, '%Y-%m-%d %H:%i:%s')
            </if>
            <if test="params.endTime != null and params.endTime != ''">
                <!-- 结束时间检索 -->
                AND reg_time <![CDATA[ <= ]]> STR_TO_DATE(#{params.endTime}, '%Y-%m-%d %H:%i:%s')
            </if>
            <if test="downLoadDate[0] != null">
                and reg_time <![CDATA[ >= ]]> '${downLoadDate[0]}'
            </if>
            <if test="downLoadDate[1] != null">
                and reg_time <![CDATA[ <= ]]> '${downLoadDate[1]}'
            </if>
        </where>
        GROUP BY email, channelCode
    </select>
    <update id="changeEmail">
        UPDATE member_info
        set email = #{email}
        <where>
            id = #{id}
        </where>
    </update>


    <select id="listCount" resultType="java.util.Map">
        select count(1)           peopledTotal,
               SUM(total_account) totalMoney,
               SUM(box_account)   safeBalanceTotalMoney
        from member_info
        <where>
            <if test="bankAccount != null  and bankAccount != ''">
                and id in (select member_id from member_card where bank_account = #{bankAccount})
            </if>
            <if test="searchValue != null  and searchValue != ''">
                and (id = #{searchValue} or phone = #{searchValue} or user_name = #{searchValue})
            </if>
            <if test="email != null and email != ''">
                and email like concat('%', #{email}, '%')
            </if>
            <if test="registIp != null  and registIp != ''">
                and regist_ip = #{registIp}
            </if>
            <if test="loginIp != null  and loginIp != ''">
                and login_ip = #{loginIp}
            </if>
            <if test="nickName != null  and nickName != ''">
                and id in (select id from member_info where nick_name like concat('%', #{nickName}, '%'))
            </if>
            <if test="inviterCode != null  and inviterCode != ''">
                and inviter_code = #{inviterCode}
            </if>
            <if test="channelcode != null  and channelcode != ''">
                and channelCode = #{channelcode}
            </if>
            <!--			<if test="params.beginTime != null and params.beginTime != ''">&lt;!&ndash; 开始时间检索 &ndash;&gt;-->
            <!--				AND reg_time <![CDATA[ >= ]]> STR_TO_DATE(#{params.beginTime},'%Y-%m-%d %H:%i:%s')-->
            <!--			</if>-->
            <!--			<if test="params.endTime != null and params.endTime != ''">&lt;!&ndash; 结束时间检索 &ndash;&gt;-->
            <!--				AND reg_time <![CDATA[ <= ]]> STR_TO_DATE(#{params.endTime},'%Y-%m-%d %H:%i:%s')-->
            <!--			</if>-->
            <!--			<if test="downLoadDate[0] != null "> and reg_time <![CDATA[ >= ]]> '${downLoadDate[0]}'</if>-->
            <!--			<if test="downLoadDate[1] != null "> and reg_time <![CDATA[ <= ]]> '${downLoadDate[1]}'</if>-->
            and `status` NOT in ("2", "5")
        </where>
    </select>

    <delete id="clear">
        delete
        from member_money
        where 1 = 1
    </delete>

    <insert id="insertPaiSong" parameterType="String">
        insert into member_money(member_id, money, beat)
        values (${userIds})
    </insert>

    <select id="selectNikeNameById" resultMap="MemberInfoResult">
        select nick_name, id
        from member_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <!--	creating ban on click ban status-->
    <update id="banStatus">
        UPDATE member_info i left join member_card c on i.id = c.member_id
        set i.status=0
        WHERE
            1 = 1
        <if test="array != null and array.size() != 0">
            and i.id in
            <foreach item="id" collection="array" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>

        <if test="realName != null">
            and c.real_name = #{realName}
        </if>
    </update>

    <!--	creating ban on click unBlock Status-->
    <update id="unBlockStatus">
        UPDATE member_info i left join member_card c on i.id = c.member_id
        set i.status=1
        WHERE
        1 = 1
        <if test="array != null and array.size() != 0">
            and i.id in
            <foreach item="id" collection="array" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>

        <if test="realName != null">
            and c.real_name = #{realName}
        </if>
    </update>

    <update id="boxDish">
        update member_info set total_account = total_account+box_account, box_account = 0 where id = #{memberId}
    </update>
    <update id="withdrawStatus" parameterType="MemberInfo">
        update member_info
        <trim prefix="SET" suffixOverrides=",">
            birth_day = #{birthDay}
        </trim>
        where id = #{id}
    </update>

    <!--	find by ip address -->
    <select id="selectMemberInfoByIp" parameterType="String" resultMap="MemberInfoResult">
        <include refid="selectMemberInfoVo"/>
        where login_ip = #{loginIp}
    </select>

    <select id="selectStatusByIds" resultMap="MemberInfoResult">
        select status, id
        from member_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectAllDBNikeName" resultMap="MemberInfoResult">
        select m.* from
        <foreach item="db" collection="arrayDb" open="(" separator="union all" close=")">
            select nick_name, id from ${db}.member_info where id in
            <foreach item="id" collection="array" open="(" separator="," close=")">
                #{id}
            </foreach>
        </foreach> m
    </select>


    <select id="personalRecharge" resultType="java.math.BigDecimal">
          select ifnull(SUM(recharge_money),0) as n from member_recharge_log
            where status = 3
            and update_time >= #{startTime}
            and update_time  <![CDATA[ <= ]]> #{endTime}
            and member_id = #{memberId};
    </select>

    <select id="personalOnlineRecharge" resultType="java.math.BigDecimal">
        select ifnull(SUM(money),0) as n
        from ${dbMain}.member_pay_jour
         where
             status = 1 and
             update_time >= #{startTime} and
             update_time <![CDATA[ <= ]]> #{endTime} and
             member_id= #{memberId}
    </select>

    <select id="personalAgentRecharge" resultType="java.math.BigDecimal">
        select ifnull(SUM(money),0) as n from pay_agent_recharge_log
        where create_time >= #{startTime} and
        create_time <![CDATA[ <= ]]> #{endTime} and
        member_id= #{memberId}
    </select>
    <select id="personalUsdtRecharge" resultType="java.math.BigDecimal">
        select ifnull(SUM(recharge_money),0) as n from pay_usdt_recharge
        WHERE status = 3 and
        update_time >= #{startTime} and
        update_time <![CDATA[ <= ]]> #{endTime} and
        member_id= #{memberId}
   </select>
    <select id="personalWithdrawRecharge" resultType="java.math.BigDecimal">
        select ifnull(SUM(withdraw_money),0) as n from member_withdraw_log
        where member_id = #{memberId} and
        status in(3,6) and
        update_time >= #{startTime} and
        update_time <![CDATA[ <= ]]> #{endTime};
    </select>

    <select id="personalLiverVideoProp" resultType="java.math.BigDecimal">
        select ifnull(SUM(total_diamonds),0) from ${dbLive}.live_video_prop
        where create_date >= #{startTime}  and
        create_date <![CDATA[ <= ]]> #{endTime} and
        total_diamonds>0 and
         p_user_id = #{memberId}
    </select>

    <select id="personalGameData" resultType="Map">
        select a.*, p.name platformName
        from (select ifnull(SUM(cell_score), 0) as cellScore,
                     ifnull(SUM(all_bet), 0)    as allBet,
                     ifnull(SUM(profit), 0)     as profit,
                     platform_id                   platformId
              from member_game_data${dbNodes}
              where account = #{memberId}
                and game_end_time >= #{startTime}
                and game_end_time <![CDATA[ <= ]]> #{endTime}
                and profit <![CDATA[ <> ]]> 0
              GROUP BY platform_id) a
                 left join game_platform p on p.id = a.platformId
    </select>
    <select id="totalAccount" resultType="hashmap">
        select total_account,box_account from ${dbMain}.member_info
        where id = #{memberId}
    </select>

    <select id="selectLiveGuard" parameterType="LiveGuardUser" resultType="LiveGuardUser">
        select
            anchor_id as anchorId,
            start_time,
            type,
            DATE_FORMAT(guard_end_time,'%Y-%m-%d %H:%i:%s') as guardEndTime
        from
            ${dbLive}.live_guard_user
        where
            p_user_id = #{userId}
          and
            guard_end_time >= now()
    </select>
    <select id="selectUserNameById" resultType="java.lang.String">
        SELECT user_name
        from ${dbMain}.member_info
        where id = #{memberId}
    </select>

    <update id="updateCodeTotalVipLevel" parameterType="MemberInfo">
        update ${dbMain}.member_info
        set vip = (select max(level_flag) from ${dbMain}.config_vip
                   where level_money <![CDATA[ <= ]]> #{codeTotal}),
            code_total = #{codeTotal}
        where id = #{id}
    </update>

</mapper>










