<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.mapper.MemberGameDatafixMapper">

    <resultMap type="MemberGameDatafix" id="MemberGameDatafixResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="gameStartTime"    column="game_start_time"    />
        <result property="gameEndTime"    column="game_end_time"    />
        <result property="platformId"    column="platform_id"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectMemberGameDatafixVo">
        select id, user_id, game_start_time, game_end_time, platform_id, status from ${dbMain}.member_game_datafix
    </sql>

    <select id="selectMemberGameDatafixList" parameterType="MemberGameDatafix" resultMap="MemberGameDatafixResult">
        select m.id, m.user_id, m.game_start_time, m.game_end_time, m.platform_id, m.status, g.name platformName from ${dbMain}.member_game_datafix m LEFT JOIN ${dbMain}.game_platform g on m.platform_id = g.id
        <where>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="gameStartTime != null  and gameStartTime != ''"> and game_start_time = #{gameStartTime}</if>
            <if test="gameEndTime != null  and gameEndTime != ''"> and game_end_time = #{gameEndTime}</if>
            <if test="platformId != null "> and platform_id = #{platformId}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>

    <select id="selectMemberGameDatafixById" parameterType="String" resultMap="MemberGameDatafixResult">
        <include refid="selectMemberGameDatafixVo"/>
        where id = #{id}
    </select>

    <insert id="insertMemberGameDatafix" parameterType="MemberGameDatafix">
        insert into ${dbMain}.member_game_datafix
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="gameStartTime != null and gameStartTime != ''">game_start_time,</if>
            <if test="gameEndTime != null and gameEndTime != ''">game_end_time,</if>
            <if test="platformId != null">platform_id,</if>
            <if test="status != null">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="gameStartTime != null and gameStartTime != ''">#{gameStartTime},</if>
            <if test="gameEndTime != null and gameEndTime != ''">#{gameEndTime},</if>
            <if test="platformId != null">#{platformId},</if>
            <if test="status != null">#{status},</if>
        </trim>
    </insert>

    <update id="updateMemberGameDatafix" parameterType="MemberGameDatafix">
        update ${dbMain}.member_game_datafix
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>

            <if test="gameStartTime != null and gameStartTime != ''">game_start_time = #{gameStartTime},</if>

            <if test="gameEndTime != null and gameEndTime != ''">game_end_time = #{gameEndTime},</if>

            <if test="platformId != null">platform_id = #{platformId},</if>

            <if test="status != null">status = #{status},</if>

        </trim>
        where id = #{id}
    </update>

    <select id="getgameDatafix" resultMap="MemberGameDatafixResult">
        select id, user_id, game_start_time, game_end_time, platform_id, status from ${dbMain}.member_game_datafix  WHERE STATUS=0 LIMIT 1
    </select>

    <select id="getgameDatafixLottery" resultMap="MemberGameDatafixResult">
        select id, user_id, game_start_time, game_end_time, platform_id, status from ${dbMain}.member_game_datafix  WHERE STATUS=0 and platform_id in (80000, 10000) LIMIT 1
    </select>

    <delete id="deleteMemberGameDatafixById" parameterType="String">
        delete from ${dbMain}.member_game_datafix where id = #{id}
    </delete>

    <delete id="deleteMemberGameDatafixByIds" parameterType="String">
        delete from ${dbMain}.member_game_datafix where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
