<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.mapper.MemberGameDataMapper">

    <resultMap type="MemberGameData" id="MemberGameDataResult">
        <result property="id" column="id"/>
        <result property="gameId" column="game_id"/>
        <result property="account" column="account"/>
        <result property="kindId" column="kind_id"/>
        <result property="cellScore" column="cell_score"/>
        <result property="allBet" column="all_bet"/>
        <result property="profit" column="profit"/>
        <result property="revenue" column="revenue"/>
        <result property="gameEndTime" column="game_end_time"/>
        <result property="platformId" column="platform_id"/>
        <result property="agent" column="agent"/>
        <result property="platformType" column="platform_type"/>
        <result property="status" column="status"/>
        <result property="gameStartTime" column="game_start_time"/>
    </resultMap>

    <sql id="selectMemberGameDataVo">
        select id, game_id, account, kind_id, cell_score, all_bet, profit, revenue, game_end_time, platform_id, agent, platform_type, status, game_start_time from ${dbMain}.member_game_data
    </sql>

    <!--打码逻辑开始-->
    <select id="findExist" resultType="java.lang.Integer">
		SELECT status FROM ${dbMain}.member_game_data${dbNodes}
		WHERE id = #{keyId}
	</select>
    <!--打码逻辑结束-->
    <select id="selectMemberGameDataList" resultType="com.qiqilm.server.admin.domain.rsp.RspMemberGameData">
        SELECT
        m.agent,
        m.game_id as gameId,
        m.account,
        m.cell_score,
        m.all_bet,
        m.profit,
        m.revenue,
        m.game_start_time,
        m.game_end_time,
        cg.platform_name AS platformName,
        cg.son_platform_name AS sonPlatformName
        FROM
        member_game_data m
        LEFT JOIN config_gametype cg ON m.agent = cg.platform_id
        AND m.kind_id = cg.son_platform_id
        <where>
        <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
            m.game_end_time >= STR_TO_DATE(#{startTime},'%Y-%m-%d %H:%i:%s') and m.game_end_time &lt;= STR_TO_DATE(#{endTime},'%Y-%m-%d %H:%i:%s')
        </if>
        <if test="account != null and account != ''">
            and m.account = #{account}
        </if>
        <if test="sonPlatformName != null and sonPlatformName != ''">
            and cg.son_platform_name = #{sonPlatformName}
        </if>
        <if test="agent != null and agent != ''">
            and m.agent = #{agent}
        </if>
        </where>
        ORDER BY
        m.game_end_time DESC
    </select>


    <select id="selectMemberGameDataById" parameterType="String" resultMap="MemberGameDataResult">
        <include refid="selectMemberGameDataVo"/>
        where id = #{id}
    </select>

    <insert id="insertMemberGameData" parameterType="MemberGameData">
        insert into ${dbMain}.member_game_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="gameId != null and gameId != ''">game_id,</if>
            <if test="account != null">account,</if>
            <if test="kindId != null">kind_id,</if>
            <if test="cellScore != null">cell_score,</if>
            <if test="allBet != null">all_bet,</if>
            <if test="profit != null">profit,</if>
            <if test="revenue != null">revenue,</if>
            <if test="gameEndTime != null">game_end_time,</if>
            <if test="platformId != null">platform_id,</if>
            <if test="agent != null">agent,</if>
            <if test="platformType != null">platform_type,</if>
            <if test="status != null">status,</if>
            <if test="gameStartTime != null">game_start_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="gameId != null and gameId != ''">#{gameId},</if>
            <if test="account != null">#{account},</if>
            <if test="kindId != null">#{kindId},</if>
            <if test="cellScore != null">#{cellScore},</if>
            <if test="allBet != null">#{allBet},</if>
            <if test="profit != null">#{profit},</if>
            <if test="revenue != null">#{revenue},</if>
            <if test="gameEndTime != null">#{gameEndTime},</if>
            <if test="platformId != null">#{platformId},</if>
            <if test="agent != null">#{agent},</if>
            <if test="platformType != null">#{platformType},</if>
            <if test="status != null">#{status},</if>
            <if test="gameStartTime != null">#{gameStartTime},</if>
        </trim>
    </insert>

    <update id="updateMemberGameData" parameterType="MemberGameData">
        update ${dbMain}.member_game_data
        <trim prefix="SET" suffixOverrides=",">
            <if test="gameId != null and gameId != ''">game_id = #{gameId},</if>

            <if test="account != null">account = #{account},</if>

            <if test="kindId != null">kind_id = #{kindId},</if>

            <if test="cellScore != null">cell_score = #{cellScore},</if>

            <if test="allBet != null">all_bet = #{allBet},</if>

            <if test="profit != null">profit = #{profit},</if>

            <if test="revenue != null">revenue = #{revenue},</if>

            <if test="gameEndTime != null">game_end_time = #{gameEndTime},</if>

            <if test="platformId != null">platform_id = #{platformId},</if>

            <if test="agent != null">agent = #{agent},</if>

            <if test="platformType != null">platform_type = #{platformType},</if>

            <if test="status != null">status = #{status},</if>

            <if test="gameStartTime != null">game_start_time = #{gameStartTime},</if>

        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMemberGameDataById" parameterType="String">
        delete from ${dbMain}.member_game_data where id = #{id}
    </delete>

    <delete id="deleteMemberGameDataByIds" parameterType="String">
        delete from ${dbMain}.member_game_data where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <sql id="whereCount">
        <if test="gameId != null  and gameId != ''">and game_id = #{gameId}</if>
        <if test="account != null  and account != ''">and account = #{account}</if>
        <if test="kindId != null  and kindId != ''">and kind_id = #{kindId}</if>
        <if test="cellScore != null  and cellScore != ''">and cell_score = #{cellScore}</if>
        <if test="allBet != null  and allBet != ''">and all_bet = #{allBet}</if>
        <if test="profit != null  and profit != ''">and profit = #{profit}</if>
        <if test="revenue != null  and revenue != ''">and revenue = #{revenue}</if>
        <if test="gameEndTime != null  and gameEndTime != ''">and game_end_time = #{gameEndTime}</if>
        <if test="platformId != null ">and platform_id = #{platformId}</if>
        <if test="agent != null  and agent != ''">and agent = #{agent}</if>
        <if test="platformType != null  and platformType != ''">and platform_type = #{platformType}</if>
        <if test="status != null ">and status = #{status}</if>
        <if test="gameStartTime != null  and gameStartTime != ''">and game_start_time = #{gameStartTime}</if>
        <if test="startTime != null and startTime != ''">and game_start_time >= #{startTime}</if>
        <if test="endTime != null and endTime != ''">and game_end_time &lt;= #{endTime}</if>
    </sql>
    <select id="getCount" resultType="com.qiqilm.server.admin.domain.MemberGameData">
        SELECT cast(SUM(cell_score) AS decimal(10,2)) totalSuccessBet,
        cast(SUM(all_bet) AS decimal(10,2)) totalBet,
        cast(SUM(profit) AS decimal(10,2)) totalIncome
        from ${dbMain}.member_game_data
        <where>
            <include refid="whereCount"></include>
        </where>
    </select>
    <select id="findBetList" resultType="com.qiqilm.server.admin.domain.rsp.RspLotteryBetLog">
        SELECT
        l.id,
        l.userid,
        l.issue,
        l.per_price,
        l.bet_amount,
        l.prize,
        l.bet_select,
        l.code,
        l.bet_time,
        c.son_platform_name
        FROM
        lottery_betlog10000 l
        LEFT JOIN config_gametype c ON l.lottery_id = c.son_platform_id
        WHERE l.id=#{gameId}
    </select>
    <select id="findBetLists" resultType="com.qiqilm.server.admin.domain.rsp.RspLotteryBetLog">
        SELECT
        l.id,
        l.userid,
        l.issue,
        l.per_price,
        l.bet_amount,
        l.prize,
        l.bet_select,
        l.code,
        l.bet_time,
        c.son_platform_name
        FROM
        lottery_betlog80000 l
        LEFT JOIN config_gametype c ON l.lottery_id = c.son_platform_id
        WHERE l.id=#{gameId}
    </select>
</mapper>
