<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.mapper.MessageOnSiteMapper">

    <resultMap type="MessageOnSite" id="MessageOnSiteResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="receiverType"    column="receiver_type"    />
        <result property="receiver"    column="receiver"    />
        <result property="action"    column="action"    />
        <result property="pubdatetime"    column="pubDateTime"    />
        <result property="toUserId"    column="to_user_id"    />
    </resultMap>

    <sql id="selectMessageOnSiteVo">
        select id, title, content, receiver_type, receiver, action, pubDateTime, to_user_id from message_on_site
    </sql>

    <select id="selectMessageOnSiteList" parameterType="MessageOnSite" resultMap="MessageOnSiteResult">
        <include refid="selectMessageOnSiteVo"/>
        <where>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="receiverType != null  and receiverType != ''"> and receiver_type = #{receiverType}</if>
            <if test="receiver != null  and receiver != ''"> and receiver = #{receiver}</if>
            <if test="action != null  and action != ''"> and action = #{action}</if>
            <if test="toUserId != null  and toUserId != ''"> and to_user_id = #{toUserId}</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(pubDateTime,'%y%m%d') <![CDATA[ >= ]]> date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(pubDateTime,'%y%m%d') <![CDATA[ <= ]]> date_format(#{params.endTime},'%y%m%d')
            </if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
    </select>

    <select id="selectMessageOnSiteById" parameterType="String" resultMap="MessageOnSiteResult">
        <include refid="selectMessageOnSiteVo"/>
        where id = #{id}
    </select>

    <insert id="insertMessageOnSite" parameterType="MessageOnSite">
        insert into message_on_site
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="receiverType != null and receiverType != ''">receiver_type,</if>
            <if test="receiver != null">receiver,</if>
            <if test="action != null and action != ''">action,</if>
            <if test="pubdatetime != null">pubDateTime,</if>
            <if test="toUserId != null">to_user_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="receiverType != null and receiverType != ''">#{receiverType},</if>
            <if test="receiver != null">#{receiver},</if>
            <if test="action != null and action != ''">#{action},</if>
            <if test="pubdatetime != null">#{pubdatetime},</if>
            <if test="toUserId != null">#{toUserId},</if>
         </trim>
    </insert>

    <update id="updateMessageOnSite" parameterType="MessageOnSite">
        update message_on_site
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="receiverType != null and receiverType != ''">receiver_type = #{receiverType},</if>
            <if test="receiver != null">receiver = #{receiver},</if>
            <if test="action != null and action != ''">action = #{action},</if>
            <if test="pubdatetime != null">pubDateTime = #{pubdatetime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMessageOnSiteById" parameterType="String">
        delete from message_on_site where id = #{id}
    </delete>

    <delete id="deleteMessageOnSiteByIds" parameterType="String">
        delete from message_on_site where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
