<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.mapper.PayAgentRechargeLogMapper">

    <resultMap type="PayAgentRechargeLog" id="PayAgentRechargeLogResult">
        <result property="orderNo"    column="order_no"    />
        <result property="rechargeAcount"    column="recharge_acount"    />
        <result property="rechargeNickName"    column="recharge_nick_name"    />
        <result property="memberId"    column="member_id"    />
        <result property="userName"    column="user_name"    />
        <result property="money"    column="money"    />
        <result property="createTime"    column="create_time"    />
        <result property="opIp"    column="op_ip"    />
    </resultMap>

    <sql id="selectPayAgentRechargeLogVo">
        select order_no, recharge_acount, recharge_nick_name, member_id, user_name, money, create_time, op_ip from pay_agent_recharge_log
    </sql>

    <select id="selectPayAgentRechargeLogList" parameterType="PayAgentRechargeLog" resultMap="PayAgentRechargeLogResult">
        <include refid="selectPayAgentRechargeLogVo"/>
        <where>
            <if test="orderNo != null  and orderNo != ''"> and order_no = #{orderNo}</if>
            <if test="rechargeAcount != null  and rechargeAcount != ''"> and recharge_acount = #{rechargeAcount}</if>
            <if test="rechargeNickName != null  and rechargeNickName != ''"> and recharge_nick_name like concat('%', #{rechargeNickName}, '%')</if>
            <if test="money != null "> and money = #{money}</if>
            <if test="searchValue != null and searchValue != ''">
                and member_id in (SELECT id from member_info where (user_name = #{searchValue} or id = #{searchValue}))
            </if>
            <if test="selectStartDate != null and selectStartDate != ''">
                and create_time <![CDATA[ >= ]]> #{selectStartDate} and create_time <![CDATA[ <= ]]> #{selectEndDate}
            </if>
        </where>
    </select>

    <select id="selectPayAgentRechargeLogById" parameterType="String" resultMap="PayAgentRechargeLogResult">
        <include refid="selectPayAgentRechargeLogVo"/>
        where order_no = #{orderNo}
    </select>

    <insert id="insertPayAgentRechargeLog" parameterType="PayAgentRechargeLog">
        insert into pay_agent_recharge_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNo != null">order_no,</if>
            <if test="rechargeAcount != null and rechargeAcount != ''">recharge_acount,</if>
            <if test="rechargeNickName != null and rechargeNickName != ''">recharge_nick_name,</if>
            <if test="memberId != null and memberId != ''">member_id,</if>
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="money != null">money,</if>
            <if test="createTime != null and createTime != ''">create_time,</if>
            <if test="opIp != null and opIp != ''">op_ip,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderNo != null">#{orderNo},</if>
            <if test="rechargeAcount != null and rechargeAcount != ''">#{rechargeAcount},</if>
            <if test="rechargeNickName != null and rechargeNickName != ''">#{rechargeNickName},</if>
            <if test="memberId != null and memberId != ''">#{memberId},</if>
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="money != null">#{money},</if>
            <if test="createTime != null and createTime != ''">#{createTime},</if>
            <if test="opIp != null and opIp != ''">#{opIp},</if>
         </trim>
    </insert>

    <update id="updatePayAgentRechargeLog" parameterType="PayAgentRechargeLog">
        update pay_agent_recharge_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="rechargeAcount != null and rechargeAcount != ''">recharge_acount = #{rechargeAcount},</if>
            <if test="rechargeNickName != null and rechargeNickName != ''">recharge_nick_name = #{rechargeNickName},</if>
            <if test="memberId != null and memberId != ''">member_id = #{memberId},</if>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="money != null">money = #{money},</if>
            <if test="createTime != null and createTime != ''">create_time = #{createTime},</if>
            <if test="opIp != null and opIp != ''">op_ip = #{opIp},</if>
        </trim>
        where order_no = #{orderNo}
    </update>

    <delete id="deletePayAgentRechargeLogById" parameterType="String">
        delete from pay_agent_recharge_log where order_no = #{orderNo}
    </delete>

    <delete id="deletePayAgentRechargeLogByIds" parameterType="String">
        delete from pay_agent_recharge_log where order_no in
        <foreach item="orderNo" collection="array" open="(" separator="," close=")">
            #{orderNo}
        </foreach>
    </delete>

    <select id="count" parameterType="PayAgentRechargeLog" resultMap="PayAgentRechargeLogResult">
        select count(order_no) as countNumber,sum(money) as countMoney
        from pay_agent_recharge_log
        <where>
            <if test="rechargeAcount != null  and rechargeAcount != ''"> and recharge_acount = #{rechargeAcount}</if>
            <if test="rechargeNickName != null  and rechargeNickName != ''"> and recharge_nick_name like concat('%', #{rechargeNickName}, '%')</if>
            <if test="memberId != null  and memberId != ''"> and member_id = #{memberId}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="searchValue != null and searchValue != ''">
                and member_id in (SELECT id from member_info where (user_name = #{searchValue} or id = #{searchValue}))
            </if>
            <if test="selectStartDate != null and selectStartDate != ''">
                and create_time <![CDATA[ >= ]]> #{selectStartDate} and create_time <![CDATA[ <= ]]> #{selectEndDate}
            </if>
        </where>
    </select>
</mapper>
