<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.mapper.PayAgentRechargeAccountMapper">

    <resultMap type="PayAgentRechargeAccount" id="PayAgentRechargeAccountResult">
        <result property="id"    column="id"    />
        <result property="account"    column="account"    />
        <result property="nickName"    column="nick_name"    />
        <result property="balanceAmount"    column="balance_amount"    />
        <result property="rechargeNum"    column="recharge_num"    />
        <result property="imAccount"    column="im_account"    />
        <result property="qqAccount"    column="qq_account"    />
        <result property="wechatAccount"    column="wechat_account"    />
        <result property="alipayAccount"    column="alipay_account"    />
        <result property="mobile"    column="mobile"    />
        <result property="businessBeginTime"    column="business_begin_time"    />
        <result property="businessEndTime"    column="business_end_time"    />
        <result property="rechargeDiscountRate"    column="recharge_discount_rate"    />
        <result property="status"    column="status"    />
        <result property="showStatus"    column="show_status"    />
        <result property="createTime"    column="create_time"    />
        <result property="beforeLoginTime"    column="before_login_time"    />
        <result property="loginTime"    column="login_time"    />
    </resultMap>

    <sql id="selectPayAgentRechargeAccountVo">
        select id, account, nick_name, balance_amount, recharge_num, im_id im_account, qq_account, wechat_account, alipay_account, mobile, business_begin_time, business_end_time, recharge_discount_rate, status, show_status, create_time, before_login_time, login_time from pay_agent_recharge_account
    </sql>

    <select id="selectPayAgentRechargeAccountList" parameterType="java.util.Map" resultMap="PayAgentRechargeAccountResult">
        select id,CONCAT(#{imagentCode},id) im_account, account, nick_name, balance_amount, recharge_num,
        qq_account, wechat_account, alipay_account, mobile, business_begin_time, business_end_time,
        recharge_discount_rate, status, show_status, create_time, before_login_time, login_time
        from pay_agent_recharge_account
        <where>
            <if test="payAcc.account != null  and payAcc.account != ''"> and account = #{payAcc.account}</if>
            <if test="payAcc.nickName != null  and payAcc.nickName != ''"> and nick_name like concat('%', #{payAcc.nickName}, '%')</if>
            <if test="payAcc.balanceAmount != null "> and balance_amount = #{payAcc.balanceAmount}</if>
            <if test="payAcc.rechargeNum != null "> and recharge_num = #{payAcc.rechargeNum}</if>
            <if test="payAcc.imAccount != null  and payAcc.imAccount != ''"> and im_account = #{payAcc.imAccount}</if>
            <if test="payAcc.qqAccount != null  and payAcc.qqAccount != ''"> and qq_account = #{payAcc.qqAccount}</if>
            <if test="payAcc.wechatAccount != null  and payAcc.wechatAccount != ''"> and wechat_account = #{payAcc.wechatAccount}</if>
            <if test="payAcc.alipayAccount != null  and payAcc.alipayAccount != ''"> and alipay_account = #{payAcc.alipayAccount}</if>
            <if test="payAcc.mobile != null  and payAcc.mobile != ''"> and mobile = #{payAcc.mobile}</if>
            <if test="payAcc.businessBeginTime != null "> and business_begin_time = #{payAcc.businessBeginTime}</if>
            <if test="payAcc.businessEndTime != null "> and business_end_time = #{payAcc.businessEndTime}</if>
            <if test="payAcc.rechargeDiscountRate != null "> and recharge_discount_rate = #{payAcc.rechargeDiscountRate}</if>
            <if test="payAcc.status != null "> and status = #{payAcc.status}</if>
            <if test="payAcc.beforeLoginTime != null "> and before_login_time = #{payAcc.beforeLoginTime}</if>
            <if test="payAcc.loginTime != null "> and login_time = #{payAcc.loginTime}</if>
        </where>
    </select>

    <select id="selectPayAgentRechargeAccountAllList" parameterType="java.util.Map" resultMap="PayAgentRechargeAccountResult">
        select id,nick_name from pay_agent_recharge_account where status = 1
    </select>

    <select id="selectPayAgentRechargeAccountById" parameterType="Long" resultMap="PayAgentRechargeAccountResult">
        <include refid="selectPayAgentRechargeAccountVo"/>
        where id = #{id}
    </select>

    <insert id="insertPayAgentRechargeAccount" parameterType="PayAgentRechargeAccount" useGeneratedKeys="true" keyProperty="id">
        insert into pay_agent_recharge_account
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="account != null and account != ''">account,</if>
            <if test="nickName != null">nick_name,</if>
            <if test="balanceAmount != null">balance_amount,</if>
            <if test="rechargeNum != null">recharge_num,</if>
            <if test="qqAccount != null">qq_account,</if>
            <if test="wechatAccount != null">wechat_account,</if>
            <if test="alipayAccount != null">alipay_account,</if>
            <if test="mobile != null and mobile != ''">mobile,</if>
            <if test="businessBeginTime != null">business_begin_time,</if>
            <if test="businessEndTime != null">business_end_time,</if>
            <if test="rechargeDiscountRate != null">recharge_discount_rate,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="beforeLoginTime != null">before_login_time,</if>
            <if test="loginTime != null">login_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="account != null and account != ''">#{account},</if>
            <if test="nickName != null">#{nickName},</if>
            <if test="balanceAmount != null">#{balanceAmount},</if>
            <if test="rechargeNum != null">#{rechargeNum},</if>
            <if test="qqAccount != null">#{qqAccount},</if>
            <if test="wechatAccount != null">#{wechatAccount},</if>
            <if test="alipayAccount != null">#{alipayAccount},</if>
            <if test="mobile != null and mobile != ''">#{mobile},</if>
            <if test="businessBeginTime != null">#{businessBeginTime},</if>
            <if test="businessEndTime != null">#{businessEndTime},</if>
            <if test="rechargeDiscountRate != null">#{rechargeDiscountRate},</if>
            <if test="status != null">#{status},</if>
            <if test="showStatus != null">#{showStatus},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="beforeLoginTime != null">#{beforeLoginTime},</if>
            <if test="loginTime != null">#{loginTime},</if>
         </trim>
    </insert>

    <update id="updatePayAgentRechargeAccount" parameterType="PayAgentRechargeAccount">
        update pay_agent_recharge_account
        <trim prefix="SET" suffixOverrides=",">
            <if test="account != null and account != ''">account = #{account},</if>
            <if test="googleAuthSecret != null and googleAuthSecret != ''">google_auth_secret = #{googleAuthSecret},</if>
            <if test="nickName != null">nick_name = #{nickName},</if>
            <if test="balanceAmount != null">balance_amount = #{balanceAmount},</if>
            <if test="rechargeNum != null">recharge_num = #{rechargeNum},</if>
            <if test="qqAccount != null">qq_account = #{qqAccount},</if>
            <if test="wechatAccount != null">wechat_account = #{wechatAccount},</if>
            <if test="alipayAccount != null">alipay_account = #{alipayAccount},</if>
            <if test="mobile != null and mobile != ''">mobile = #{mobile},</if>
            <if test="businessBeginTime != null">business_begin_time = #{businessBeginTime},</if>
            <if test="businessEndTime != null">business_end_time = #{businessEndTime},</if>
            <if test="rechargeDiscountRate != null">recharge_discount_rate = #{rechargeDiscountRate},</if>
            <if test="status != null">status = #{status},</if>
            <if test="showStatus != null">show_status = #{showStatus},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="beforeLoginTime != null">before_login_time = #{beforeLoginTime},</if>
            <if test="loginTime != null">login_time = #{loginTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePayAgentRechargeAccountById" parameterType="Long">
        delete from pay_agent_recharge_account where id = #{id}
    </delete>

    <delete id="deletePayAgentRechargeAccountByIds" parameterType="String">
        delete from pay_agent_recharge_account where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="memberIdSearchRepeat" resultType="java.lang.Integer">
        select count(0) from pay_agent_recharge_account
        where account = #{account}
    </select>
    <update id="updateGoogle">
        update pay_agent_recharge_account set google_auth_secret = #{googleAuthSecret} where id=#{id}
    </update>
    <update id="updatePassword">
        update ${dbOim}.w_user set password = #{password} where id=#{id}
    </update>
    <select id="selectPayAgentRechargeAccount" parameterType="String"  resultMap="PayAgentRechargeAccountResult">
        <include refid="selectPayAgentRechargeAccountVo"/>
        where account = #{account}
    </select>
</mapper>
