<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.mapper.PayChannelMoneyMapper">
	<resultMap type="PayChannelMoney" id="PayChannelMoneyResult">
		<result property="id" column="id"/>
		<result property="money" column="money"/>
		<result property="channelId" column="channel_id"/>
		<result property="channelPayRate" column="channel_pay_rate"/>
		<result property="typeCode" column="type_code"/>
		<result property="openLevelMin" column="open_level_min"/>
		<result property="openLevelMax" column="open_level_max"/>
	</resultMap>

	<sql id="selectPayChannelMoneyVo">
		select id, money, channel_id, channel_pay_rate, type_code, open_level_min, open_level_max from ${dbMain}.pay_channel_money
	</sql>

	<select id="selectPayChannelMoneyList" parameterType="PayChannelMoney" resultMap="PayChannelMoneyResult">
		<include refid="selectPayChannelMoneyVo"/>
		<where>
			<if test="money != null">
				and money = #{money}
			</if>
			<if test="channelId != null">
				and channel_id = #{channelId}
			</if>
			<if test="channelPayRate != null">
				and channel_pay_rate = #{channelPayRate}
			</if>
			<if test="typeCode != null  and typeCode != ''">
				and type_code = #{typeCode}
			</if>
			<if test="openLevelMin != null">
				and open_level_min = #{openLevelMin}
			</if>
			<if test="openLevelMax != null">
				and open_level_max = #{openLevelMax}
			</if>
		</where>
	</select>

	<insert id="insertPayChannelMoney" parameterType="PayChannelMoney" useGeneratedKeys="true" keyProperty="id">
		insert into ${dbMain}.pay_channel_money
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="money != null">
				money,
			</if>
			<if test="channelId != null">
				channel_id,
			</if>
			<if test="channelPayRate != null">
				channel_pay_rate,
			</if>
			<if test="typeCode != null and typeCode != ''">
				type_code,
			</if>
			<if test="openLevelMin != null">
				open_level_min,
			</if>
			<if test="openLevelMax != null">
				open_level_max,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="money != null">
				#{money},
			</if>
			<if test="channelId != null">
				#{channelId},
			</if>
			<if test="channelPayRate != null">
				#{channelPayRate},
			</if>
			<if test="typeCode != null and typeCode != ''">
				#{typeCode},
			</if>
			<if test="openLevelMin != null">
				#{openLevelMin},
			</if>
			<if test="openLevelMax != null">
				#{openLevelMax},
			</if>
		</trim>
	</insert>

	<delete id="deleteByChannelIds">
		delete
		from ${dbMain}.pay_channel_money where channel_id in
		<foreach item="id" collection="channelIds" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
</mapper>