<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.mapper.PayPlatformNewMapper">

    <resultMap type="PayPlatformNew" id="PayPlatformNewResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="code"    column="code"    />
        <result property="merId"    column="mer_id"    />
        <result property="orgId"    column="org_id"    />
        <result property="platPayUrl"    column="plat_pay_url"    />
        <result property="platQueryUrl"    column="plat_query_url"    />
        <result property="signMd5"    column="sign_md5"    />
        <result property="signPublicKey"    column="sign_public_key"    />
        <result property="signPrivateKey"    column="sign_private_key"    />
        <result property="platWhiteIpList"    column="plat_white_ip_list"    />
        <result property="creator"    column="creator"    />
        <result property="createTime"    column="create_time"    />
        <result property="updator"    column="updator"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <resultMap type="RspPayPlatformNew" id="PayPlatformNewResult2">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="code"    column="code"    />
        <result property="merId"    column="mer_id"    />
        <result property="orgId"    column="org_id"    />
        <result property="platPayUrl"    column="plat_pay_url"    />
        <result property="platQueryUrl"    column="plat_query_url"    />
        <result property="platWhiteIpList"    column="plat_white_ip_list"    />
    </resultMap>

    <sql id="selectPayPlatformNewVo">
        select id, name, code, mer_id, org_id, plat_pay_url, plat_query_url, sign_md5, sign_public_key, sign_private_key, plat_white_ip_list, creator, create_time, updator, update_time from pay_platform_new
    </sql>

    <select id="selectPayPlatformNewList" parameterType="PayPlatformNew" resultMap="PayPlatformNewResult2">
        <include refid="selectPayPlatformNewVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="merId != null  and merId != ''"> and mer_id = #{merId}</if>
            <if test="orgId != null  and orgId != ''"> and org_id = #{orgId}</if>
            <if test="platPayUrl != null  and platPayUrl != ''"> and plat_pay_url = #{platPayUrl}</if>
            <if test="platQueryUrl != null  and platQueryUrl != ''"> and plat_query_url = #{platQueryUrl}</if>
            <if test="signMd5 != null  and signMd5 != ''"> and sign_md5 = #{signMd5}</if>
            <if test="signPublicKey != null  and signPublicKey != ''"> and sign_public_key = #{signPublicKey}</if>
            <if test="signPrivateKey != null  and signPrivateKey != ''"> and sign_private_key = #{signPrivateKey}</if>
            <if test="platWhiteIpList != null  and platWhiteIpList != ''"> and plat_white_ip_list = #{platWhiteIpList}</if>
            <if test="creator != null  and creator != ''"> and creator = #{creator}</if>
            <if test="updator != null  and updator != ''"> and updator = #{updator}</if>
        </where>
        ORDER BY create_time desc
    </select>

    <select id="selectPayPlatformNewById" parameterType="Long" resultMap="PayPlatformNewResult">
        <include refid="selectPayPlatformNewVo"/>
        where id = #{id}
    </select>

    <insert id="insertPayPlatformNew" parameterType="PayPlatformNew" useGeneratedKeys="true" keyProperty="id">
        insert into pay_platform_new
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="code != null and code != ''">code,</if>
            <if test="merId != null and merId != ''">mer_id,</if>
            <if test="orgId != null">org_id,</if>
            <if test="platPayUrl != null and platPayUrl != ''">plat_pay_url,</if>
            <if test="platQueryUrl != null">plat_query_url,</if>
            <if test="signMd5 != null">sign_md5,</if>
            <if test="signPublicKey != null">sign_public_key,</if>
            <if test="signPrivateKey != null">sign_private_key,</if>
            <if test="platWhiteIpList != null">plat_white_ip_list,</if>
            <if test="creator != null">creator,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updator != null">updator,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="code != null and code != ''">#{code},</if>
            <if test="merId != null and merId != ''">#{merId},</if>
            <if test="orgId != null">#{orgId},</if>
            <if test="platPayUrl != null and platPayUrl != ''">#{platPayUrl},</if>
            <if test="platQueryUrl != null">#{platQueryUrl},</if>
            <if test="signMd5 != null">#{signMd5},</if>
            <if test="signPublicKey != null">#{signPublicKey},</if>
            <if test="signPrivateKey != null">#{signPrivateKey},</if>
            <if test="platWhiteIpList != null">#{platWhiteIpList},</if>
            <if test="creator != null">#{creator},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updator != null">#{updator},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <insert id="insertPayPlatformConfig" parameterType="PayPlatformNewConfig">
        insert into 7700_main.pay_platform_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="payPlatfrom != null and payPlatfrom != ''">pay_platfrom,</if>
            <if test="payCode != null and payCode != ''">pay_code,</if>
            <if test="payMerid != null">pay_merId,</if>
            <if test="payMethod != null">pay_method,</if>
            <if test="payOrderno != null">pay_orderno,</if>
            <if test="payMoney != null">pay_money,</if>
            <if test="payCallbackurl != null">pay_callbackurl,</if>
            <if test="payReturnurl != null">pay_returnurl,</if>
            <if test="payIp != null">pay_ip,</if>
            <if test="payAppid != null">pay_appid,</if>
            <if test="payTimesecond != null">pay_timesecond,</if>
            <if test="payTime != null">pay_time,</if>
            <if test="payUuidname != null">pay_uuidname,</if>
            <if test="payParam1 != null">pay_param1,</if>
            <if test="payParam2 != null">pay_param2,</if>
            <if test="payParam3 != null">pay_param3,</if>
            <if test="payParam4 != null">pay_param4,</if>
            <if test="payParam5 != null">pay_param5,</if>
            <if test="paySign != null">pay_sign,</if>
            <if test="paySort != null">pay_sort,</if>
            <if test="paySplice != null">pay_splice,</if>
            <if test="payCase != null">pay_case,</if>
            <if test="payHttpmethod != null">pay_httpmethod,</if>
            <if test="payReturntype != null">pay_returntype,</if>
            <if test="payStatus != null">pay_status,</if>
            <if test="payMapname != null">pay_mapname,</if>
            <if test="payUrl != null">pay_url,</if>
            <if test="payFailreason != null">pay_failreason,</if>
            <if test="callbackOrderno != null">callback_orderno,</if>
            <if test="callbackSanorderno != null">callback_sanorderno,</if>
            <if test="callbackParam1 != null">callback_param1,</if>
            <if test="callbackParam2 != null">callback_param2,</if>
            <if test="callbackMethod != null">callback_method,</if>
            <if test="callbackSort != null">callback_sort,</if>
            <if test="callbackSplice != null">callback_splice,</if>
            <if test="callbackStatus != null">callback_status,</if>
            <if test="callbackMoney != null">callback_money,</if>
            <if test="callbackSuccess != null">callback_success,</if>
            <if test="callbackSign != null">callback_sign,</if>
            <if test="queryMerid != null">query_merId,</if>
            <if test="queryOrderno != null">query_orderno,</if>
            <if test="queryTimesecond != null">query_timesecond,</if>
            <if test="queryTime != null">query_time,</if>
            <if test="queryUuidname != null">query_uuidname,</if>
            <if test="queryAppid != null">query_appid,</if>
            <if test="queryParam1 != null">query_param1,</if>
            <if test="querySign != null">query_sign,</if>
            <if test="querySort != null">query_sort,</if>
            <if test="querySplice != null">query_splice,</if>
            <if test="queryCase != null">query_case,</if>
            <if test="queryHttpmethod != null">query_httpmethod,</if>
            <if test="queryReturntype != null">query_returntype,</if>
            <if test="queryStatus != null">query_status,</if>
            <if test="queryMapname != null">query_mapname,</if>
            <if test="queryMoney != null">query_money,</if>
            <if test="querySanorderno != null">query_sanorderno,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="payPlatfrom != null and payPlatfrom != ''">#{payPlatfrom},</if>
            <if test="payCode != null and payCode != ''">#{payCode},</if>
            <if test="payMerid != null">#{payMerid},</if>
            <if test="payMethod != null">#{payMethod},</if>
            <if test="payOrderno != null">#{payOrderno},</if>
            <if test="payMoney != null">#{payMoney},</if>
            <if test="payCallbackurl != null">#{payCallbackurl},</if>
            <if test="payReturnurl != null">#{payReturnurl},</if>
            <if test="payIp != null">#{payIp},</if>
            <if test="payAppid != null">#{payAppid},</if>
            <if test="payTimesecond != null">#{payTimesecond},</if>
            <if test="payTime != null">#{payTime},</if>
            <if test="payUuidname != null">#{payUuidname},</if>
            <if test="payParam1 != null">#{payParam1},</if>
            <if test="payParam2 != null">#{payParam2},</if>
            <if test="payParam3 != null">#{payParam3},</if>
            <if test="payParam4 != null">#{payParam4},</if>
            <if test="payParam5 != null">#{payParam5},</if>
            <if test="paySign != null">#{paySign},</if>
            <if test="paySort != null">#{paySort},</if>
            <if test="paySplice != null">#{paySplice},</if>
            <if test="payCase != null">#{payCase},</if>
            <if test="payHttpmethod != null">#{payHttpmethod},</if>
            <if test="payReturntype != null">#{payReturntype},</if>
            <if test="payStatus != null">#{payStatus},</if>
            <if test="payMapname != null">#{payMapname},</if>
            <if test="payUrl != null">#{payUrl},</if>
            <if test="payFailreason != null">#{payFailreason},</if>
            <if test="callbackOrderno != null">#{callbackOrderno},</if>
            <if test="callbackSanorderno != null">#{callbackSanorderno},</if>
            <if test="callbackParam1 != null">#{callbackParam1},</if>
            <if test="callbackParam2 != null">#{callbackParam2},</if>
            <if test="callbackMethod != null">#{callbackMethod},</if>
            <if test="callbackSort != null">#{callbackSort},</if>
            <if test="callbackSplice != null">#{callbackSplice},</if>
            <if test="callbackStatus != null">#{callbackStatus},</if>
            <if test="callbackMoney != null">#{callbackMoney},</if>
            <if test="callbackSuccess != null">#{callbackSuccess},</if>
            <if test="callbackSign != null">#{callbackSign},</if>
            <if test="queryMerid != null">#{queryMerid},</if>
            <if test="queryOrderno != null">#{queryOrderno},</if>
            <if test="queryTimesecond != null">#{queryTimesecond},</if>
            <if test="queryTime != null">#{queryTime},</if>
            <if test="queryUuidname != null">#{queryUuidname},</if>
            <if test="queryAppid != null">#{queryAppid},</if>
            <if test="queryParam1 != null">#{queryParam1},</if>
            <if test="querySign != null">#{querySign},</if>
            <if test="querySort != null">#{querySort},</if>
            <if test="querySplice != null">#{querySplice},</if>
            <if test="queryCase != null">#{queryCase},</if>
            <if test="queryHttpmethod != null">#{queryHttpmethod},</if>
            <if test="queryReturntype != null">#{queryReturntype},</if>
            <if test="queryStatus != null">#{queryStatus},</if>
            <if test="queryMapname != null">#{queryMapname},</if>
            <if test="queryMoney != null">#{queryMoney},</if>
            <if test="querySanorderno != null">#{querySanorderno},</if>
        </trim>
    </insert>

    <update id="updatePayPlatformNew" parameterType="PayPlatformNew">
        update pay_platform_new
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="merId != null and merId != ''">mer_id = #{merId},</if>
            <if test="orgId != null">org_id = #{orgId},</if>
            <if test="platPayUrl != null and platPayUrl != ''">plat_pay_url = #{platPayUrl},</if>
            <if test="platQueryUrl != null">plat_query_url = #{platQueryUrl},</if>
            <if test="signMd5 != null">sign_md5 = #{signMd5},</if>
            <if test="signPublicKey != null">sign_public_key = #{signPublicKey},</if>
            <if test="signPrivateKey != null">sign_private_key = #{signPrivateKey},</if>
            <if test="platWhiteIpList != null">plat_white_ip_list = #{platWhiteIpList},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updator != null">updator = #{updator},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePayPlatformNewById" parameterType="Long">
        delete from pay_platform_new where id = #{id}
    </delete>

    <delete id="deletePayPlatformNewByIds" parameterType="String">
        delete from pay_platform_new where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
