<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.mapper.ReportPlamGamesMapper">

    <resultMap type="ReportPlamGames" id="ReportPlamGamesResult">
        <result property="gameUuid"    column="game_uuid"    />
        <result property="gameagent"    column="gameagent"    />
        <result property="gameplame"    column="gameplame"    />
        <result property="gamepepole"    column="gamepepole"    />
        <result property="gametouzhu"    column="gametouzhu"    />
        <result property="gamecell"    column="gamecell"    />
        <result property="gamebet"    column="gamebet"    />
        <result property="gamerevenve"    column="gamerevenve"    />
        <result property="gameprofit"    column="gameprofit"    />
        <result property="plampfit"    column="plampfit"    />
        <result property="bili"    column="bili"    />
        <result property="begindate"    column="begindate"    />
        <result property="updateTime"    column="updatetime"    />
    </resultMap>

    <sql id="selectReportPlamGamesVo">
        select game_uuid, gameagent, gameplame, gamepepole, gametouzhu, gamecell, gamebet, gamerevenve, gameprofit, plampfit, bili, begindate,updatetime as updateTime from report_plam_games
    </sql>

    <select id="selectReportPlamGamesList" parameterType="ReportPlamGames" resultMap="ReportPlamGamesResult">
        <include refid="selectReportPlamGamesVo"/>
        <where>
            <if test="gameplame != null  and gameplame != ''"> and gameplame = #{gameplame}</if>
            <if test="begindate != null "> and begindate = #{begindate}</if>
        </where>
        order by updatetime desc
    </select>
    <select id="calldataProrepPlamcom" resultType="string" statementType="CALLABLE">
        {call prorep_plamgame(#{timedateta,mode=IN,jdbcType=VARCHAR},#{timedateta,mode=IN,jdbcType=VARCHAR},#{result,mode=OUT,jdbcType=VARCHAR})}
    </select>

    <select id="countBetData" resultType="com.qiqilm.server.admin.domain.ReportPlamGames">
        select sum(gamecell) as countBetMoney,sum(gamepepole) as countBetPeople
        from ${dbMain}.report_plam_games
        <where>
            <if test="gameplame != null  and gameplame != ''"> and gameplame = #{gameplame}</if>
            <if test="begindate != null "> and begindate = #{begindate}</if>
        </where>
    </select>
</mapper>