<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.mapper.ReportMemberStatisticsMapper">

    <select id="getTotalRecharge" resultType="java.math.BigDecimal">
        SELECT sum(a.recharge_money) total_recharge
        FROM (
        SELECT p.recharge_acount member_id, p.money recharge_money
        FROM pay_agent_recharge_record p
        <where>
            <if test="inclusive_date != null">
                and p.create_time >= STR_TO_DATE(CONCAT(#{inclusive_date},' 00:00:00'),'%Y-%m-%d %H:%i:%s')
                and p.create_time &lt;= STR_TO_DATE(CONCAT(#{inclusive_date},' 23:59:59'),'%Y-%m-%d %H:%i:%s')
            </if>
        </where>
        UNION ALL
        SELECT m.member_id, m.recharge_money
        FROM member_recharge_log m
        WHERE m.status = '3'
        <if test="inclusive_date != null">
            and m.update_time >= STR_TO_DATE(CONCAT(#{inclusive_date},' 00:00:00'),'%Y-%m-%d %H:%i:%s')
            and m.update_time &lt;= STR_TO_DATE(CONCAT(#{inclusive_date},' 23:59:59'),'%Y-%m-%d %H:%i:%s')
        </if>
        UNION ALL
        SELECT u.member_id, u.recharge_money
        FROM pay_usdt_recharge u
        where u.status = '3'
        <if test="inclusive_date != null">
            and u.update_time >= STR_TO_DATE(CONCAT(#{inclusive_date},' 00:00:00'),'%Y-%m-%d %H:%i:%s')
            and u.update_time &lt;= STR_TO_DATE(CONCAT(#{inclusive_date},' 23:59:59'),'%Y-%m-%d %H:%i:%s')
        </if>
        UNION ALL
        select j.member_id, j.money recharge_money
        from member_pay_jour j where j.status = '1'
        <if test="inclusive_date != null">
            and j.update_time >= STR_TO_DATE(CONCAT(#{inclusive_date},' 00:00:00'),'%Y-%m-%d %H:%i:%s')
            and j.update_time &lt;= STR_TO_DATE(CONCAT(#{inclusive_date},' 23:59:59'),'%Y-%m-%d %H:%i:%s')
        </if>
        ) as a
        left join member_info as mi on mi.id = a.member_id
        where mi.inviter_code = #{channelCode}
    </select>
    <select id="getTotalWithdrawal" resultType="java.math.BigDecimal">
        select sum(withdraw_money) as total_withdrawal from member_withdraw_log
        where status in (3, 6)
        <if test="inclusive_date != null">
            and update_time >= STR_TO_DATE(CONCAT(#{inclusive_date},' 00:00:00'),'%Y-%m-%d %H:%i:%s')
            and update_time &lt;= STR_TO_DATE(CONCAT(#{inclusive_date},' 23:59:59'),'%Y-%m-%d %H:%i:%s')
        </if>
        <if test="channelCode != null">
            and member_id in (SELECT id from member_info where inviter_code = #{channelCode})
        </if>
    </select>
    <select id="getUserBalance" resultType="java.math.BigDecimal">
        select sum(total_account) from member_info
        <where>
            <if test="inclusive_date != null">
                and reg_time >= STR_TO_DATE(CONCAT(#{inclusive_date},' 00:00:00'),'%Y-%m-%d %H:%i:%s')
                and reg_time &lt;= STR_TO_DATE(CONCAT(#{inclusive_date},' 23:59:59'),'%Y-%m-%d %H:%i:%s')
            </if>
            <if test="channelCode != null">
                and inviter_code = #{channelCode}
            </if>
        </where>
    </select>
    <select id="getTotalRegistration" resultType="java.lang.Long">
        select count(id) total_registration from member_info
        <where>
            <if test="inclusive_date != null">
                and reg_time >= STR_TO_DATE(CONCAT(#{inclusive_date},' 00:00:00'),'%Y-%m-%d %H:%i:%s')
                and reg_time &lt;= STR_TO_DATE(CONCAT(#{inclusive_date},' 23:59:59'),'%Y-%m-%d %H:%i:%s')
            </if>
            <if test="channelCode != null">
                and inviter_code = #{channelCode}
            </if>
        </where>
    </select>
    <select id="getTotalGift" resultType="java.math.BigDecimal">
        select ifnull( SUM( lvp.total_ticket ), 0.0 ) total_gift from ${dbLive}.live_video_prop lvp
        where lvp.to_user_id > 0
        <if test="inclusive_date != null">
            and lvp.create_date = #{inclusive_date}
        </if>
        <if test="channelCode != null">
            and lvp.p_user_id in ( select mi.id from ${dbMain}.member_info mi where mi.inviter_code = #{channelCode} )
        </if>
    </select>

    <select id="getDailyFirstRechargeCount" resultType="java.lang.Long">
        SELECT ifnull(count(distinct a.member_id), 0) total_recharge
        FROM (select DISTINCT member_id
              from member_recharge_log
              where `first` = '1'
                and `status` = '3'
                and member_id in (select id from member_info where inviter_code = #{channelCode})
                and update_time >= STR_TO_DATE(CONCAT(#{inclusive_date}, ' 00:00:00'), '%Y-%m-%d %H:%i:%s')
                and update_time &lt;= STR_TO_DATE(CONCAT(#{inclusive_date}, ' 23:59:59'), '%Y-%m-%d %H:%i:%s')
              UNION ALL
              select DISTINCT member_id
              from member_pay_jour
              where `first` = '1'
                and `status` = '1'
                and member_id in (select id from member_info where inviter_code = #{channelCode})
                and update_time >= STR_TO_DATE(CONCAT(#{inclusive_date}, ' 00:00:00'), '%Y-%m-%d %H:%i:%s')
                and update_time &lt;= STR_TO_DATE(CONCAT(#{inclusive_date}, ' 23:59:59'), '%Y-%m-%d %H:%i:%s')) a
    </select>

    <select id="getDailyRechargeCount" resultType="java.lang.Long">
        SELECT ifnull(count( distinct a.member_id), 0)
        FROM (
        SELECT distinct p.recharge_acount member_id
        FROM pay_agent_recharge_record p
        <where>
            <if test="inclusive_date != null">
                and p.create_time >= STR_TO_DATE(CONCAT(#{inclusive_date},' 00:00:00'),'%Y-%m-%d %H:%i:%s')
                and p.create_time &lt;= STR_TO_DATE(CONCAT(#{inclusive_date},' 23:59:59'),'%Y-%m-%d %H:%i:%s')
            </if>
        </where>
        UNION ALL
        SELECT distinct m.member_id
        FROM member_recharge_log m
        WHERE m.status = '3'
        <if test="inclusive_date != null">
            and m.update_time >= STR_TO_DATE(CONCAT(#{inclusive_date},' 00:00:00'),'%Y-%m-%d %H:%i:%s')
            and m.update_time &lt;= STR_TO_DATE(CONCAT(#{inclusive_date},' 23:59:59'),'%Y-%m-%d %H:%i:%s')
        </if>
        UNION ALL
        SELECT distinct u.member_id
        FROM pay_usdt_recharge u
        where u.status = '3'
        <if test="inclusive_date != null">
            and u.update_time >= STR_TO_DATE(CONCAT(#{inclusive_date},' 00:00:00'),'%Y-%m-%d %H:%i:%s')
            and u.update_time &lt;= STR_TO_DATE(CONCAT(#{inclusive_date},' 23:59:59'),'%Y-%m-%d %H:%i:%s')
        </if>
        UNION ALL
        select j.member_id
        from member_pay_jour j where j.status = '1'
        <if test="inclusive_date != null">
            and j.update_time >= STR_TO_DATE(CONCAT(#{inclusive_date},' 00:00:00'),'%Y-%m-%d %H:%i:%s')
            and j.update_time &lt;= STR_TO_DATE(CONCAT(#{inclusive_date},' 23:59:59'),'%Y-%m-%d %H:%i:%s')
        </if>
        ) as a
        left join member_info as mi on mi.id = a.member_id
        where mi.inviter_code = #{channelCode}
    </select>

    <select id="getDailyWithdrawCount" resultType="java.lang.Long">
        select ifnull(sum(withdraw_money),0) withdraw_money from member_withdraw_log
        <where>
            `status` in (3, 6)
            <if test="req.inclusive_date != null">
                and update_time <![CDATA[ >= ]]>  STR_TO_DATE(CONCAT(#{req.inclusive_date},' 00:00:00'),'%Y-%m-%d %H:%i:%s')
                and update_time <![CDATA[ <= ]]>  STR_TO_DATE(CONCAT(#{req.inclusive_date},' 23:59:59'),'%Y-%m-%d %H:%i:%s')
            </if>
            <if test="req.channelCode != null">
                and member_id in (select id from member_info where inviter_code = #{req.channelCode})
            </if>

        </where>
    </select>

    <select id="getRechargeStats" resultType="com.qiqilm.server.admin.im.vo.RechargeStatsDto">
        SELECT ifnull(count( distinct a.member_id), 0) dailyRechargeCount,
        ifnull(sum( distinct a.recharge_money), 0) totalRecharge
        FROM (
        SELECT p.member_id member_id, p.recharge_money
        FROM member_recharge_log p
        WHERE p.status = 3
        <if test="req.inclusive_date != null">
            and p.update_time <![CDATA[ >= ]]>  STR_TO_DATE(CONCAT(#{req.inclusive_date},' 00:00:00'),'%Y-%m-%d %H:%i:%s')
            and p.update_time <![CDATA[ <= ]]>  STR_TO_DATE(CONCAT(#{req.inclusive_date},' 23:59:59'),'%Y-%m-%d %H:%i:%s')
        </if>
        ) as a
        inner join member_info as mi on mi.id = a.member_id
        where mi.inviter_code = #{req.channelCode}
    </select>

</mapper>
