<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.mapper.ReportIncomeDayMapper">

    <resultMap type="ReportIncomeDay" id="ReportIncomeDayResult">
        <result property="reppayId"    column="reppay_id"    />
        <result property="money"    column="money"    />
        <result property="type"    column="type"    />
        <result property="payplam"    column="payplam"    />
        <result property="paychancl"    column="paychancl"    />
        <result property="paycard"    column="paycard"    />
        <result property="paydate"    column="paydate"    />
    </resultMap>

    <sql id="selectReportIncomeDayVo">
        select reppay_id, money, type, payplam, paychancl, paycard, paydate from 7700_main.report_income_day
    </sql>

    <select id="selectReportIncomeDayList" parameterType="ReportIncomeDay" resultMap="ReportIncomeDayResult">
        <include refid="selectReportIncomeDayVo"/>
        <where>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(paydate,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(paydate,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
    </select>
    <select id="calldataProrepPlamcom" resultType="string" statementType="CALLABLE">
        {call prorep_incomeday(#{timedateta,mode=IN,jdbcType=VARCHAR},#{timedateta,mode=IN,jdbcType=VARCHAR},#{result,mode=OUT,jdbcType=VARCHAR})}
    </select>
    <select id="countSuccessMoney" resultType="com.qiqilm.server.admin.domain.ReportIncomeDay">
        select sum(money) as countSuccessMoney
        from 7700_main.report_income_day
        <where>
            <if test="paydate != null  and paydate != ''"> and paydate = #{paydate}</if>
        </where>
    </select>
</mapper>