<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.mapper.ReportMoneyinfoMapper">

    <resultMap type="ReportMoneyinfo" id="ReportMoneyinfoResult">
        <result property="repId"    column="rep_id"    />
        <result property="reptime"    column="reptime"    />
        <result property="gsRukuanrenshu"    column="gs_rukuanrenshu"    />
        <result property="gsRukuanjine"    column="gs_rukuanjine"    />
        <result property="xsRukunanrenshu"    column="xs_rukunanrenshu"    />
        <result property="xsRukunanjine"    column="xs_rukunanjine"    />
        <result property="rgRukunanrenshu"    column="rg_rukunanrenshu"    />
        <result property="rgRukunanjine"    column="rg_rukunanjine"    />
        <result property="palmYouhuirenshu"    column="palm_youhuirenshu"    />
        <result property="palmYouhuijine"    column="palm_youhuijine"    />
        <result property="totalRukuanrenshu"    column="total_rukuanrenshu"    />
        <result property="totalRukuanjine"    column="total_rukuanjine"    />
        <result property="totalChukuanrenshu"    column="total_chukuanrenshu"    />
        <result property="totalChukuanjine"    column="total_chukuanjine"    />
        <result property="totalAccount"    column="total_account"    />
        <result property="totalProfile"    column="total_profile"    />
        <result property="totalGiveprop"    column="total_giveprop"    />
        <result property="totalLast"    column="total_last"    />
        <result property="updateTime"    column="updatetime"    />
        <result property="totalActiveprop"    column="total_activeprop"    />
        <result property="usdtRenshu" column="usdt_renshu" />
        <result property="usdtJine" column="usdt_jine" />
    </resultMap>

    <sql id="selectReportMoneyinfoVo">
        select rep_id, reptime, gs_rukuanrenshu, gs_rukuanjine, xs_rukunanrenshu, xs_rukunanjine, rg_rukunanrenshu, rg_rukunanjine, palm_youhuirenshu,
               palm_youhuijine, total_rukuanrenshu, total_rukuanjine, total_chukuanrenshu, total_chukuanjine, total_account, total_profile,
               total_giveprop, total_last,total_activeprop, usdt_renshu,usdt_jine,updatetime as updateTime from report_moneyinfo
    </sql>

    <select id="selectReportMoneyinfoList" parameterType="ReportMoneyinfo" resultMap="ReportMoneyinfoResult">
        <include refid="selectReportMoneyinfoVo"/>
        <where>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(reptime,'%y%m%d') <![CDATA[ >= ]]> date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(reptime,'%y%m%d') <![CDATA[ <= ]]> date_format(#{params.endTime},'%y%m%d')
            </if>
            order by reptime desc

        </where>
    </select>
    <select id="countMoneyInfoData" resultType="com.qiqilm.server.admin.domain.ReportMoneyinfo">
        select
        sum(total_rukuanjine) as paymentAmount,sum(total_chukuanjine) as outMoney,sum(total_giveprop) as totalAccountGifts
        FROM report_moneyinfo
        <where>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(reptime,'%y%m%d') <![CDATA[ >= ]]> date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(reptime,'%y%m%d') <![CDATA[ <= ]]> date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
    </select>
    <select id="calldataProrepPlamcom" resultType="string" statementType="CALLABLE">
        {call prorep_moneyinfo(#{statimedateta,mode=IN,jdbcType=VARCHAR},#{endtimedateta,mode=IN,jdbcType=VARCHAR},#{result,mode=OUT,jdbcType=VARCHAR})}
    </select>
</mapper>