<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.mapper.ReportMemberStatisticsMapper">

    <select id="getTotalRecharge" resultType="java.math.BigDecimal">
        SELECT sum(a.recharge_money) total_recharge
        FROM (SELECT p.member_id, p.money recharge_money
        FROM pay_agent_recharge_log p
        <if test="req.inclusive_date != null">
            WHERE DATE_FORMAT(p.create_time, '%Y-%m-%d') = #{req.inclusive_date}
        </if>
        UNION ALL
        SELECT m.member_id, m.recharge_money
        FROM member_recharge_log m
        WHERE m.`type` = 1
        <if test="req.inclusive_date != null">
            and DATE_FORMAT(m.create_time, '%Y-%m-%d') = #{req.inclusive_date}
        </if>
        UNION ALL
        SELECT u.member_id, u.recharge_money
        FROM pay_usdt_recharge u
        <if test="req.inclusive_date != null">
            where DATE_FORMAT(u.create_time, '%Y-%m-%d') = #{req.inclusive_date}
        </if>
        UNION ALL
        select j.member_id, j.money recharge_money
        from member_pay_jour j where j.status = '1'
        <if test="req.inclusive_date != null">
            and DATE_FORMAT(j.pay_time, '%Y-%m-%d') = #{req.inclusive_date}
        </if>
        ) as a
        left join member_info as mi on mi.id = a.member_id
        <if test="req.channelCode != null">
            where mi.inviter_code in (SELECT inviter_code from member_info where inviter_code = #{req.channelCode})
        </if>
        group by mi.inviter_code
    </select>
    <select id="getTotalWithdrawal" resultType="java.math.BigDecimal">
        select sum(withdraw_money) as total_withdrawal from member_withdraw_log
        <where>
            <if test="req.inclusive_date != null">
                and DATE_FORMAT(create_time, '%Y-%m-%d') = #{req.inclusive_date}
            </if>
            <if test="req.channelCode != null">
                and member_id in (SELECT id from member_info where inviter_code = #{req.channelCode})
            </if>
        </where>
        group by member_id
    </select>
    <select id="getUserBalance" resultType="java.math.BigDecimal">
        select sum(total_account) from member_info
        <where>
            <if test="req.inclusive_date != null">
                and DATE_FORMAT(reg_time, '%Y-%m-%d') = #{req.inclusive_date}
            </if>
            <if test="req.channelCode != null">
                and inviter_code = #{req.channelCode}
            </if>
        </where>
    </select>
    <select id="getTotalRegistration" resultType="java.lang.Long">
        select count(id) total_registration from member_info
        <where>
            <if test="req.inclusive_date != null">
                and DATE_FORMAT(reg_time, '%Y-%m-%d') = #{req.inclusive_date}
            </if>
            <if test="req.channelCode != null">
                and inviter_code = #{req.channelCode}
            </if>
        </where>
    </select>
    <select id="getTotalGift" resultType="java.math.BigDecimal">
        select ifnull(SUM(lvp.total_ticket),0.0) total_gift from ${dbLive}.live_video_prop lvp
        <where>
            and lvp.prop_id > 0
            <if test="req.inclusive_date != null">
                and DATE_FORMAT(lvp.create_date, '%Y-%m-%d') = #{req.inclusive_date}
            </if>
            <if test="req.channelCode != null">
                and lvp.p_user_id in (select mi.id from ${dbMain}.member_info mi where mi.inviter_code = #{req.channelCode})
            </if>
        </where>
    </select>

    <select id="getDailyRechargeCount" resultType="java.lang.Long">
        SELECT ifnull(count( a.member_id), 0)
        FROM (
        SELECT p.member_id member_id, MIN(date(p.pay_time)) date
        FROM member_pay_jour p
        WHERE p.status = 1
        group by p.member_id
        <if test="inclusive_date != null and inclusive_date != '' ">
            having DATE_FORMAT(date, '%Y-%m-%d') = #{inclusive_date}
        </if>

        UNION ALL
        SELECT m.member_id member_id, MIN(date(m.create_time)) date
        FROM pay_usdt_recharge m
        WHERE m.status = 3
        group by m.member_id
        <if test="inclusive_date != null and inclusive_date != ''">
            having DATE_FORMAT(date, '%Y-%m-%d') = #{inclusive_date}
        </if>

        UNION ALL
        SELECT u.member_id member_id, MIN(date(u.create_time)) date
        FROM member_recharge_log u
        WHERE u.status = 3
        group by u.member_id
        <if test="inclusive_date != null and inclusive_date != ''">
            having DATE_FORMAT(date, '%Y-%m-%d') = #{inclusive_date}
        </if>
        ) as a
        inner join member_info as mi on mi.id = a.member_id
        <if test="channelCode != null and channelCode != ''">
            where mi.inviter_code in (SELECT inviter_code from member_info where inviter_code = #{channelCode})
        </if>
    </select>

    <select id="getDailyFirstRechargeCount" resultType="java.lang.Long">

        SELECT ifnull(count( distinct a.member_id), 0) total_recharge
        FROM (
        SELECT p.member_id member_id, p.money
        FROM member_pay_jour p
        WHERE p.status = 1
        <if test="req.inclusive_date != null and req.inclusive_date != ''">
            and DATE_FORMAT(p.pay_time, '%Y-%m-%d') = #{req.inclusive_date}
        </if>

        UNION ALL

        SELECT m.member_id member_id, m.recharge_money money
        FROM pay_usdt_recharge m
        WHERE m.status = 3
        <if test="req.inclusive_date != null and req.inclusive_date != ''">
            and DATE_FORMAT(m.create_time, '%Y-%m-%d') = #{req.inclusive_date}
        </if>

        UNION ALL

        SELECT u.member_id member_id, u.recharge_money money
        FROM member_recharge_log u
        WHERE u.status = 3
        <if test="req.inclusive_date != null and req.inclusive_date != ''">
            and DATE_FORMAT(u.create_time, '%Y-%m-%d') = #{req.inclusive_date}
        </if>
        ) as a
        inner join member_info as mi on mi.id = a.member_id
        <if test="req.channelCode != null and req.channelCode != ''">
            where mi.inviter_code in (SELECT inviter_code from member_info where inviter_code = #{req.channelCode})
        </if>
    </select>

</mapper>
