<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.mapper.ReportPlamGamesMapper">

    <resultMap type="ReportPlamGames" id="ReportPlamGamesResult">
        <result property="gameUuid"    column="game_uuid"    />
        <result property="gameagent"    column="gameagent"    />
        <result property="gameplame"    column="gameplame"    />
        <result property="gamepepole"    column="gamepepole"    />
        <result property="gametouzhu"    column="gametouzhu"    />
        <result property="gamecell"    column="gamecell"    />
        <result property="gamebet"    column="gamebet"    />
        <result property="gamerevenve"    column="gamerevenve"    />
        <result property="gameprofit"    column="gameprofit"    />
        <result property="plampfit"    column="plampfit"    />
        <result property="bili"    column="bili"    />
        <result property="begindate"    column="begindate"    />
        <result property="updateTime"    column="updatetime"    />
    </resultMap>

    <sql id="selectReportPlamGamesVo">
        select
        gameagent,
        gameplame,
        sum(gamepepole)     as gamepepole,
        sum(gametouzhu)     as gametouzhu,
        sum(gamecell)       as gamecell,
        sum(gamebet)        as gamebet,
        sum(gameprofit)     as gameprofit,
        CONCAT( ROUND( sum( gameprofit ) / sum( gamecell ) * 100, 2 ), '%' ) as bili,
        <choose>
            <when test="endDate != null">
                CONCAT( #{begindate}, ' - ', #{endDate} ) as begindate
            </when>
            <otherwise>
                begindate
            </otherwise>
        </choose>
        from
        report_plam_games
    </sql>

    <select id="selectReportPlamGamesList" parameterType="ReportPlamGames" resultMap="ReportPlamGamesResult">
        <include refid="selectReportPlamGamesVo"/>
        <where>
            <if test="gameplame != null  and gameplame != ''">
                and gameplame = #{gameplame}
            </if>
            <if test="begindate != null and begindate != ''">
                and begindate <![CDATA[ >= ]]> #{begindate}
            </if>
            <if test="endDate != null and endDate != ''">
                and begindate <![CDATA[ <= ]]> #{endDate}
            </if>
        </where>
        GROUP BY gameagent, gameplame
    </select>

    <select id="calldataProrepPlamcom" resultType="string" statementType="CALLABLE">
        {call prorep_plamgame(#{timedateta,mode=IN,jdbcType=VARCHAR},#{timedateta,mode=IN,jdbcType=VARCHAR},#{result,mode=OUT,jdbcType=VARCHAR})}
    </select>

    <select id="countBetData" resultType="com.qiqilm.server.admin.domain.ReportPlamGames">
        select sum(gamecell) as countBetMoney,
               sum(gamepepole) as countBetPeople,
               sum(gameprofit) as memberProfit
        from ${dbMain}.report_plam_games
        <where>
            <if test="gameplame != null  and gameplame != ''">
                and gameplame = #{gameplame}
            </if>
            <if test="begindate != null and begindate != ''">
                and begindate <![CDATA[ >= ]]> #{begindate}
            </if>
            <if test="endDate != null and endDate != ''">
                and begindate <![CDATA[ <= ]]> #{endDate}
            </if>
        </where>
    </select>

    <select id="selectReportPlamGamesListMonth"  resultType="com.qiqilm.server.admin.domain.rsp.RspPlamGamesMonth">
        select gameplame,
        SUM(gamecell) as gamecell,
        SUM(gamecell) - SUM(plampfit) as paicai,
        SUM(plampfit) as gameprofit
        from report_plam_games
        <where>
            <if test="gameplame != null  and gameplame != ''">and gameplame = #{gameplame}</if>
            <if test="begindate!= null and begindate != ''"><!-- 开始时间检索 -->
                AND begindate <![CDATA[ >= ]]>  STR_TO_DATE(#{begindate},'%Y-%m-%d')
            </if>
            <if test="endDate != null and endDate != ''"><!-- 结束时间检索 -->
                AND begindate <![CDATA[ <= ]]> STR_TO_DATE(#{endDate},'%Y-%m-%d')
            </if>
        </where>
        GROUP BY gameplame
        UNION all
        select '送礼金额' as liveprop,
        '0' as gamecell,
        '0' as paicai,
        SUM(ticket) from ${dbLive}.live_host_wage_day
        where id like concat(#{dateTime}, '%') and ticket is not NULL
        UNION all
        SELECT '主播结算打码' AS liveprop, '0' AS gamecell, '0' AS paicai, SUM( lottery_cost ) FROM
        ${dbLive}.live_host_wage_day WHERE id LIKE concat(#{dateTime}, '%') and lottery_cost is not NULL UNION ALL
        select '坐骑金额' as liveprop,'0' as gamecell,'0' as paicai,SUM(total_diamonds)from ${dbLive}.live_video_prop
        where p_user_id not in
        (select id from member_info where STATUS = 2 ) AND prop_id = '-2'
        <if test="begindate!= null and begindate != ''"><!-- 开始时间检索 -->
            AND create_date <![CDATA[ >= ]]>  STR_TO_DATE(#{begindate},'%Y-%m-%d')
        </if>
        <if test="endDate != null and endDate != ''"><!-- 结束时间检索 -->
            AND create_date <![CDATA[ <= ]]> STR_TO_DATE(#{endDate},'%Y-%m-%d')
        </if>
    </select>

    <select id="countBetMonth"  resultType="com.qiqilm.server.admin.domain.rsp.RspPlamGamesMonth">
        select SUM(plampfit)  as countBetMoney  from report_plam_games
        <where>
            <if test="gameplame != null  and gameplame != ''"> and gameplame = #{gameplame}</if>
            <if test="begindate!= null and begindate != ''"><!-- 开始时间检索 -->
                AND date_format(begindate,'%y%m%d') <![CDATA[ >= ]]> date_format(#{begindate},'%y%m%d')
            </if>
            <if test="endDate != null and endDate != ''"><!-- 结束时间检索 -->
                AND date_format(begindate,'%y%m%d') <![CDATA[ <= ]]> date_format(#{endDate},'%y%m%d')
            </if>
        </where>
    </select>
</mapper>