<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.mapper.WheelPoolHistoryMapper">

    <resultMap type="WheelPoolHistory" id="WheelPoolHistoryResult">
        <result property="id"    column="id"    />
        <result property="memberId"  column="member_id"    />
        <result property="nickName"  column="nick_name"    />
        <result property="headId"  column="head_id"    />
        <result property="status"  column="status"    />
        <result property="first"  column="first"    />
        <result property="prize"  column="prize"    />
        <result property="winId"  column="win_id"    />
        <result property="medalType"  column="medal_type"    />
        <result property="drawType"  column="draw_type"    />
        <result property="position"  column="position"    />
        <result property="createTime"  column="create_time"    />
        <result property="updateTime"  column="update_time"    />
    </resultMap>

    <sql id="selectWheelPoolHistoryVo">
        select id, member_id, nick_name, head_id, status,first,prize,win_id,medal_type,draw_type,position,create_time,update_time from ${dbLive}.wheel_pool_history
    </sql>

    <select id="selectAllWheelPoolHistory" parameterType="WheelPoolHistory" resultMap="WheelPoolHistoryResult">
        <include refid="selectWheelPoolHistoryVo"/>
        <where>
            <include refid="selectWhere" />
        </where>
        order by update_time desc
    </select>

    <sql id="selectWhere">
        <if test="memberId != null  and memberId != ''"> and member_id like concat('%', #{memberId}, '%')</if>
        <if test="nickName != null  and nickName != ''"> and nick_name like concat('%',#{nickName},'%')</if>
        <if test="medalType != null and medalType !='' "> and medal_type = #{medalType},</if>
        <if test="position != null and position !='' "> and position = #{position},</if>
        <if test="createTime !=null">and create_time = #{createTime},</if>
        <if test="updateTime !=null">and update_time = #{updateTime},</if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            AND update_time <![CDATA[ >= ]]> STR_TO_DATE(#{params.beginTime},'%Y-%m-%d %H:%i:%s')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            AND update_time <![CDATA[ <= ]]> STR_TO_DATE(#{params.endTime},'%Y-%m-%d %H:%i:%s')
        </if>
    </sql>

    <select id="listCount" resultType="java.util.Map">
        SELECT
        count( h.id ) AS totalCount,
        SUM( h.prize ) AS totalMoney,
        'n' AS statusStr
        FROM
        ${dbLive}.wheel_pool_history h INNER JOIN
        ${dbMain}.member_info m on m.id = h.member_id
        WHERE
        m.status <![CDATA[ <> ]]> 2
        <include refid="selectWhere" />
        UNION
        SELECT
        count( h.id ) AS totalCount,
        SUM( h.prize ) AS totalMoney,
        't' AS statusStr
        FROM
        ${dbLive}.wheel_pool_history h INNER JOIN
        ${dbMain}.member_info m on m.id = h.member_id
        WHERE
        m.status = 2
        <include refid="selectWhere" />
    </select>

</mapper>




















