<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqilm.server.admin.mapper.WheelPoolHistoryMapper">

    <resultMap type="WheelPoolHistory" id="WheelPoolHistoryResult">
        <result property="id"    column="id"    />
        <result property="memberId"  column="member_id"    />
        <result property="nickName"  column="nick_name"    />
        <result property="headId"  column="head_id"    />
        <result property="status"  column="status"    />
        <result property="first"  column="first"    />
        <result property="prize"  column="prize"    />
        <result property="winId"  column="win_id"    />
        <result property="medalType"  column="medal_type"    />
        <result property="drawType"  column="draw_type"    />
        <result property="position"  column="position"    />
        <result property="createTime"  column="create_time"    />
        <result property="updateTime"  column="update_time"    />
    </resultMap>

    <sql id="selectWheelPoolHistoryVo">
        select id, member_id, nick_name, head_id, status,first,prize,win_id,medal_type,draw_type,position,create_time,update_time from ${dbLive}.wheel_pool_history
    </sql>

    <select id="selectAllWheelPoolHistory" parameterType="WheelPoolHistory" resultMap="WheelPoolHistoryResult">
        <include refid="selectWheelPoolHistoryVo"/>
        <where>
            <if test="memberId != null  and memberId != ''"> and member_id like concat('%', #{memberId}, '%')</if>
            <if test="nickName != null  and nickName != ''"> and nick_name like concat('%',#{nickName},'%')</if>
            <if test="medalType != null and medalType !='' "> and medal_type = #{medalType},</if>
            <if test="position != null and position !='' "> and position = #{position},</if>
            <if test="createTime !=null">and create_time = #{createTime},</if>
            <if test="updateTime !=null">and update_time = #{updateTime}</if>
        </where>
    </select>

</mapper>




















